.maincontainer {
  width: 658px;
  float: left;
  background: transparent linear-gradient(137deg, #FFFFFF 0%, #E4E9F5 100%) 0% 0% no-repeat;
  box-shadow: 12px 20px 40px #084F7F29;
  border-radius: 20px;
  margin-bottom: 47px;
  overflow: hidden;
}
.maincontainer h2 { margin-left: 0px;  margin-right: 15px;  margin-bottom: 0px; color: #5685bc; }

.maincontainer p { margin-left: 15px; margin-right: 15px;  margin-top: 10px; margin-bottom: 10px; line-height: 1.3; font-size: small; }

.maincontainer ul { margin-left: 25px; font-size: small; line-height: 1.4; list-style-type: disc; }

.maincontainer li { padding-bottom: 5px; margin-left: 5px;}
:host >>>.ng-autocomplete {width: 100% !important;}

:host >>>.autocomplete-container {
    /* box-shadow: 0 0px 0px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12); */
    box-shadow: none;
    position: relative;
    overflow: visible;
    /*height: 40px;*/
}
:host >>>.ng-autocomplete .autocomplete-container .input-container input {
    width: 100%;
    float: left;
    font-size: 14px;
    color: #084f7f;
    border: 1px solid #0d76bd;
    line-height: 20px;
    border-radius: 50px;
    background: #fff;
    padding: 5px;
    text-indent: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(http://infinitechlabs.in/slected/frontend/assets/images/backarrow.svg) no-repeat 90% center;
    height: auto !important;
}
:host >>>.ng-autocomplete .autocomplete-container .suggestions-container {
    position: absolute;
    width: 100%;
    background: #fff;
    height: auto;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    box-sizing: border-box;
    margin-top: 40px;
    height: auto !important;
}
:host >>>.ng-autocomplete .autocomplete-container .suggestions-container {
    position: absolute;
    width: 100%;
    background: #fff;
    height: auto !important;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    box-sizing: border-box;
    margin: 25px 1px 19px 1px;
    padding: 21px 10px 5px 1px;
    border: 1px solid blue;
    border-top: none;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: -1;
}

:host >>>.autocomplete-container {
    height: auto !important;
}

:host >>>.autocomplete-container.active .suggestions-container {
    z-index: 1;
    width: 100%;
    box-shadow: none;
    left: -1px;
    background: #f8fafd;
}

:host >>>.autocomplete-container.active .input-container input {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}


.ng5-slider {
    display: inline-block;
    position: relative;
    height: 4px;
    width: 110px;
    margin: 10px 0 0px;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: pan-y;
    float: right;
  }
  
.custom_autocomplete
  {
    border-radius: 50px;
    padding: 20px;
    background-color: aqua;
}
.ng-autocomplete {
  /*width: 100px;*/
}  
.autocomplete-container .input-container input {
  font-size: 14px;
  box-sizing: border-box;
  border: none;
  box-shadow: none;
  outline: 0;
  background-color: #fff;
  color: rgba(0,0,0,.87);
  width: 30% !important;
  padding: 0 15px;
  line-height: 40px;
  height: 32px !important;
}
.autocomplete-container .suggestions-container.is-visible {
visibility: visible;
/* border: 3px solid; */
margin-top: 30px !important;
border-radius: 10% !important;
border-top-left-radius: 0px !important ; 
border-top-right-radius: 0px !important;
}
.autocomplete-container .suggestions-container{width: 30% !important; left:33px !important; top:4px !important; box-shadow: 0 !important; background: #f2f9fc !important;}
.autocomplete-container {
box-shadow: 0 !important;
position: relative !important;
overflow: visible !important;
height: 0px !important;
}
.searchbox input:focus {
border-radius: 20px;
border-bottom-right-radius: 0;
border-bottom-left-radius: 0;
}
.autocomplete-container .suggestions-container ul li a
{
font-family: 'Montserrat', sans-serif !important;
font-size: 13px !important;
padding: 0px 4px 1px 5px !important;
} 