<div class="maincontainer">
   <div class="searchbarwrap">
      <div class="searchtitle">
         <h1 translate>compare</h1>
      </div>
      <div class="searchbox">
         <!-- <label translate>location</label> -->
         <div class="formrow ui-widget">
            <div class="ng-autocomplete">
               <ng-autocomplete 
               [data]="locationDropdown"
               [searchKeyword]="keyword"
               [placeHolder]="'location'|translate"
               historyListMaxNumber="3"
               (selected)='selectEvent($event)'
               (inputChanged)='onChangeSearch($event)'
               [itemTemplate]="itemTemplate"
               (clear)="clearAreaSearch($event)"
               >                                 
               </ng-autocomplete>
               <ng-template #itemTemplate let-item>
                  <a [innerHTML]="item.name"></a>
               </ng-template>
               <!-- <ng-template #notFoundTemplate let-notFound>
                  <div [innerHTML]="notFound"></div>
                  </ng-template> -->
            </div>
         </div>
         <!-- <input type="text" name="" placeholder="suchen"> -->
      </div>
      <div class="rangesliderwrap">
         <label>
            <span class="left" translate>Values</span>
            <div class="homeamt">
               <span id="home-amount_min">{{value}}</span>
               
               <!-- <input type="text" [value]="value" id="home-amount_min"> -->
               <div class="home-rupees" translate>to</div>
            </div>
            <div class="homeamt">
               <div class="home-rupees">K</div>
               <span id="home-amount_max">{{highValue}}</span>
               
               <!-- <input type="text" value="highValue" id="home-amount_max"> -->
            </div>
         </label>
         <div class="custom-slider">
            <ng5-slider [(value)]="value" [(highValue)]="highValue" [options]="options" (mouseup)="sliderEvent()"></ng5-slider>
         </div>
         <!-- <div id="home-slider-range"></div> -->
      </div>
   </div>
   <div class="rightlistouterwrap">
      <div class="rightlistbox">
         <div class="rightlistbox-topfixbar">
            <div class="headingcolumn_one">
               <h3 translate>outcomes</h3>
            </div>
            <div class="headingcolumn_two mrgnlft">
               <select  (change)="Expselected($event)" class="decorated">
                  <option translate>experience</option>
                  <option *ngFor="let ans of expDropdown" value="{{ans.master_name}}">{{ans.master_name}}</option>
               </select>
            </div>
            <div class="headingcolumn_three">
               <select (change)="Skillselected($event)">
                  <option translate>skills</option>
                  <option *ngFor="let ans of skillDropdown" value="{{ans.skill_name}}">{{ans.skill_name}}</option>
               </select>
            </div>
         </div>
         <div class="rightlistbox-scrollerwrap" id="style-1">
            <div class="rightlistboxrow" *ngFor="let ans of CandidateList">
               <div class="headingcolumn_one" >
                  <div class="empwap">
                     <div class="emp-photo">
                        <img src="{{basePath}}/{{ans.user_profileimg}}" onerror="this.src='assets/images/avatar.png'" alt="">
                     </div>
                  </div>
                  <div class="empinfowrap" >
                     <span >
                     </span>   
                     <h3>{{ans.user_name}}</h3>
                     <h2>{{ans.rating_avt }} €</h2>
                     <h4>{{ans.rating_area}} </h4>
                  </div>
               </div>
               <div class="headingcolumn_two">
                  <div class="expwrap">
                     <h3>{{ans.job_company}}</h3>
                     <h4>{{ans.job_position}}</h4>
                  </div>
               </div>
               <div class="headingcolumn_three">
                  <div class="expwrap">
                     <h3>{{ans.cnt}} </h3>
                  </div>
               </div>
               <a href="{{websitePath}}campairedata/{{ans.user_id}}">
                  <div class="rowplusbtnwrap accordion_head">
                     <div class="rowplusbtnicon">+</div>
                  </div>
               </a>
               <div class="accordion_body">&nbsp;</div>
            </div>
         </div>
      </div>
   </div>
</div>