<div class="mainbody">
   <div class="desktop">
      <div class="leftouterwrap">
         <div class="leftouterwrap_top">
            <div class="logowrap">
               <div class="logo">
                  <img src="assets/images/logo.svg" alt="">
               </div>
            </div>
            <div class="leftwrap">
               <h1 translate>Recognize<br/>your worth</h1>
               <h2 class="firsttxt" translate>Increase<br/>your chances!</h2>
               <div class="visibility">
                  <span class="txtsmall" translate>Slected has developed a solution</span>
                  <p translate>singup content</p>
                  <a class="whtbtn" routerLink="/yourvalue" translate>Learn more</a>
               </div>
            </div>
         </div>
         <app-beforelogin-footer></app-beforelogin-footer>
      </div>
      <div class="rightouterwrap">
         <div class="rightwrap">
            <div class="signup_title">
               <div class="signup_title_icon">
                  <img src="assets/images/slectedLogoIcon.svg" alt="">
               </div>
               <div class="signup_title_text">
                  <h6 translate>Welcome</h6>
                  <p>SIGN UP / LOGIN</p>
               </div>
            </div>
            <div class="signupformwrap padd82">
               <form [formGroup]='signupForm' (ngSubmit)="PostData(signupForm.value)">
               <div class="formrow">
                  <input type="text" formControlName="Emailid" name="Emailid" class="input-text" autocomplete="off" placeholder="{{ 'Your email address' | translate }}">
                  <label class="label-helper" translate>Your email address</label>
               </div>
               <div *ngIf="signupForm.controls['Emailid'].touched && !signupForm.controls['Emailid'].valid" class="validerror">
                  <span *ngIf="signupForm.controls['Emailid'].hasError('required') " translate>Enter valid email address</span>
                  <span *ngIf="signupForm.controls['Emailid'].hasError('email') " translate>Enter valid email address</span>
               </div>
               <input type="submit" name="submit" [disabled]="!signupForm.valid" value="{{'Lets go' | translate}}" class="btn">
               </form>
               <!--<div class="oder">
                  <div class="odertxt" translate>
                    or
                  </div>
                  </div>
                  <div class="xing_linkedin_outerwrap">
                  <a class="xing">
                  <img src="assets/images/xingSignUpButton.svg" alt="">
                  </a>
                  <a class="linkedin">
                  <img src="assets/images/linkedInSignUpButton.svg" alt="">
                  </a>
                  </div> -->
            </div>
         </div>
         <app-rightside-footer></app-rightside-footer>
      </div>
   </div>
   <div class="mobile mobbg">
      <div class="rightouterwrap">
         <div class="logowrap">
            <div class="logo">
               <img src="assets/images/logo.svg" alt="">
            </div>
         </div>
         <div class="rightwrap">
            <div class="signup_title">
               <div class="signup_title_icon">
                  <img src="assets/images/slectedLogoIcon.svg" alt="">
               </div>
               <div class="signup_title_text">
                  <h6 translate>Welcome</h6>
                  <p>SIGN UP / LOGIN</p>
               </div>
            </div>
            <div class="signupformwrap padd82">
               <form [formGroup]='signupForm' (ngSubmit)="PostData(signupForm.value)">
               <div class="formrow">
                  <input type="text" formControlName="Emailid" name="Emailid" class="input-text" placeholder="{{ 'Your email address' | translate }}">
                  <label class="label-helper" translate>Your email address</label>
               </div>
               <div *ngIf="signupForm.controls['Emailid'].touched && !signupForm.controls['Emailid'].valid" class="validerror">
                  <span *ngIf="signupForm.controls['Emailid'].hasError('required') " translate>Enter valid email address</span>
                  <span *ngIf="signupForm.controls['Emailid'].hasError('email') " translate>Enter valid email address</span>
               </div>
               <input type="submit" name="submit" [disabled]="!signupForm.valid" value="{{'Lets go' | translate}}" class="btn">
               </form>
               <!--<div class="oder">
                  <div class="odertxt" translate>
                    or
                  </div>
                  </div>
                  <div class="xing_linkedin_outerwrap">
                  <a class="xing">
                  <img src="assets/images/xingSignUpButton.svg" alt="">
                  </a>
                  <a class="linkedin">
                  <img src="assets/images/linkedInSignUpButton.svg" alt="">
                  </a>
                  </div> -->
            </div>
         </div>
      </div>
      <div class="leftouterwrap">
         <div class="leftouterwrap_top">
            <div class="leftwrap">
               <h1 translate>Recognize <br/>your worth</h1>
               <h2 class="firsttxt" translate>Increase<br/>your chances!</h2>
               <h2 class="secondtxt animated fadeIn" style="display: none;">In nur drei Schritten<br/>zu Ihrem Erfolg!</h2>
               <div class="visibility">
                  <span class="txtsmall" translate>Slected has developed a solution</span>
                  <p translate>singup content</p>
                  <a class="whtbtn" routerLink="/yourvalue" translate>Learn more</a>
               </div>
            </div>
         </div>
         <!-- <app-rightside-footer></app-rightside-footer> -->
         <app-beforelogin-footer></app-beforelogin-footer>
      </div>
   </div>
</div>