<div class="mainbody xingpopup">
   <div class="close">x</div>
   <div class="overlaywrap">
      <div class="apiboxwrap">
         <h1>XING API</h1>
         <p>
            <span class="txtsmall">connect page with XING API</span><br/><br/>
            When registering, all necessary data must be retrieved via the api from Xing user account
         </p>
         <a class="btn"><img src="assets/images/pfad-905.svg" alt="">REGISTRATION SUCCESS</a>
      </div>
   </div>
</div>
<div class="mainbody linkedinpopup">
   <div class="close">x</div>
   <div class="overlaywrap">
      <div class="apiboxwrap">
         <h1>Linkedin API</h1>
         <p>
            <span class="txtsmall">connect page with LINKED IN API</span><br/><br/>
            When registering, all necessary data must be retrieved via the api from Linkedin user account
         </p>
         <a href="https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id=819o2a4wpocvlt&redirect_uri=http://localhost:4200/linkedInLogin&state=fooobar&scope=r_liteprofile" class="btn"><i class="fa fa-linkedin" aria-hidden="true"></i> REGISTRATION SUCCESS</a>
      </div>
   </div>
</div>
<div class="rightfooter">
   <a routerLink="/help" translate>help</a>
   <a routerLink="/imprint" translate>Imprint</a>
   <a routerLink="/dataprotect" translate>data protection</a>
</div>
<script src="assets/js/jquery.js"></script>
<script type="text/javascript">
   $(document).ready(function () {
   $(".xing").click(function () 
   {
     $(".xingpopup").show();
   });
   $(".linkedin").click(function () 
   {
   
     $(".linkedinpopup").show();
   });
   $(".close").click(function () {
     $(".xingpopup,.linkedinpopup").hide();
   });
   });
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script type="text/javascript" src="http://sanmancreations.com/password.js"></script>