<div class="container" id="tab1C">
   <div class="dashboardwrap">
      <div class="dashboardtitle">
         <h1 translate>setttings</h1>
      </div>
   </div>
   <div class="dashboardboxouterwrap">
      <div class="rightlistbox">
         <div class="settingboxwrap minheight">
            <h3><img src="assets/images/setting1.svg" alt=""> <span class="left" translate>Personal data</span></h3>
            <form [formGroup]="Personalform" (ngSubmit)="PostData(Personalform.value)">
            <div class="settingform2">
               <div class="row">
                  <label translate>fullname</label>
                  <input type="text" formControlName="user_name" name="user_name1" placeholder="Jon Doe" #user_name [ngModel]="user_name1">
                  <div *ngIf="Personalform.controls['user_name'].touched">
                     <span *ngIf="Personalform.controls['user_name'].hasError('required') " translate>First and last name required</span>
                  </div>
               </div>
               <div class="row">
                  <label translate>email</label>
                  <input type="text" formControlName="user_email" name="" placeholder="JohnDoe@mail.com" #user_email [ngModel]="user_email1">
                  <div *ngIf="Personalform.controls['user_email'].touched && !Personalform.controls['user_email'].valid">
                     <span *ngIf="Personalform.controls['user_email'].hasError('required') " translate>Enter valid email address</span>
                     <span *ngIf="Personalform.controls['user_email'].hasError('email') " translate>Enter valid email address</span>
                  </div>
               </div>
               <div class="row">
                  <label translate>dob</label>
                  <!-- <input type="text" formControlName="user_dob" name="" placeholder="01.01.2019" class="" #user_dob  class="datepicker"> -->
                 
                  <input type="text" #user_dob name="user_dob" id="user_dob" placeholder="{{user_dob1}}" formControlName="user_dob"  class="datepicker minwidth64" autocomplete="off">
                  <div *ngIf="Personalform.controls['user_dob'].touched">
                     <span *ngIf="Personalform.controls['user_dob'].hasError('required') " translate>Birthday mandatory field</span>
                  </div>
               </div>
               <div class="row" *ngIf="status; else unverified">
                  <label translate>verify</label>
                  <img src="assets/images/verify.svg" alt="" class="verify">
                  <span class="verifytxt" translate>verify</span>
               </div>
               <ng-template #unverified>
                  <div class="row">
                     <label translate>verify</label>
                     <a class="verifybtnbox" (click)="resend_verification()" translate>Verify email now</a>
                  </div>
                  <span class="verifyboxtxt success" *ngIf="email_msg" translate>email_send_msg</span>
                  <span class="verifyboxtxt success" *ngIf="email_msgsending" translate>email_sending_msg</span>
                  <span class="verifyboxtxt success" *ngIf="email_msg_err" translate>email_send_errnsg</span>
                  
                  
               </ng-template>
            </div>
            <!-- <div class="row">
               <span class="success">{{msg}}</span>
               </div> -->
               <div class="row">
                  <span class="success" *ngIf="msg" translate>Profile update message</span>
                  <span class="success" *ngIf="msgerror" translate>Profile update error message</span>
               </div>
            <input type="Submit" name="" class="settingform_btn" value="{{'save' | translate }}">
            </form>
         </div>
      </div>
   </div>
</div>