.nonactive { background: none !important; box-shadow: none !important; }
   .tabactive { width: 110px;
   height: 30px;
   float: left;
   background: #FFFFFF 0% 0% no-repeat padding-box !important;
   box-shadow: 0px 5px 10px #084F7F1A !important;
   border-radius: 50px;
   text-align: center;
   color: #243F76;
   font-size: 13px;
   line-height: 30px;
   text-decoration: none;
   outline: none;
   font-weight: bold; }