<ul id="tabs">
   <li><a routerLink="dashboard" routerLinkActive="tabactive">Dashboard</a></li>
   <li><a routerLink="compare" routerLinkActive="tabactive" translate>compare</a></li>
</ul>
<!--<ul id="tabs">
   <li><a href="/dashboard" class="tabactive">Dashboard</a></li>
   <li><a href="/compare" class="inactive">compare</a></li>
</ul>-->
