<div class="mainbody email">
   <div class="mailer">
      <div class="txtsmall">
         Wenn diese Nachricht nicht korrekt angezeigt wird, klicken Sie bitte <a href="#" title="hier">hier</a>.
      </div>
      <div class="mailerinner">
         <div class="mailerlogowrap">
            <div class="mailerlogo">
               <img src="http://infinitechlabs.in/slected/v4/images/email-logo.svg" alt="">
               <div class="mailerlogotcaption">
                  Erkenne deinen Wert.
               </div>
            </div>
         </div>
         <div class="mailerbody">
            <h4>Thanks for verification</h4>
            <div class="mailerfooter">
               <p>Diese Nachricht wurde an  gesendet.</p>
               <p class="copyright">© 2019 Slected.me | Alle Rechte vorbehalten</p>
               <p class="copyright"><a href="#" title="Hilfe">Hilfe</a> | <a href="#" title="Impressum">Impressum</a> | <a href="#" title="Datenschutz">Datenschutz</a></p>
               <img src="http://infinitechlabs.in/slected/v4/images/slectedLogoIcon.svg" alt="">
            </div>
         </div>
      </div>
   </div>
</div>