<div class="mainbody">
   <div class="desktop">
      <div class="leftouterwrap">
         <div class="leftouterwrap_top">
            <div class="logowrap">
               <div class="logo">
                  <img src="assets/images/logo.svg" alt="">
               </div>
            </div>
            <div class="leftwrap">
               <h1>Erkennen <br/>Sie Ihren Wert.</h1>
               <h2 class="secondtxt">In nur drei Schritten<br/>zu Ihrem Erfolg!</h2>
               <p class="mrgntop20">Vergleiche die Werte in deiner Branche und erhöhe gezielt deinen Wert.</p>
            </div>
         </div>
         <app-beforelogin-footer></app-beforelogin-footer>
      </div>
      <div class="rightouterwrap">
         <div class="rightwrap">
            <div class="signup_title">
               <div class="signup_title_icon">
                  <img src="assets/images/slectedLogoIcon.svg" alt="">
               </div>
               <div class="signup_title_text">
                  <h6>Password</h6>
                  <p translate>reset to default</p>
               </div>
            </div>
            <div class="signupformwrap">
               <form [formGroup]="saftyForm" (ngSubmit)="SubmitData(saftyForm.value)">
               <div class="formrow">
                  <input type="password" name="password" placeholder="{{'Password' | translate}}" formControlName="newPass">
                  <div *ngIf="saftyForm.controls['newPass'].touched && saftyForm.controls['newPass'].invalid">
                     <span *ngIf="saftyForm.controls['newPass'].hasError('required') " translate>Enter valid password</span>
                  </div>
               </div>
               <div class="formrow">
                  <input type="password" formControlName="confirmPass" name="" placeholder="{{'Confirm Password' |translate}}">
                  <div *ngIf="saftyForm.controls['confirmPass'].touched">
                     <span  class="error" *ngIf="saftyForm.controls['confirmPass'].hasError('required') " translate>Confirm Password</span>
                  </div>
               </div>
               <div class="row">
                  <span class="success">{{msg}}</span>
               </div>
               <input type="submit" name="submit" [disabled]="!saftyForm.valid" class="settingform_btn" value="{{'change' | translate}}" class="btn">
               </form>
               <div class="oder">
                  <div class="odertxt" translate>
                     or
                  </div>
               </div>
               <!-- <div class="xing_linkedin_outerwrap">
                  <a class="xing">
                  <img src="assets/images/xingSignUpButton.svg" alt="">
                  </a>
                  <a class="linkedin">
                  <img src="assets/images/linkedInSignUpButton.svg" alt="">
                  </a>
                  </div> -->
               <div class="loginwrap">
                  <a routerLink="/sign-up"><i class="fa fa-arrow-left" aria-hidden="true"></i> LOGIN</a>
               </div>
            </div>
         </div>
         <app-rightside-footer></app-rightside-footer>
      </div>
   </div>
   <div class="mobile mobbg">
      <div class="rightouterwrap">
         <div class="logowrap">
            <div class="logo">
               <img src="assets/images/logo.svg" alt="">
            </div>
         </div>
         <div class="rightwrap">
            <div class="signup_title">
               <div class="signup_title_icon">
                  <img src="assets/images/slectedLogoIcon.svg" alt="">
               </div>
               <div class="signup_title_text">
                  <h6>Password</h6>
                  <p translate>reset to default</p>
               </div>
            </div>
            <div class="signupformwrap">
               <form [formGroup]="saftyForm" (ngSubmit)="SubmitData(saftyForm.value)">
               <div class="formrow">
                  <input type="password" name="password" placeholder="{{'Password' | translate}}" formControlName="newPass">
                  <div *ngIf="saftyForm.controls['newPass'].touched && saftyForm.controls['newPass'].invalid">
                     <span *ngIf="saftyForm.controls['newPass'].hasError('required') " translate>Enter valid password</span>
                  </div>
               </div>
               <div class="formrow">
                  <input type="password" formControlName="confirmPass" name="" placeholder="{{'Confirm Password' |translate}}">
                  <div *ngIf="saftyForm.controls['confirmPass'].touched">
                     <span  class="error" *ngIf="saftyForm.controls['confirmPass'].hasError('required') " translate>Confirm Password</span>
                  </div>
               </div>
               <div class="row">
                  <span class="success">{{msg}}</span>
               </div>
               <input type="submit" name="submit" [disabled]="!saftyForm.valid" class="settingform_btn" value="{{'change' | translate}}" class="btn">
               </form>
               <div class="oder">
                  <div class="odertxt" translate>
                     or
                  </div>
               </div>
               <!-- <div class="xing_linkedin_outerwrap">
                  <a class="xing">
                  <img src="assets/images/xingSignUpButton.svg" alt="">
                  </a>
                  <a class="linkedin">
                  <img src="assets/images/linkedInSignUpButton.svg" alt="">
                  </a>
                  </div> -->
               <div class="loginwrap">
                  <a routerLink="/sign-up"><i class="fa fa-arrow-left" aria-hidden="true"></i> LOGIN</a>
               </div>
            </div>
         </div>
         <!-- <app-rightside-footer></app-rightside-footer> -->
      </div>
      <div class="leftouterwrap">
         <div class="leftouterwrap_top">
            <div class="leftwrap">
               <h1>Erkennen <br/>Sie Ihren Wert.</h1>
               <h2 class="secondtxt">In nur drei Schritten<br/>zu Ihrem Erfolg!</h2>
               <p class="mrgntop20">Vergleiche die Werte in deiner Branche und erhöhe gezielt deinen Wert.</p>
            </div>
         </div>
         <app-beforelogin-footer></app-beforelogin-footer>
      </div>
   </div>
</div>