@charset "utf-8";

/* CSS Document */



@media (max-width:1920px) {

}

@media (max-width:1440px) {

}

@media (max-width:1366px) {

}

@media (max-width:1280px) {

}

@media (max-width:1024px) {

}

@media (max-width:980px) {

}

@media (max-width:800px) {

}

@media (max-width:768px) {

}

@media (max-width:640px) {

}

@media (max-width:600px) {

}

@media (max-width:568px) {

}

@media (max-width:480px) {

}

@media (max-width:420px) {

}

@media (max-width:414px) {
	.userprofilewrap { width: 310px; }
	.userprofile2 { width: 250px; }
	.userinformation { width: 250px; }
	.userprofile-bottompatch { width: 310px; }
	.userinformation-innerwrap { width: 217px; }
	.statusbox { width: 264px; }
	.dashboard_txtbox { width: 210px; }
	.menuopenbox { width: 250px; }
	.searchbarwrap .autocomplete-container .input-container input { width: 100% !important; box-shadow: none; }
	.searchbarwrap .autocomplete-container { box-shadow: none; }
	.settingform2 label { width: 210px; }
	.settingform3 label { width: 83%; }
	.minwidth64 { min-width: 87px !important; width: 40% !important; }

	.leftouterwrap_top { width: 320px; padding: 61px 20px 0px 20px; }
	.leftouterwrap { width: 414px; height: 80vh; }
	.mainbody { width: 414px; }
	.leftwrap { margin: 20px 0% 0%; }
	.leftouterwrap_bottom { width: 340px; padding: 0px 0px 0px 20px; }
	.leftfooter { left: 0px; bottom: -23px; position: relative; }
	.rightouterwrap { width: 350px; height: auto; padding: 20px 20px 0px 20px; margin-bottom: 50px; }
	.rightwrap { width: 260px; padding: 52px 30px 59px 30px; }
	.rightfooter { width: 100%; float: left; position: relative; top: 0; left: 0; margin: 50px 0 0 0; }

	.innerwrap { padding: 46px 0px 0px 10px; }
	.container { width: 97%; }
	.dashboardwrap { width: 100%; padding: 23px 0px 23px 23px; }
	.dashboardboxouterwrap { width: 100%; padding: 20px 10px 50px 10px; }
	.innerwrap-right { width: 100%; }
	#tabs { width: 54%; margin: 9px auto 31px; display: table; float: none; }
	.innerwrap-left { width: 310px; margin: 0px 50px 0px 40px; }

	.searchbarwrap { width: 100%; padding: 23px 30px 10px 10px; }
	.rightlistbox { width: 82%; padding: 16px 20px 23px 10px; }
	.rightlistouterwrap { width: 100%; padding: 10px 30px 50px 10px; }
	.rightlistboxrow { width: 80%; }
	.searchbox { width: 56%; margin-right: 0; }
	.rangesliderwrap { width: 100%; }
	.home-rupees { margin: 0px 0px; }
	.homeamt input { width: 32px; }
	.headingcolumn_two { width: 142px; }
	.rowplusbtnwrap { top: 30px; }

	.apiboxwrap { width: 70%; padding: 20px 20px; }
	.settingform2 { width: 100%; }
	.settingform_btn { margin: 20px 0; }

	.settingform2 .row { width: 82%; }
	.tagform { width: 82%; }
	#tabs2 { width: 100%; }

	.settingform { width: 75%; }
	.settingform label { width: 90%; margin: 0; }
	.settingform input { width: 90%; }
	.settingform3 { width: 93%; padding: 19px 15px; }
	.innerpagefooter { width: 90%; }
	.settingform3 input { min-width: 90%; }
	.settingform2 input { width: 180px; }
	.settingform3 .row span { margin-left: 0 !important; margin-right: 0 !important; }
	.settingform3 .error { width: 132px !important; margin: 0 !important; float: left !important; }
	.settingform2 .error { width: 100% !important; margin: 0 !important; }
	.settingform2 .row span { margin-left: 0 !important; margin-right: 0 !important; }

	.mobile { display: block; }
	.desktop { display: none; }
	.mobbg { background: #fbfbfb url("../images/commonbg@1x.png") no-repeat 26% -135px; width: 100%; float: left; }
	.mobile .logowrap { margin: 30px 0 60px 30px; }
	.mobile .leftouterwrap_top { padding: 0px 20px 0px 47px; }
	.mobile .leftwrap h1 { font-size: 40px; line-height: 40px; }
	.mobile .rightouterwrap { background: none; }
	.mobile .footercenterelement { width: 100%; float: left; text-align: center; margin-top: 20px; }
	.mobile .footercenterelement a { color: #084f7f; }
	.mobile .leftfooter { position: relative; float: left; bottom: 0; left: 0; margin-bottom: 30px; }
	.mobile .leftfooter img { float: none; }
	.mobile .leftfooter span { margin: 0px; float: none; display: inline-flex; }
	.mobile .leftouterwrap_bottom { width: 100%; padding: 0; margin-bottom: 50px; }
	.mobile .copyright { width: 100%; text-align: center; font-size: 13px; float: left; margin: 10px 0 0px; }
	.mobile .rightfooter { margin-top: 10px; }
	.mobile .leftfooter .signup_title_icon { width: 38px; margin: 40px auto 10px; float: none; }
	.mobile .leftfooter .signup_title_icon img { width: 100%; height: auto; float: left; }

	.popup { padding: 52px 50px 60px 55px; margin-left: 23px; }
	.statusbox:last-child { margin-top: 50px; }

	.mailer { width: auto; }
	.mailerinner { width: auto; }
	.mailerbody { width: auto; }
	.mailerfooter { width: auto; margin: 40px 0px 0px; }

	.main_inner_wrapper { width: 97%; }
	.static_tabs { margin: 20px 0 !important; width: 100% !important; }
	.width87 { width: 100% !important; }
	.float-right { float: left !important; }
	.text-right { text-align: center !important; margin-right: 0 !important; }
	#tabs li a { width: 104px; }
	.paragraph { width: 98%; }
	.paragraph ul { width: 100%; text-align: justify; word-break: break-all; }
	.paragraph p { width: 100%; text-align: justify; word-break: break-all; }

	.innerwrap-right-static { width: 100%; height: auto; float: left; }
	.content_wrapper { width: 97%; height: auto; float: left; float: left; }
	.content_wrapper .left_content { width: 100%; height: auto; float: left; }
	.content_wrapper .left_content h2 { width: 100%; height: auto; float: left; }
	.content_wrapper .left_content h3 { width: 100%; height: auto; float: left; } 
	.content_wrapper .left_content small { width: 100%; height: auto; float: left; } 
	.content_wrapper .right_content { width: 100%; height: auto; float: left; }
	.content_wrapper .right_content img { width: 100%; float: left; margin: 20px 0 0; }
	.content_wrapper .left_content p { width: 100%; height: auto; float: left; }
	.footer_content_wrapper { margin: 0; }
	.blue_gradiant_wrapper { margin: 50px 0px 0px 0px; }
	.second_content_wrapper_margin { margin-top: 50px; }

	.left_container { width: 95%; height: auto; float: left; }
	.left_container h3 { width: 100%; font-size: 30px; }
	.right_container { width: 95%; height: auto; float: left; }
	.right_container h3 { width: 100%; font-size: 30px; }
	.right_container h4 { float: left; }
	.right_container p { width: 100%; height: auto; float: left; text-align: left; } 
	.static_page_container { overflow: scroll; margin: 0; }
	.static_page_container h2 { width: 100%; height: auto; float: left; }
	.left_container p { width: 100%; height: auto; float: left; text-align: left; } 
}

@media (max-width:380px) {

}

@media (max-width: 375px) {
	.leftouterwrap_top { width: 320px; padding: 61px 20px 0px 20px; }
	.leftouterwrap { width: 375px; height: 80vh; }
	.mainbody { width: 375px; }
	.leftwrap { margin: 20px 0% 0%; }
	.leftouterwrap_bottom { width: 340px; padding: 0px 0px 0px 20px; }
	.leftfooter { left: 0px; bottom: -23px; position: relative; }
	.rightouterwrap { width: 320px; height: auto; padding: 20px 20px 0px 20px; margin-bottom: 50px; margin-left: 8px; }
	.rightwrap { width: 260px; padding: 52px 30px 59px 30px; }
	.rightfooter { width: 100%; float: left; position: relative; top: 0; left: 0; margin: 50px 0 0 0; }
	.statusbox { width: 230px; }
	.dashboard_txtbox { width: 180px; }
	.settingform2 label { width: 168px; }
	.minwidth64 { width: 39% !important; }

	.innerwrap { padding: 46px 0px 0px 10px; }
	.container { width: 97%; }
	.dashboardwrap { width: 100%; padding: 23px 0px 23px 23px; }
	.dashboardboxouterwrap { width: 100%; padding: 20px 10px 50px 10px; }
	.innerwrap-right { width: 100%; }
	#tabs { width: 70%; margin: 9px auto 31px; display: table; float: none; }
	.innerwrap-left { margin: 0px 0px 0px 19px; }

	.searchbarwrap { width: 100%; padding: 23px 30px 10px 10px; }
	.rightlistbox { width: 82%; padding: 16px 20px 23px 10px; }
	.rightlistouterwrap { width: 100%; padding: 10px 30px 50px 10px; }
	.rightlistboxrow { width: 80%; }
	.searchbox { margin-right: 0; }
	.rangesliderwrap { width: 100%; }
	.home-rupees { margin: 0px 0px; }
	.homeamt input { width: 32px; }
	.headingcolumn_two { width: 142px; }
	.rowplusbtnwrap { top: 30px; }

	.apiboxwrap { width: 70%; padding: 20px 20px; }
	.settingform2 { width: 100%; }
	.settingform_btn { margin: 20px 0; }

	.settingform2 .row { width: 82%; }
	.tagform { width: 82%; }
	#tabs2 { width: 100%; }

	.settingform { width: 75%; }
	.settingform label { width: 90%; margin: 0; }
	.settingform input { width: 90%; }
	.settingform3 { width: 93%; padding: 19px 15px; }
	.innerpagefooter { width: 90%; }
	.settingform3 input { min-width: 90%; }
	.settingform2 input { width: 180px; }
	.settingform3 .row span { margin-left: 0 !important; margin-right: 0 !important; }
	.settingform3 .error { width: 132px !important; margin: 0 !important; float: left !important; }
	.settingform2 .error { width: 100% !important; margin: 0 !important; }
	.settingform2 .row span { margin-left: 0 !important; margin-right: 0 !important; }

	.mobile { display: block; }
	.desktop { display: none; }
	.mobbg { background: #fbfbfb url("../images/commonbg@1x.png") no-repeat 26% -135px; width: 100%; float: left; }
	.mobile .logowrap { margin: 30px 0 60px 20px; }
	.mobile .leftouterwrap_top { padding: 0px 20px 0px 20px; margin-left: 8px; }
	.mobile .leftwrap h1 { font-size: 40px; line-height: 40px; }
	.mobile .rightouterwrap { background: none; }
	.mobile .footercenterelement { width: 100%; float: left; text-align: center; margin-top: 20px; }
	.mobile .footercenterelement a { color: #084f7f; }
	.mobile .leftfooter { position: relative; float: left; bottom: 0; left: 0; margin-bottom: 30px; }
	.mobile .leftfooter img { float: none; }
	.mobile .leftfooter span { margin: 0px; float: none; display: inline-flex; }
	.mobile .leftouterwrap_bottom { width: 100%; padding: 0; margin-bottom: 50px; }
	.mobile .copyright { width: 100%; text-align: center; font-size: 13px; float: left; margin: 10px 0 0px; }
	.mobile .rightfooter { margin-top: 10px; }
	.mobile .leftfooter .signup_title_icon { width: 38px; margin: 40px auto 10px; float: none; }
	.mobile .leftfooter .signup_title_icon img { width: 100%; height: auto; float: left; }

	.popup { padding: 52px 50px 60px 55px; margin-left: 0px; }
	.statusbox:last-child { margin-top: 50px; }

	.mailer { width: auto; }
	.mailerinner { width: auto; }
	.mailerbody { width: auto; }
	.mailerfooter { width: auto; margin: 40px 0px 0px; }

	.main_inner_wrapper { width: 97%; }
	.static_tabs { margin: 20px 0 !important; }
	#tabs li a { width: 104px; }
	.paragraph { width: 98%; }
	.paragraph ul { width: 100%; text-align: justify; word-break: break-all; }
	.paragraph p { width: 100%; text-align: justify; word-break: break-all; }

	.innerwrap-right-static { width: 100%; height: auto; float: left; }
	.content_wrapper { width: 97%; height: auto; float: left; float: left; }
	.content_wrapper .left_content { width: 100%; height: auto; float: left; }
	.content_wrapper .left_content h2 { width: 100%; height: auto; float: left; }
	.content_wrapper .left_content h3 { width: 100%; height: auto; float: left; } 
	.content_wrapper .left_content small { width: 100%; height: auto; float: left; } 
	.content_wrapper .right_content { width: 100%; height: auto; float: left; }
	.content_wrapper .right_content img { width: 100%; float: left; margin: 20px 0 0; }
	.content_wrapper .left_content p { width: 100%; height: auto; float: left; }
	.footer_content_wrapper { margin: 0; }
	.blue_gradiant_wrapper { margin: 50px 0px 0px 0px; }
	.second_content_wrapper_margin { margin-top: 50px; }

	.left_container { width: 95%; height: auto; float: left; }
	.left_container h3 { width: 100%; font-size: 30px; }
	.right_container { width: 95%; height: auto; float: left; }
	.right_container h3 { width: 100%; font-size: 30px; }
	.right_container h4 { float: left; }
	.right_container p { width: 100%; height: auto; float: left; text-align: left; } 
	.static_page_container { overflow: scroll; margin: 0; }
	.static_page_container h2 { width: 100%; height: auto; float: left; }
	.left_container p { width: 100%; height: auto; float: left; text-align: left; }
}

@media (max-width:360px) {
	.leftouterwrap_top { width: 320px; padding: 61px 20px 0px 20px; }
	.leftouterwrap { width: 360px; height: 80vh; }
	.mainbody { width: 360px; }
	.leftwrap { margin: 20px 0% 0%; }
	.leftouterwrap_bottom { width: 340px; padding: 0px 0px 0px 20px; }
	.leftfooter { left: 0px; bottom: -23px; position: relative; }
	.rightouterwrap { width: 320px; height: auto; padding: 20px 20px 0px 20px; margin-bottom: 50px; }
	.rightwrap { width: 260px; padding: 52px 30px 59px 30px; }
	.rightfooter { width: 100%; float: left; position: relative; top: 0; left: 0; margin: 50px 0 0 0; }

	.innerwrap { padding: 46px 0px 0px 10px; }
	.container { width: 97%; }
	.dashboardwrap { width: 100%; padding: 23px 0px 23px 23px; }
	.dashboardboxouterwrap { width: 100%; padding: 20px 10px 50px 10px; }
	.innerwrap-right { width: 100%; }
	#tabs { width: 70%; margin: 9px auto 31px; display: table; float: none; }
	.innerwrap-left { margin: 0px 50px 0px 40px; }

	.searchbarwrap { width: 100%; padding: 23px 30px 10px 10px; }
	.rightlistbox { width: 82%; padding: 16px 20px 23px 10px; }
	.rightlistouterwrap { width: 100%; padding: 10px 30px 50px 10px; }
	.rightlistboxrow { width: 80%; }
	.searchbox { margin-right: 0; }
	.rangesliderwrap { width: 100%; }
	.home-rupees { margin: 0px 0px; }
	.homeamt input { width: 32px; }
	.headingcolumn_two { width: 142px; }
	.rowplusbtnwrap { top: 30px; }

	.apiboxwrap { width: 70%; padding: 20px 20px; }
	.settingform2 { width: 100%; }
	.settingform_btn { margin: 20px 0; }

	.settingform2 .row { width: 82%; }
	.tagform { width: 82%; }
	#tabs2 { width: 100%; }

	.settingform { width: 75%; }
	.settingform label { width: 90%; margin: 0; }
	.settingform input { width: 90%; }
	.settingform3 { width: 93%; padding: 19px 15px; }
	.innerpagefooter { width: 90%; }
	.settingform3 input { min-width: 90%; }
	.settingform2 input { width: 180px; }
	.settingform3 .row span { margin-left: 0 !important; margin-right: 0 !important; }
	.settingform3 .error { width: 132px !important; margin: 0 !important; float: left !important; }
	.settingform2 .error { width: 100% !important; margin: 0 !important; }
	.settingform2 .row span { margin-left: 0 !important; margin-right: 0 !important; }

	.mobile { display: block; }
	.desktop { display: none; }
	.mobbg { background: #fbfbfb url("../images/commonbg@1x.png") no-repeat 26% -135px; width: 100%; float: left; }
	.mobile .logowrap { margin: 30px 0 60px 20px; }
	.mobile .leftouterwrap_top { padding: 0px 20px 0px 20px; }
	.mobile .leftwrap h1 { font-size: 40px; line-height: 40px; }
	.mobile .rightouterwrap { background: none; }
	.mobile .footercenterelement { width: 100%; float: left; text-align: center; margin-top: 20px; }
	.mobile .footercenterelement a { color: #084f7f; }
	.mobile .leftfooter { position: relative; float: left; bottom: 0; left: 0; margin-bottom: 30px; }
	.mobile .leftfooter img { float: none; }
	.mobile .leftfooter span { margin: 0px; float: none; display: inline-flex; }
	.mobile .leftouterwrap_bottom { width: 100%; padding: 0; margin-bottom: 50px; }
	.mobile .copyright { width: 100%; text-align: center; font-size: 13px; float: left; margin: 10px 0 0px; }
	.mobile .rightfooter { margin-top: 10px; }
	.mobile .leftfooter .signup_title_icon { width: 38px; margin: 40px auto 10px; float: none; }
	.mobile .leftfooter .signup_title_icon img { width: 100%; height: auto; float: left; }

	.popup { padding: 52px 50px 60px 55px; }
	.statusbox:last-child { margin-top: 50px; }

	.mailer { width: auto; }
	.mailerinner { width: auto; }
	.mailerbody { width: auto; }
	.mailerfooter { width: auto; margin: 40px 0px 0px; }

	.main_inner_wrapper { width: 97%; }
	.static_tabs { margin: 20px 0 !important; }
	#tabs li a { width: 104px; }
	.paragraph { width: 98%; }
	.paragraph ul { width: 100%; text-align: justify; word-break: break-all; }
	.paragraph p { width: 100%; text-align: justify; word-break: break-all; }

	.innerwrap-right-static { width: 100%; height: auto; float: left; }
	.content_wrapper { width: 97%; height: auto; float: left; float: left; }
	.content_wrapper .left_content { width: 100%; height: auto; float: left; }
	.content_wrapper .left_content h2 { width: 100%; height: auto; float: left; }
	.content_wrapper .left_content h3 { width: 100%; height: auto; float: left; } 
	.content_wrapper .left_content small { width: 100%; height: auto; float: left; } 
	.content_wrapper .right_content { width: 100%; height: auto; float: left; }
	.content_wrapper .right_content img { width: 100%; float: left; margin: 20px 0 0; }
	.content_wrapper .left_content p { width: 100%; height: auto; float: left; }
	.footer_content_wrapper { margin: 0; }
	.blue_gradiant_wrapper { margin: 50px 0px 0px 0px; }
	.second_content_wrapper_margin { margin-top: 50px; }

	.left_container { width: 95%; height: auto; float: left; }
	.left_container h3 { width: 100%; font-size: 30px; }
	.right_container { width: 95%; height: auto; float: left; }
	.right_container h3 { width: 100%; font-size: 30px; }
	.right_container h4 { float: left; }
	.right_container p { width: 100%; height: auto; float: left; text-align: left; } 
	.static_page_container { overflow: scroll; margin: 0; }
	.static_page_container h2 { width: 100%; height: auto; float: left; }
	.left_container p { width: 100%; height: auto; float: left; text-align: left; } 
}

@media (max-width:320px) {
	.leftouterwrap_top { width: 280px; padding: 61px 20px 0px 20px; }
	.leftouterwrap { width: 320px; height: 80vh; }
	.mainbody { width: 320px; }
	.leftwrap { margin: 20px 0% 0%; }
	.leftouterwrap_bottom { width: 340px; padding: 0px 0px 0px 20px; }
	.leftfooter { left: 0px; bottom: -23px; position: relative; }
	.rightouterwrap { width: 320px; height: auto; padding: 20px 20px 0px 20px; margin-bottom: 50px; }
	.rightwrap { width: 220px; padding: 52px 30px 59px 30px; }
	.rightfooter { width: 100%; float: left; position: relative; top: 0; left: 0; margin: 50px 0 0 0; }
	.userprofilewrap { width: 260px; }
	.userprofile2 { width: 200px; }
	.userinformation-innerwrap { width: 166px; }
	.userinformation { width: 200px; }
	.userprofile-bottompatch { width: 260px; }
	.statusbox { width: 179px; }
	.fa-angle-right { margin: 0 0 0 10px; }
	.menuopenbox { width: 200px; }
	.dashboard_txtbox { width: 129px; }
	.searchbarwrap .autocomplete-container .input-container input { width: 139px !important; }
	.settingboxwrap h3 { font-size: 20px; }
	.minwidth64 { min-width: 83px !important; width: 37% !important; }
	.blue_gradiant_wrapper p { width: 300px; }

	.innerwrap { width: 310px; padding: 46px 0px 0px 10px; }
	.container { width: 97%; }
	.dashboardwrap { width: 92%; padding: 23px 0px 23px 23px; }
	.dashboardboxouterwrap { width: 93%; padding: 20px 10px 50px 10px; }
	.innerwrap-right { width: 100%; }
	#tabs { width: 70%; margin: 9px auto 31px; display: table; float: none; }
	.innerwrap-left { width: 260px; margin: 0px 0px 0px 19px; }

	.searchbarwrap { width: 100%; padding: 23px 30px 10px 10px; }
	.rightlistbox { width: 86%; padding: 16px 20px 23px 10px; }
	.rightlistouterwrap { width: 100%; padding: 10px 30px 50px 10px; }
	.rightlistboxrow { width: 80%; }
	.searchbox { width: auto; margin-right: 0; }
	.rangesliderwrap { width: 100%; }
	.home-rupees { margin: 0px 0px; }
	.homeamt input { width: 32px; }
	.headingcolumn_two { width: 126px; }
	.rowplusbtnwrap { top: 30px; }

	.apiboxwrap { width: 70%; padding: 20px 20px; }
	.settingform2 { width: 100%; }
	.settingform_btn { margin: 20px 0; }

	.settingform2 .row { width: 79%; }
	.tagform { width: 82%; }
	#tabs2 { width: 100%; }

	.settingform { width: 75%; }
	.settingform label { width: 90%; margin: 0; }
	.settingform input { width: 90%; }
	.settingform3 { width: 93%; padding: 19px 15px; }
	.innerpagefooter { width: 90%; }
	.settingform3 input { min-width: 90%; }
	.settingform2 input { width: 180px; }
	.settingform3 .row span { margin-left: 0 !important; margin-right: 0 !important; }
	.settingform3 .error { width: 132px !important; margin: 0 !important; float: left !important; }
	.settingform2 .error { width: 100% !important; margin: 0 !important; }
	.settingform2 .row span { margin-left: 0 !important; margin-right: 0 !important; }

	.mobile { display: block; }
	.desktop { display: none; }
	.mobbg { background: #fbfbfb url("../images/commonbg@1x.png") no-repeat 26% -135px; width: 100%; float: left; }
	.mobile .logowrap { margin: 30px 0 60px 20px; }
	.mobile .leftouterwrap_top { padding: 0px 20px 0px 20px; margin: 0; }
	.mobile .leftwrap h1 { font-size: 40px; line-height: 40px; }
	.mobile .rightouterwrap { width: 280px; background: none; margin: 0; }
	.mobile .footercenterelement { width: 100%; float: left; text-align: center; margin-top: 20px; }
	.mobile .footercenterelement a { color: #084f7f; }
	.mobile .leftfooter { position: relative; float: left; bottom: 0; left: 0; margin-bottom: 30px; }
	.mobile .leftfooter img { float: none; }
	.mobile .leftfooter span { margin: 0px; float: none; display: inline-flex; }
	.mobile .leftouterwrap_bottom { width: 100%; padding: 0; margin-bottom: 50px; }
	.mobile .copyright { width: 100%; text-align: center; font-size: 13px; float: left; margin: 10px 0 0px; }
	.mobile .rightfooter { margin-top: 10px; }
	.mobile .leftfooter .signup_title_icon { width: 38px; margin: 40px auto 10px; float: none; }
	.mobile .leftfooter .signup_title_icon img { width: 100%; height: auto; float: left; }

	.popup { width: 239px; padding: 52px 20px 60px 20px; }
	.statusbox:last-child { margin-top: 50px; }

	.mailer { width: auto; padding: 72px 20px; }
	.mailerinner { width: auto; }
	.mailerbody { width: auto; }
	.mailerfooter { width: auto; margin: 40px 0px 0px; }

	.main_inner_wrapper { width: 97%; }
	.static_tabs { margin: 20px 0 !important; }
	#tabs li a { width: 93px; }
	.paragraph { width: 98%; }
	.paragraph ul { width: 100%; text-align: justify; word-break: break-all; }
	.paragraph p { width: 100%; text-align: justify; word-break: break-all; }

	.innerwrap-right-static { width: 100%; height: auto; float: left; }
	.content_wrapper { width: 97%; height: auto; float: left; float: left; }
	.content_wrapper .left_content { width: 100%; height: auto; float: left; }
	.content_wrapper .left_content h2 { width: 100%; height: auto; float: left; }
	.content_wrapper .left_content h3 { width: 100%; height: auto; float: left; } 
	.content_wrapper .left_content small { width: 100%; height: auto; float: left; } 
	.content_wrapper .right_content { width: 100%; height: auto; float: left; }
	.content_wrapper .right_content img { width: 100%; float: left; margin: 20px 0 0; }
	.content_wrapper .left_content p { width: 100%; height: auto; float: left; }
	.footer_content_wrapper { margin: 0; }
	.blue_gradiant_wrapper { margin: 50px 0px 0px 0px; }
	.second_content_wrapper_margin { margin-top: 50px; }

	.left_container { width: 95%; height: auto; float: left; }
	.left_container h3 { width: 100%; font-size: 25px; }
	.right_container { width: 95%; height: auto; float: left; }
	.right_container h3 { width: 100%; font-size: 25px; }
	.right_container h4 { float: left; }
	.right_container p { width: 100%; height: auto; float: left; text-align: left; } 
	.static_page_container { overflow: scroll; margin: 0; }
	.static_page_container h2 { width: 100%; height: auto; float: left; }
	.left_container p { width: 100%; height: auto; float: left; text-align: left; } 
}