@charset "utf-8";

/* CSS Document */



/* ============================================= Important =================================================== */

body, html { width:100%; height:100%; margin:0%; padding:0%;}

body { background: #fbfbfb url("../images/commonbg@1x.png") no-repeat 60% -240px; font-family: 'Montserrat', sans-serif; }

a { text-decoration:none; outline:none; border:none; color:#000; cursor:pointer; transition: 0.4s;}

*:focus { outline:none; }

img { outline:none; border:none; }

* { margin:0; padding:0; }

.clr{clear:both;}



h1,h2,h3,h4,h5,h6,p,span,div,header,banner,nav,footer,figure,section,aside,sidebar,article,container,img,li,ul,ol,input,label,select { margin:0%; padding:0%; font-weight:normal; font-family: 'Montserrat', sans-serif; }

li,ul,ol { list-style:none; }

@font-face {
    font-family: 'vivaldiitalic';
    src: url('../fonts/vivaldii-webfont.eot');
    src: url('../fonts/vivaldii-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vivaldii-webfont.woff2') format('woff2'),
         url('../fonts/vivaldii-webfont.woff') format('woff'),
         url('../fonts/vivaldii-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.left { float: left !important; }
.right { float: right !important; }
.width100 { width: 100% !important; }
.center { text-align: center !important; }
.relative { position: relative; }
.width70 { width: 70px !important; }
.widthauto { width: auto !important; }

/* ============================================= Page Content =================================================== */
.pagewrapper { width:100%; height:auto; float:left; }

.mainbody { margin: 0 auto; display: table; }


div.rightbg{
  background: #fff;
  height: 100vh;
  width: 50vw;
  position: absolute;
  right: 0px;
  overflow: hidden;
  min-width: 420px;
  max-width: calc(40vw + 70px);
}
div.bg{
  background: url("../images/commonbg@1x.png") no-repeat 0% -240px;
  height: 100vh;
  width: 100vw;
  position: absolute;
  transform: translate( -475px, 0% );
  filter: blur(8px);
}


#HEADER { display: flex; height: 40px; padding-top: 60px; }
#MAIN  { display: flex; height: calc(100vh - 150px); min-height: 550px; }
#FOOTER { display: flex; height: 50px; }


.logowrap {  }
.logo { width: auto; height: auto; float: left; }

.left_right_sectionwrap { width: 100%; height: auto; float: left; }


.leftouterwrap { width: 50vw; min-width: 380px; max-width:780px; float: left; position: relative; }

#MAIN .leftwrap { width: 380px; height: auto; float: left; position: relative; margin-top: 13%; }


.leftwrap h1 { font-weight: 300; color: #084f7f; font-size: 45px; line-height: 45px; letter-spacing: -1px; margin: 0 0 40px 0; float: left; }

.leftwrap h2 { font-weight: 700; color: #243f76; font-size: 35px; line-height: 40px; margin: 0 0 30px 0; float: left; }

.leftwrap p { float: left; font-size: 16px; color: #4b4b4d; line-height: 22px; letter-spacing: 0.16px; margin: 20px 0 0 0; }

.txtsmall { font-size: 13px; color: #858585; line-height: 16px; letter-spacing: 0.26px; float: left; }
.rightouterwrap { width: 10vw; min-width: 380px; float: left; position: relative; }

#MAIN .rightwrap { width: 230px; height: 340; float: right; padding: 60px; background: #fff; box-shadow: 12px 20px 40px 0 rgba(8, 79, 127, 0.16); border-radius: 30px; overflow: hidden; min-height: 340px; max-height: 340px; position: relative; margin-top: 10%; }


.signup_title { width: 230px; height: auto; float: left; margin: 0 0 10px; position: absolute; top: 54px; display: table-column; }

.signup_title_icon { width: 45px; height: 45px; float: left; margin-right: 15px; object-fit: contain; display: table-cell; }

.signup_title_text { width: 100%; display: table-cell; vertical-align: middle; height: 45px; }

.signup_title_text h6 { font-size: 20px; color: #084f7f; }

.signup_title_text p { font-size: 13px; color: #084f7f; text-transform: uppercase; }

.signupformwrap { width: 230px; float: left; padding: 0 0 0; position: absolute; bottom: 60px; }

.signupformwrap .formrow { width: 100%; height: auto; float: left; margin: 5px 0 0 0; position: relative; }

.signupformwrap .formrow input[type=text] { width: 220px; float: left; font-size: 16px; color: #084f7f; border-bottom: 1px solid #0d76bd; border-left: none; border-right: none; border-top: none; line-height: 20px; padding: 5px; }

::-webkit-input-placeholder { color: #084f7f; }

.signupformwrap .formrow input[type=checkbox] { width: 18px; height: 23px; margin: 0 5px 0 0; background: #fff; border: 2px solid #0b72b5; border-radius: 4px; float: left;}

.colorgray { color: #4b4b4d !important; font-size: 9px !important; text-transform: uppercase; margin: 0px 0 0 25px; }

.signupformwrap .formrow span { width: 100%; font-size: 9px;  letter-spacing: 0.15px; text-transform: uppercase; line-height: 16px; color: #4b4b4d; float: left; margin: 2px 0 0 5px; }

.signupformwrap .formrow label { font-size: 12px; color: #084f7f; display: block; }


.signupformwrap .btn { width: 100%; float: left; text-align: center; border-radius: 100px; box-shadow: 10px 10px 10px 0 rgba(11, 114, 181, 0.16); background-image: linear-gradient(to right, #084f7f, #3aaadc); color: #fff; line-height: 40px; font-size: 13px; margin: 10px 0; cursor: pointer; border: none; transition: 0.4s;}

.signupformwrap .btn:hover { box-shadow: 12px 17px 30px 0 rgba(11, 114, 181, 0.3); }
.signupformwrap .btn:active { box-shadow: 10px 10px 20px 0 rgba(11, 114, 181, 0.45); transform: translateY(1px) translateX(1px);}

.signupformwrap .btn2 { width: 60%; float: right; text-align: center; border-radius: 100px; box-shadow: 12px 12px 20px 0 rgba(11, 114, 181, 0.16); background-image: linear-gradient(to right, #084f7f, #3aaadc); color: #fff; line-height: 40px; font-size: 13px; margin: 0px 0 10px; cursor: pointer; border: none; transition: 0.4s;}

.signupformwrap .btn2:hover { box-shadow: 12px 17px 30px 0 rgba(11, 114, 181, 0.3); }
.signupformwrap .btn2:active { box-shadow: 10px 10px 20px 0 rgba(11, 114, 181, 0.45); }

.oder { width: 100%; border-top: 1px solid #ccc; float: left; text-align: center; margin: 20px 0 0; }

.odertxt { padding: 0px 5px; background: #fff; margin: -10px auto 0; display: table; font-size: 13px; color: #084f7f; }

.xing_linkedin_outerwrap { width: 100%; float: left; margin: 15px 0 0; }

.xing { width: 90px; height: 31px; float: left; margin: 0px 50px 0 0; }

.linkedin { width: 90px; height: 31px; float: left; }

.loginwrap { width: 100%; height: auto; position: absolute; left: 0; bottom: -37px; text-align: center; }

.loginwrap a { color: #084f7f; font-size: 10px; }

.loginwrap .fa-arrow-left { width: 8px; height: 9px; }

.otherloginwrap { width: 40%; height: auto; float: left; text-align: left; }

.otherloginwrap a { color: #084f7f; font-size: 11px; text-transform: uppercase; line-height: 40px; margin: 0 0 0 5px; }

.otherloginwrap .fa-arrow-left { width: 8px; height: 9px; }


.footermobile { display: none; }

.leftfooter { width: 100%; height: auto;}

.leftfooter img { width: 14px; height: 16px; margin: 0 20px 0 0; float: left; }

.leftfooter span { font-size: 13px; color: #084f7f; margin: 0 20px 0 0; float: left; }



.rightfooter { width: 100%; height: auto; margin: -2px 0 0; text-align: center;}

.rightfooter a { font-size: 13px; color: #084f7f; margin: 0 10px; }



.innerpagefooter { width: 100%; height: auto; float: left; margin-bottom: 47px; }

.innerpagefooter img { width: 14px; height: 16px; margin: 0 0px 0 0; float: left; }

.innerpagefooter span { font-size: 13px; color: #084f7f; margin: 0 20px 0 0; float: left; }

.innerpagefooter a { color: #084f7f; font-size: 13px; float: left; margin: 0 9px; }

.innerpagefooter:last-child a { margin-right: 0px; }



.padd82 { position: absolute; bottom: 60px; width: 230px; }

.padd78 { position: absolute; bottom: 60px; width: 230px;}

.mrgn40 { margin-right: 40px !important; }

.txtgray { color: #4b4b4d; font-size: 10px; text-transform: uppercase; line-height: 16px; }



.overlaywrap { width: 100%; height: 100vh; float: left; position: relative; background: #fbfbfb url("../images/commonbg@1x.png") no-repeat 75% -248px; }

.popup { width: 230px; height: 340px; padding: 60px; float: left; background: #fff; box-shadow: 12px 20px 40px 0 rgba(8, 79, 127, 0.16); min-height: 340px; max-height: 340px; border-radius: 30px; position: relative; top:15%; }

.popup .signup_title { }

.popup .signup_title_icon { width: 45px; height: 45px; float: left; margin-right: 15px; object-fit: contain; }

.popup .signup_title_text { width: auto; float: right; }

.popup .signup_title_text span { font-size: 10px; margin: 0px 26px -8px 0px; }

.popup .signup_title_text h5 { font-size: 40px; color: #0b72b5; }

.popup .signup_title_text h6 { font-size: 20px; color: #084f7f; }

.popup .signup_title_text p { font-size: 20px; color: #084f7f; float: right; line-height: 58px; margin: 0px 0px 0px 5px; }



.popup .signupformwrap .formrow { width: 100%; height: auto; float: left; margin: 0 0 18px; }

.popup .signupformwrap .formrow span { width: 100%; font-size: 9px; line-height: 16px; color: #4b4b4d; float: left; }

.popup .signupformwrap .formrow label { font-size: 9px; color: #084f7f; display: block; }

.popup .signupformwrap .btn { width: 100%; float: left; text-align: center; border-radius: 100px; box-shadow: 12px 12px 20px 0 rgba(11, 114, 181, 0.16); background-image: linear-gradient(to right, #084f7f, #3aaadc); color: #fff; line-height: 40px; font-size: 13px; margin: 10px 0; cursor: pointer; border: none; }

.popup .signupformwrap .formrow select { width: 100%; float: left; font-size: 14px; color: #084f7f; border: 1px solid #0d76bd; line-height: 20px; border-radius: 50px; background: #fff; padding: 5px; text-indent: 10px; -webkit-appearance: none; -moz-appearance: none; appearance: none; background: url(../images/backarrow.svg) no-repeat 90% center; }

.ui-widget.ui-widget-content { margin-top: -20px !important; padding: 10px 0px !important; border: 1px solid #0d76bd !important; border-radius: 10px !important; color: #084f7f !important; }

.ui-widget.ui-widget-content li { font-size: 12px !important; padding: 1px 0px !important; text-indent: 10px !important; }

.blank { width: 10px; height: 28px; position: absolute; left: 0px; top: 15px; background: #fff; border-left:1px solid #0d76bd; z-index: 9999999; display: none; }

.blank2 { width: 10px; height: 28px; position: absolute; right: 1px; top: 15px; background: #fff; border-right:1px solid #0d76bd; z-index: 9999999; display: none; }

.popup .signupformwrap .formrow .autocomplete { width: 94%; float: left; font-size: 14px; color: #084f7f; border: 1px solid #0d76bd;line-height: 20px; border-radius: 50px; background: #fff; padding: 5px; text-indent: 10px; -webkit-appearance: none; -moz-appearance: none; appearance: none; background: url(../images/backarrow.svg) no-repeat 90% center; }

.popup .signupformwrap .btn { width: 100%; float: left; text-align: center; border-radius: 100px; box-shadow: 12px 12px 20px 0 rgba(11, 114, 181, 0.16); background-image: linear-gradient(to right, #084f7f, #3aaadc); color: #fff; line-height: 40px; font-size: 13px; margin: 0px 0; cursor: pointer; border: none; }

.popup .oder { display:none; }

.apiboxwrap { width: 447px; height: 317px; padding: 40px 42px; position: absolute; left: 50%; top: 50%; transform: translateX(-50%) translateY(-50%); border: 1px solid #666; background: rgba(255,255,255,0.5); }

.apiboxwrap h1 { width: 100%; float: left; font-weight: bold; color: #243f76; font-size: 33px; margin-bottom: 17px; }

.apiboxwrap .txtsmall { width: 100%; float: left; color: #4b4b4d; font-size: 13px; }

.apiboxwrap p { width: 100%; height: 125px; float: left; color: #4b4b4d; font-size: 16px; line-height: 22px; margin-bottom: 54px; }

.apiboxwrap .btn { width: 332px; margin: 0 auto; display: table; float: none; text-align: center; border-radius: 100px; box-shadow: 12px 12px 20px 0 rgba(11, 114, 181, 0.16); background-image: linear-gradient(to right, #084f7f, #3aaadc); color: #fff; line-height: 60px; font-size: 13px; cursor: pointer; border: none; }

.apiboxwrap img { width: 15px; height: 20px; margin: 0 5px -4px 0; }

.fa-linkedin { font-size: 20px; margin: 0 5px 0 0; }



.afterlogin_popup { width: 220px; /*height: 346px;*/ padding: 52px 65px 52px 65px; float: left; background: #fff; box-shadow: 12px 20px 40px 0 rgba(8, 79, 127, 0.16); border-radius: 30px; }

.userprofile { width: 100%; height: auto; float: left; font-size: 16px; line-height: 22px; margin-top: 24px; color: #084f7f; display: table;}

.afterloginbtngrp { width: 100%; height: auto; float: left; }



.afterlogin_popup .signup_title_text h6 { font-size: 18px; color: #084f7f; }


/*agree checkbox*/


#cbx .agreechecktxt { text-transform: inherit; letter-spacing: 0px;}

.inp-cbx.agree{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  margin-left: -300px;
}

label.cbx { display:flex!important; margin-top: 5px; text-align: left; }

.cbx {
  margin: auto;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}
.cbx span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}
.cbx span:first-child {
  position: relative;
  width: 15px;
  height: 15px;
  border-radius: 4px;
  transform: scale(1);
  vertical-align: middle;
  border: 2px solid #0B72B5;
  transition: all 0.2s ease;
  margin: 0px;
}
.cbx span:first-child svg {
  position: absolute;
  top: 2px;
  left: 1px;
  fill: none;
  stroke: #084F7F;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}
.cbx span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #084f7f;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
}
.cbx span:last-child {
  width: auto;
  font-size: 12px;
  font-weight:500;
  line-height: inherit;
  letter-spacing: 0px;
  text-transform: inherit;
  float: none;
  color: #0B72B5;
}

.cbx span:last-child a{ color: #0B72B5; }
.cbx span:last-child a:hover { text-decoration: underline; }

.cbx:hover span:first-child { border-color: #033e66; }

.inp-cbx:checked + .cbx span:first-child {
  background: #084f7f00;
  border-color: #0B72B5;
  animation: wave 0.4s ease;
}
.inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}
.inp-cbx:checked + .cbx span:first-child:before {
  transform: scale(3.5);
  opacity: 0;
  transition: all 0.6s ease;
}

@keyframes wave {
  50% { transform: scale(0.9); }
}

/*END Newsletter Form*/


/* =================================== On screens that are 900px or less ========================================= */
@media screen and (max-width: 900px) {

  body { background:#fbfbfb url("../images/commonbg@1x.png") no-repeat 10% -140px; }
  div.rightbg { display: none; }

  #HEADER { flex-direction: column; height: auto; }
  #MAIN { flex-direction: column-reverse; height: auto; }
  #FOOTER { flex-direction: column; padding: 40px 0 50px 0; height: auto; }

  .logo { padding-left: 20px; }
  .leftouterwrap, .rightouterwrap { display: block; float: none; width: 350px!important; max-width: 350px!important; min-width: 350px!important;  }
  .rightwrap { float: none!important; padding: 60px 45px!important; margin: 10% auto 0 auto;}
  .leftwrap { float: none!important; margin: 100px auto 40px auto!important; width: 300px!important; }

  #FOOTER .leftouterwrap, #FOOTER .rightouterwrap {display: none; }
  .footermobile { display: block; }
  .footermobile .leftfooter { display: flex; flex-direction: column; justify-content: center; }
  .mobilecenter { margin: 0 auto; padding: 15px;}
  #FOOTER .signup_title_icon img { width:37px!important; height: 37.2px!important; margin: 0px;}
  .signup_title_icon { float: none; padding: 5px; width:37px; height:37.2px; }
  .leftfooter span { margin: 0; }
}

/* =================================================== USER AREA ================================================= */

.bluegrdbg { display:table; height: 100%; background: transparent linear-gradient(180deg, #F7FBFD 0%, #E3E7F3 100%) 0% 0% no-repeat; }

.innerwrap { /*width: 100%;*/ padding: 50px 0 0 0; float: left;  }

.innerwrap-left { width: 260px; height: auto; float: left; margin-right: 61px; }



.innerwrap-left-logo { width: 165px; height: auto; margin: 0 auto 28px; display: table; }

.innerwrap-left-logo-icon { width: 45px; height: 45px; float: left; margin-right: 10px; }

.innerwrap-left-logo-icon img { width: 100%; float: left; }

.innerwrap-left-logo-text { width: 108px; height: auto; float: left; margin-top: 16px; }

.innerwrap-left-logo-text img { width: 100%; float: left; }



.menuopenbox { width: 200px; height: 185px; position: absolute; left: 0; top: 0; box-shadow: 12px 20px 40px 0 rgba(8, 79, 127, 0.16);

  background: linear-gradient(103deg, rgba(8,79,127,0.95), rgba(58,170,220,0.95)); z-index: 99; padding: 30px 30px 10px 30px; display: none; }

.usermenuclose { width: 100%; float: left; text-align: right; margin-bottom: 24px; cursor: pointer; }

.menuopenbox ul { width: auto; height: auto; float: right; }

.menuopenbox ul li { width: auto; height: auto; float: right; text-align: right; list-style: none; font-size: 16px; line-height: 22px; color: #f9f9fa; letter-spacing: 0.16px; margin-bottom: 11px; clear: both; }

.menuopenbox ul li a { color: #fff; float: left; }

.menuopenbox ul li a:hover { border-bottom: 1px solid #f9f9fa; }
.menuopenbox ul li span { width: 27px; float: right; text-align: center; margin: 0 0 0 11px; }



.userprofilewrap { width: 260px; height: auto; float: left; margin-bottom: 50px; box-shadow: 12px 20px 40px #084F7F29; border-radius: 20px; overflow: hidden; }

.userprofile2 { width: 200px; height: 185px; float: left; padding: 30px 30px 10px 30px; background: transparent linear-gradient(124deg, #084F7F 0%, #3AAADC 100%) 0% 0% no-repeat; border-top-left-radius: 20px; border-top-right-radius: 20px; position: relative; }

.profile-top { width: 100%; height: auto; float: left; position: relative; }

.profile-top-left { width: 90px; height: 90px; float: left; border-radius: 100%; border-top: 3px solid transparent; border-left: 3px solid rgba(255,255,255,0.5); border-right: 3px solid rgba(255,255,255,0.5); border-bottom: 3px solid rgba(255,255,255,0.5); transform: rotate(45deg); position: relative; }

.profile-photo { width: auto; height: auto; position: absolute; left: 11px; top: 13px; transform: rotate(-45deg); }

.profile-photo img { width: 60px; height: 60px; float: left; border-radius: 100%; border: 3px solid #fff; }

.plus-icon { width: 20px; height: 20px; position: absolute; right: 27px; top: 0px; border: 2px solid #fff; color: #fff; line-height: 20px; font-size: 22px; border-radius: 100%; background: #1378c7; text-align: center; transform: rotate(-45deg); z-index: 9; }

.status { width: auto; height: auto; float: left; font-size: 13px; line-height: 16px; color: #90B7D0; }

.usermenu { width: 15px; height: 12px; position: absolute; right: 0; top: 0; cursor: pointer; }

.usermenu .fa-bars { font-size: 15px; color: #fff; float: left; }

.usermenu span { font-size: 15px; color: #fff; float: left; }

.username { width: auto; height: auto; float: right; font-size: 16px; line-height: 18px; color: #fff; text-align: right; margin-top: 40px; }

.username .surname { font-size: 13px; }

.profile-bottom { width: 100%; height: auto; float: left; margin-top: 28px; position: relative; }

.profile-bottom .signup_title_text { width: auto; float: right; }

.profile-bottom .signup_title_text span { font-size: 10px; margin: 0px 0px 0px 0px; color: #E5EAF6; }

.profile-bottom .signup_title_text h5 { font-size: 48px; color: #fff; line-height: 48px; }

.profile-bottom .signup_title_text h6 { font-size: 20px; color: #084f7f; }

.profile-bottom .signup_title_text p { font-size: 20px; line-height: 20px; color: #fff; float: right; margin: 21px 0px 0px 5px; }

.trendbox { width: 71px; height: auto; position: absolute; right: 0; top: -30px; }

.trendboxwrap { width: 100%; height: auto; float: left; margin: 2px 0; }

.trend-icon { width: auto; float: left; }

.trend-icon .fa-line-chart { float: left; color: #0B72B5; font-size: 17px; }

.trend-icon .fa-ban { float: left; color: #0B72B5; font-size: 17px; }

.trend-number { width: auto; float: right; text-align: right; color: #0B72B5; font-size: 13px; }

.innerwrap-right { width: 658px; height: auto; float: left; }



.userinfo-outerwrap { width: 100%; float: left; }

.userinformation { width: 200px; height: auto; float: left; background: transparent linear-gradient(144deg, #F7FBFB 0%, #E3E8F4 100%) 0% 0% no-repeat; padding: 30px 30px 20px 30px; /*border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;*/ }

.userinformation-innerwrap { width: 166px; padding: 23px 11px 11px 12px; background: #FFFFFF 0% 0% no-repeat; box-shadow: 12px 12px 15px #084F7F0F; border-radius: 10px; border-left: 10px solid #E6EAF5; float: left; }

.mrgnbtm20 { margin-bottom: 20px; }

.paddtop10 { padding-top: 10px !important; }

.nomrgnbtm { margin-bottom: 0 !important; }

.linehight30 { line-height: 30px !important; }

.mrgntop30 { margin-top: 30px; }

.userinformation-listingwrap { width: auto; height: auto; float: left; margin-bottom: 15px; display: table}

.userinformation-listingwrap-icon { width: 30px; height: 30px; text-align: center; float: left; margin-right: 12px; background: #F9F9FA; border-radius: 50%; }

.userinformation-listingwrap-icon .fa { line-height: 30px; color: #0B72B5; }

.userinformation-listingwrap-icon span { line-height: 30px; color: #0B72B5; }

.userinformation-listingwrap-textwrap { width: 124px; height: auto; display: table-cell; vertical-align: middle;}

.userinformation-listingwrap-textwrap h2 { width: 100%; float: left; font-size: 13px; line-height: 16px; color: #084F7F; font-weight: 500; }

.userinformation-listingwrap-textwrap p { width: 100%; float: left; font-size: 10px; line-height: 16px; color: #C6C7C8; }

.userinformation-listingwrap-textwrap h3 { width: 100%; float: left; font-size: 11px; line-height: 16px; color: #084F7F; }

.userinformation-listingwrap-textwrap input { width: 100px; float: left; font-size: 16px; line-height: 16px; color: #084F7F; font-weight: 500; border:none; background: none; line-height: 30px; }

.userinformation-listingwrap-textwrap .fal { font-size: 13px; line-height: 30px; float: right; color: #084F7F; cursor: pointer; }

.rowwrap { width: 100%; height: auto; float: left; margin: 0 0 5px; }

.fal, .far { font-family: "Font Awesome 5 Pro"; }

.profilebuttonwrap { width: 100%; float: left; }

.otherboxwrap { width: 100%; height: auto; float: left; margin: 25px 0; display: none; }

.otherboxwrap h6 { width: 100%; float: left; font-size: 13px; line-height: 16px; color: #084f7f; letter-spacing: 0.2px; text-align: center; margin-bottom: 9px; }

.otherboxwrap input[type=text] { width: 90px; height: 35px; border-radius: 50px; background-image: linear-gradient(to right, rgba(58, 170, 220, 0.09), rgba(11, 114, 181, 0.13)); font-size: 16px; line-height: 35px; letter-spacing: 0.16px; color: #0b72b5; border: none; text-align: right; margin-right: 10px; float: left; padding: 0 20px;}

.otherboxwrap .btn { width: 54px; height: 35px; border-radius: 20px; background-image: linear-gradient(to right, #084f7f, #3aaadc); font-size: 13px; line-height: 35px; text-align: center; float: left; color: #fff; }

.otherboxwrap .btn:hover { box-shadow: 12px 17px 30px 0 rgba(11, 114, 181, 0.3); }
.otherboxwrap .btn:active { box-shadow: 10px 10px 20px 0 rgba(11, 114, 181, 0.45); }

.profilebutton { width: 150px; height: auto; margin: 25px auto; display: table; background: transparent linear-gradient(90deg, #084F7F 0%, #146596 38%, #3AAADC 100%) 0% 0% no-repeat; box-shadow: 12px 12px 20px #0B72B529; color: #fff; line-height: 40px; text-align: center; font-size: 13px; text-transform: uppercase; border-radius: 100px; }

.profilebutton:hover { box-shadow: 12px 17px 30px 0 rgba(11, 114, 181, 0.3); }
.profilebutton:active { box-shadow: 10px 10px 20px 0 rgba(11, 114, 181, 0.45); }
.userprofile-bottompatch { width: 260px; height: 50px; background: #fff; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; float: left; position: relative; }

.userprofile-plusbtn { width: 54px; height: 54px; position: absolute; left: 40%; top: -26px; z-index: 99; background: transparent linear-gradient(139deg, #F7FBFB 0%, #E9EEF6 100%) 0% 0% no-repeat; border-radius: 50%;  }

.userprofile-plusicon { width: 30px; height: 30px; margin: 12px; border-radius: 50%; background: #3AAADC 0% 0% no-repeat; box-shadow: 3px 3px 5px #0B72B529; font-size: 30px; color: #fff; text-align: center; line-height: 30px; transition: 0.4s;}

.userprofile-plusicon:hover { box-shadow: 12px 17px 40px 0 rgba(11, 114, 181, 0.2); transform: scale(1.05);}
.userprofile-plusicon:active { box-shadow: 12px 10px 15px 0 rgba(11, 114, 181, 0.12); transform: scale(0.95); }
.userprofile-plusicon a { color: #fff; }



#tabs { width: 84%; float: left; margin: 9px 0 31px 100px; }

#tabs li { list-style:none; outline:none; }

#tabs li a { width: 110px; height: 30px; float:left; background: #FFFFFF 0% 0% no-repeat padding-box; box-shadow: 0px 5px 10px #084F7F1A; border-radius: 50px; text-align: center; color: #243F76; font-size: 13px; line-height: 30px; letter-spacing: 0.20px; text-decoration:none; outline:none; font-weight: bold; margin: 0 5px; }

#tabs li a.inactive { width: 110px; height: 30px; text-align: center; background: none; box-shadow: none; }

#tabs li a:hover, #tabs li a.inactive:hover { color: #0B72B5; outline:none; background:#FFFFFF 0% 0% no-repeat padding-box; box-shadow: 0px 5px 10px #084F7F1A; } 

.container { width: 658px; float: left; background: transparent linear-gradient(137deg, #FFFFFF 0%, #E4E9F5 100%) 0% 0% no-repeat;

box-shadow: 12px 20px 40px #084F7F29; border-radius: 20px; margin-bottom: 47px; overflow: hidden; }

.container h2 { margin-left: 15px;  margin-right: 15px;  margin-bottom: 10px; color: #5685bc; }

.container p { margin-left: 15px; margin-right: 15px;  margin-top: 10px; margin-bottom: 10px; line-height: 1.3; font-size: small; }

.container ul { margin-left: 25px; font-size: small; line-height: 1.4; list-style-type: disc; }

.container li { padding-bottom: 5px; margin-left: 5px;}



#tabs2 { width: 365px; float: left; margin: 15px 0 0px 0px; }

#tabs2 li { list-style:none; outline:none; float: left; }

#tabs2 li a { width: auto; height: 20px; float:left; text-align: center; color: #243F76; font-size: 13px; line-height: 20px; text-decoration:none; outline:none; font-weight: bold; padding: 0 5px; margin: 0 10px; border-bottom: 2px solid #243F76; }

#tabs2 li a.inactive { width: auto; height: 20px; text-align: center; background: none; box-shadow: none; border: none; }

#tabs2 li a:hover, #tabs2 li a.inactive:hover { color: #5685bc; outline:none; border-bottom: 2px solid #243F76; }



.searchbarwrap { width: 598px; padding: 23px 30px 10px 30px; float: left; }

.searchtitle { width: 130px; float: left; margin-right: 10px; }

.searchtitle h1 { width: 100%; float: left; font-size: 23px; color: #243F76; letter-spacing: -1px; }

.searchbox { width: 190px; float: left; margin-right: 10px; }

.searchbox label { width: auto; float: left; font-size: 13px; line-height: 30px; margin-right: 8px; color: #243F76; font-weight: bold; }

.searchbox input { width: 130px; height: 30px; padding: 0px 5px; float: left; font-size: 13px; line-height: 16px; color: #4B4B4D; background: transparent linear-gradient(90deg, #3AAADC17 0%, #0B72B521 100%) 0% 0% no-repeat; border-radius: 50px; opacity: 0.6; border: none; text-indent: 5px; }



.dashboardwrap { width: 598px; padding: 23px 30px 23px 30px; float: left; background-color: rgba(198, 199, 200, 0.1); }

.dashboardtitle { width: 220px; float: left; margin-right: 10px; }

.dashboardtitle h1 { width: 100%; float: left; font-size: 40px; line-height: 45px; color: #243F76; letter-spacing: -1px; }



.rangesliderwrap { width: 251px; float: left; }

.rangesliderwrap label { width: auto; float: left; font-size: 13px; line-height: 30px; color: #243F76; font-weight: bold; margin-right: 10px; }

.rangesliderwrap span { font-weight: bold; }



#home-slider-range .ui-state-default, .ui-widget-content .ui-state-default { width: 5px; height: 20px; border:none !important; top: -6px; outline: none; cursor: pointer; background: #084F7F; margin: 0; }

#home-slider-range .ui-slider-horizontal { height: 15px !important; }

#home-slider-range { width: 100px; border: none !important; float: left; padding: 0 !important; border-radius: 0px !important; height: 8px !important; background: #DDE7F2 !important; margin: 10px 0 0 0 !important; }

.home-rupees { font-size: 13px; line-height: 30px; float: left; }

.homeamt { width: auto; float: left; margin: 0 4px; }

.homeamt input { width: 25px; line-height: 30px; border: none; background: none; float: left; }



.rightlistouterwrap { width: 598px; padding: 10px 30px 50px 30px; float: left; background: transparent linear-gradient(137deg, #FFFFFF 0%, #E4E9F5 100%) 0% 0% no-repeat; /*box-shadow: 12px 20px 40px #084F7F29;*/ border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; }

.dashboardboxouterwrap { width: 598px; padding: 20px 30px 50px 30px; float: left; background: transparent linear-gradient(137deg, #FFFFFF 0%, #E4E9F5 100%) 0% 0% no-repeat; /*box-shadow: 12px 20px 40px #084F7F29;*/ border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; }

.rightlistbox { width: 534px; float: left; background: #FFFFFF 0% 0% no-repeat; box-shadow: 12px 12px 15px #084F7F0F; border-radius: 10px; border-left: 10px solid #E6EAF5; padding: 16px 20px 23px 34px; }

.rightlistbox-topfixbar { width: 100%; float: left; margin-bottom: 15px; }

.headingcolumn_one { width: 224px; float: left; margin-right: 15px; }

.headingcolumn_two { width: 122px; float: left; margin: 0 8px 0 0; }

.headingcolumn_three { width: 93px; float: left; margin-right: 0px; }

.headingcolumn_two select { color: #243F76; font-size: 13px; margin-top: 15px; line-height: 22px; text-transform: uppercase; border: none; background: #fff url(../images/angle-down.png) no-repeat 100% center; -webkit-appearance: none; padding: 0px 15px 0 0; float: left; }

.headingcolumn_three select { color: #243F76; font-size: 13px; margin-top: 15px; line-height: 22px; text-transform: uppercase; border: none; background: #fff url(../images/angle-down.png) no-repeat 100% center; -webkit-appearance: none; padding: 0px 15px 0 0; float: left; }

.rightlistbox-topfixbar h3 { width: 200px; font-size: 23px; line-height: 46px; font-weight: 500; color: #0B72B5; border-bottom: 1px solid #f0f0f0; }

.rightlistbox-scrollerwrap { width: 100%; height: 410px; overflow-y: auto; overflow-x: hidden; float: left; }

.rightlistboxrow { width: 462px; padding: 7px 12px; height: auto; float: left; background: #F9F9FA 0% 0% no-repeat; border-radius: 10px; margin-bottom: 8px; position: relative; }

.accordion_body { height: 172px; display: none; }

.rowplusbtnwrap { width: 44px; height: 44px; border-radius: 50%; position: absolute; right: -22px; top: 14px; background: transparent linear-gradient(139deg, #F7FBFB 0%, #E9EEF6 100%) 0% 0% no-repeat; }

.rowplusbtnicon { width: 24px; height: 24px; margin: 10px; border-radius: 50%; background: #FFFFFF 0% 0% no-repeat; box-shadow: 3px 3px 5px #0B72B529; font-size: 24px; color: #0B72B5; text-align: center; line-height: 24px; cursor: pointer; }


.empwap { float: left; margin-right: 18px; }

.emp-photo {  float: left; border-radius: 50%;  }

.emp-photo img { width: 54px; height: 54px; float: left; border-radius: 50%; border: 3px solid #fff; box-shadow: 3px 3px 15px #243F761A; }

.empinfowrap { width: 146px; float: left; }

.empinfowrap h2 { width: 100%; float: left; font-size: 16px; line-height: 22px; text-transform: uppercase; color: #4B4B4D; margin: 0; }

.empinfowrap h3 { width: 100%; float: left; font-size: 13px; line-height: 22px; font-weight: bold; text-transform: uppercase; color: #243F76; }

.empinfowrap h4 { width: 100%; float: left; font-size: 13px; line-height: 16px; color: #C6C7C8; }



.expwrap { width: 100%; float: left; }

.expwrap h3 { width: 100%; float: left; font-size: 13px; line-height: 16px; color: #4B4B4D; }

.expwrap h4 { width: 100%; float: left; font-size: 13px; line-height: 16px; color: #C6C7C8; }

.mrgnlft { margin-left: 10px; }



#style-1::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); border-radius: 10px; background-color: #F5F5F5; }

#style-1::-webkit-scrollbar { width: 7px; background-color: #F5F5F5; }

#style-1::-webkit-scrollbar-thumb { border-radius: 10px; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); background-color: #555; }



.statusbox { width: 206px; min-height: 503px; border-left: 10px solid #e6eaf5; padding: 16px 30px 0px 22px; border-radius: 10px; box-shadow: 12px 12px 15px 0 rgba(8, 79, 127, 0.06); background-color: #ffffff; float: left; }

.statusbox h3 { width: 100%; float: left; font-size: 23px; font-weight: 500; line-height: 28px; padding-bottom: 5px; color: #858585; border-bottom: 1px solid rgba(8, 79, 127, 0.06); margin-bottom: 13px; }

.statusbox .txtsmall { font-size: 13px; line-height: normal; color: #084f7f; margin: 10px 0 0 10px; float: left; }

.dashboard_statusbox { width: 100%; height: auto; float: left; }

.dashboard_photo { width: 41px; float: left; margin-right: 9px; }

.dashboard_photo img { width: 100%; float: left; -webkit-backdrop-filter: blur(15px); backdrop-filter: blur(15px); box-shadow: 3px 3px 15px 0 rgba(36, 63, 118, 0.1);border: solid 2px #e5eaf6; border-radius: 50%; }

.dashboard_txtbox { width: 156px; height: auto; float: left; margin-bottom: 11px; }

.dashboard_txtbox h4 { width: 100%; float: left; font-size: 13px; line-height: 22px; color: #243f76; text-transform: uppercase; font-weight: 600; }

.dashboard_txtbox h5 { width: 100%; float: left; font-size: 16px; line-height: 22px; color: #4b4b4d; text-transform: uppercase; }

.dashboard_title_subtitle { width: 100%; float: left; margin-bottom: 24px; }

.dashboard_title_subtitle h1 { width: 100%; float: left; font-size: 13px; line-height: 22px; color: #243f76; letter-spacing: 0.2px; text-transform: uppercase; font-weight: 600; }

.dashboard_title_subtitle h2 { width: 100%; float: left; font-size: 16px; line-height: 22px; color: #4b4b4d; letter-spacing: 0.16px; margin: 0; }

.dashboard_title_subtitle strong { color: #0b72b5; }

.skillsbox { width: 100%; float: left; }

.skillsbox h1 { width: 100%; float: left; font-size: 13px; line-height: 22px; color: #243f76; letter-spacing: 0.2px; font-weight: 600; text-transform: uppercase; margin-bottom: 8px; }

.tagwrap { width: 100%; float: left; margin-bottom: 38px; }

.tag { width: auto; height: auto; display: inline-block; margin: 0px 10px 10px 0; padding: 10px 20px; border-radius: 10px; border: 2px solid #0b72b5; font-size: 10px; color: #0b72b5; position: relative; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;

  user-select: none; }

.tagtxt { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 35px; float: left; }

.checkbox-custom { opacity: 0; width: 15px; height: 15px; border-radius: 50%; border: solid 3px #ffffff; position: absolute; right: -5px; top: -5px; position: absolute; }

.checkbox-custom, .checkbox-custom-label { display: inline-block; vertical-align: middle; cursor: pointer; }

.checkbox-custom + .checkbox-custom-label:before { content: ''; background: #f0f0f0; border-radius: 50%; border: 2px solid #fff; display: inline-block; vertical-align: middle; width: 15px; height: 15px; padding: 2px; text-align: center; position: absolute; right: -8px; top: -7px; }

.checkbox-custom:checked { content: ''; background: #f0f0f0; border-radius: 50%; border: 2px solid #fff; display: inline-block; vertical-align: middle; width: 15px; height: 15px; padding: 2px; text-align: center; position: absolute; right: -8px; top: -7px; box-shadow: 0px 0px 5px #ccc inset; }

.checkbox-custom:checked + .checkbox-custom-label:before { width: 15px; height: 15px; background: #0b72b5 url(../images/icon-arrow.png) no-repeat center center; border-radius: 50%;

  /*content: "";

  display: inline-block;

  width: 1px;

  height: 5px;

  border: solid blue;

  border-width: 0 3px 3px 0;

  transform: rotate(45deg);

  -webkit-transform: rotate(45deg);

  -ms-transform: rotate(45deg);

  border-radius: 0px;*/

}



.checkbox-custom2 { opacity: 0; width: 15px; height: 15px; border-radius: 50%; border: solid 3px #ffffff; position: absolute; right: -5px; top: -5px; position: absolute; }

.checkbox-custom2, .checkbox-custom2-label { display: inline-block; vertical-align: middle; cursor: pointer; }

.checkbox-custom2 + .checkbox-custom2-label:before { content: ''; background: #f0f0f0; border-radius: 50%; border: 2px solid #fff; display: inline-block; vertical-align: middle; width: 15px; height: 15px; padding: 2px; text-align: center; position: absolute; left: 5px; top: 4px; }

.checkbox-custom2:checked { content: ''; background: #f0f0f0; border-radius: 50%; border: 2px solid #fff; display: inline-block; vertical-align: middle; width: 15px; height: 15px; padding: 2px; text-align: center; position: absolute; right: -8px; top: -7px; box-shadow: 0px 0px 5px #ccc inset; }

.checkbox-custom2:checked + .checkbox-custom2-label:before { width: 15px; height: 15px; background: #0b72b5 url(../images/plus-icon.png) no-repeat center center; border-radius: 50%; }



.checkbox-custom3 { opacity: 0; width: 15px; height: 15px; border-radius: 50%; border: solid 3px #ffffff; position: absolute; right: -5px; top: -5px; position: absolute; }

.checkbox-custom3, .checkbox-custom3-label { display: inline-block; vertical-align: middle; cursor: pointer; }

.checkbox-custom3 + .checkbox-custom3-label:before { content: ''; background: #f0f0f0; border-radius: 50%; border: 2px solid #fff; display: inline-block; vertical-align: middle; width: 15px; height: 15px; padding: 2px; text-align: center; position: absolute; right: -8px; top: -7px;}

.checkbox-custom3:checked { content: ''; background: #f0f0f0; border-radius: 50%; border: 2px solid #fff; display: inline-block; vertical-align: middle; width: 15px; height: 15px; padding: 2px; text-align: center; position: absolute; right: -8px; top: -7px; box-shadow: 0px 0px 5px #ccc inset; }

.checkbox-custom3:checked + .checkbox-custom3-label:before { width: 15px; height: 15px; background: #b5280b url(../images/icon-close.png) no-repeat center center; border-radius: 50%; }



.fa-angle-right { color: #e5eaf6; font-size: 80px; float: left; line-height: 650%; margin: 0px 16px; }



.settingboxwrap { width: 100%; float: left; }

.settingboxwrap .fal { float: left; text-align: left; margin: 4px 0 0 0; font-size: 20px; }

.settingboxwrap h3 { width: auto; min-width: 200px; float: left; padding: 5px 10px 10px 0; border-bottom: 1px solid #ccc; font-size: 23px; line-height: 28px; color: #0b72b5; margin-bottom: 17px; }

.settingboxwrap img { margin: 4px 12px 0 10px; float: left; }

.settingform { width: 470px; float: left; padding: 19px 31px; border-radius: 10px; background: #f9f9fa; margin-bottom: 20px; }

.settingform h6 { width: 100%; float: left; font-size: 13px; line-height: 22px; color: #243f76; font-weight: 600; margin-bottom: 18px; }

.settingform .row { width: 100%; float: left; margin-bottom: 24px; }

.settingform label { width: 123px; float: left; font-size: 13px; line-height: 22px; color: #243f76; letter-spacing: 0.13px; margin-right: 71px; font-weight: 600; }

.settingform input { width: 120px; float: left; padding: 5px 10px; border-bottom: 1px solid #0b72b5; font-size: 16px; line-height: 22px; letter-spacing: 0.16px; border-left: none; border-top: none; border-right: none; color: #4b4b4d; background: none; }

.settingform_btn { width: 118px; line-height: 35px; text-align: center; font-size: 13px; float: right; font-weight:500; border-radius: 5px; background: #0b72b5; border: none; box-shadow: 0px 5px 0px #0B6AA8; padding: 0px; color: #fff; cursor: pointer; }

.minheight { min-height: 535px; }



.settingform2 { width: 532px; float: left; padding: 19px 0px; margin-bottom: 20px; }

.settingform2 .row { width: 470px; float: left; padding: 5px 31px; margin-bottom: 10px; border-radius: 10px; background: #f9f9fa; }

.settingform2 .row span { width: auto; font-size: 9px; line-height: 16px; color: #4b4b4d; float: left; margin: 1px 0 0 220px; }

.settingform2 label { width: 140px; float: left; font-size: 13px; line-height: 32px; color: #243f76; letter-spacing: 0.13px; margin-right: 71px; font-weight: 600; }

.settingform2 input { width: 200px; float: left; padding: 5px 10px; border-bottom: 1px solid #0b72b5; font-size: 13px; line-height: 22px; letter-spacing: 0.16px; border-left: none; border-top: none; border-right: none; color: #4b4b4d; background: none; }

.verify { margin: 7px 10px 0 0 !important; float: left; }

.verifytxt { font-size: 13px !important; line-height: 32px !important; float: left; color: #4b4b4d; margin: 0 !important; }

.verifybtnbox { width: 147px; height: 34px; float: left; margin-right: 19px; border-radius: 5px; background: #0b72b5; line-height: 34px; font-size: 9px; text-align: center; letter-spacing: 0.14px; color: #fff; }

.verifyboxtxt { width: 135px; font-size: 10px; line-height: 13px; letter-spacing: 0.15px; color: #4b4b4d; float: left; margin-top: 5px; }

.mrgnrgt29 { margin-right: 29px !important; }

.search { width: auto; float: left; position: relative; }

.search .fal { position: absolute; left: 5px; top: 5px; color: #0b72b5; z-index: 9999; cursor: pointer; font-size: 16px; }

.search input { text-indent: 20px; color: #084F7F; }

.search button { background: none; border:none; }



.skillboxwrap { width: 100%; float: left; }

.skills { width: auto; height: auto; display: inline-block; margin: 0px 10px 10px 0; padding: 10px 20px; border-radius: 10px; border: 2px solid #0b72b5; font-size: 10px; color: #0b72b5; position: relative; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; text-indent: 15px; }

.skilltxt { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 35px; float: left; }



.xingpopup, .linkedinpopup { width: 100%; position: fixed; left: 0; top: 0; display: none; z-index: 9; }

.close { width: 50px; height: 50px; line-height: 45px; text-align: center; position: absolute; right: 50px; top: 50px; color: #243f76; font-size: 40px; font-weight: 600; border-radius: 50%; z-index: 9; background: #f9f9fa; box-shadow: 0px 0px 80px #ccc; cursor: pointer; }



.tagform { width: 470px; float: left; padding: 19px 31px; border-radius: 10px; background: #f9f9fa; margin-bottom: 20px; }

.tagform h6 { width: 100%; float: left; font-size: 13px; line-height: 22px; color: #243f76; font-weight: 600; margin-bottom: 18px; }

.mrgnbtm10 { margin-bottom: 10px !important; }

.nopaddbtm { padding-bottom: 0 !important; }



.crossicon { width: 28px; height: 28px; background: url(../images/cross.svg) no-repeat center center; margin: 3px 0 0 0; float: right; }

.crossicon_default { width: 20px; height: 20px; background: #e5eaf6 url(../images/x.svg) no-repeat center center; margin: 7px 4px 4px 4px; float: right; border-radius: 50px; }

.noborder { border: none !important; }



.switch {

  position: relative;

    display: inline-block;

    width: 44px !important;

    height: 20px;

    border-radius: 50px;

    transition: all 0.3s;

    font-size: 10px !important; line-height: 22px !important; font-weight: 600 !important; color: #0b72b5 !important; border: solid 1px #0b72b5; background-color: #ffffff; text-indent: 5px; letter-spacing: 0.15px;

}

.switch::after {

  content: '';

  position: absolute;

  width: 14px;

  height: 14px;

  border-radius:50%;

  background-color: #0b72b5;

  top: 3px;

  left: 3px;

  transition: all 0.3s;

  font-size: 10px; line-height: 20px; font-weight: 600; color: #0b72b5;

}

.checkbox:checked + .switch::after {
  width: 14px; height: 14px; left : 27px; top: 3px;
  font-size: 10px; line-height: 20px; font-weight: 600; color: #0b72b5;
}
.checkbox:checked + .switch {
  font-size: 10px; line-height: 20px; font-weight: 600; color: #0b72b5; border: solid 1px #0b72b5; background-color: #ffffff;
}
.checkbox {
  display : none;
}



.settingform3 { width: 470px; float: left; padding: 19px 31px; border-radius: 10px; background: #f9f9fa; margin-bottom: 20px; }

.settingform3 h6 { width: 100%; float: left; font-size: 13px; line-height: 22px; color: #243f76; font-weight: 600; margin-bottom: 18px; }

.settingform3 .row { width: 100%; float: left; margin-bottom: 24px; }

.settingform3 .row span { font-size: 13px; line-height: 32px; color: #243f76; letter-spacing: 0.13px; float: left; font-weight: 600; margin: 0 35px; }

.settingform3 label { width: 150px; float: left; font-size: 13px; line-height: 22px; color: #243f76; letter-spacing: 0.13px; margin-right: 40px; font-weight: 600; }

.settingform3 input { min-width: 241px; float: left; padding: 5px 10px; border-bottom: 1px solid #0b72b5; font-size: 13px; line-height: 22px; letter-spacing: 0.16px; border-left: none; border-top: none; border-right: none; color: #c6c7c8; background: none; }

.minwidth64 { min-width: 64px !important; width: 64px !important; }



.mrgntop20 { margin-top: 0px !important; }



.signupformwrap input:focus ~ .floating-label,

.signupformwrap input:not(:focus):valid ~ .floating-label{

  top: -22px;

  bottom: 10px;

  left: 0px;

  font-size: 12px !important;

  opacity: 1;

}



.inputText {
  font-size: 14px;
  width: 200px;
  height: 35px;
}

.floating-label {
  position: absolute;
  pointer-events: none;
  left: 0px;
  top: -3px;
  font-size: 14px !important;
  transition: 0.2s ease all;
}



.whtbtn { width: 215px; height: 38px; float: left; line-height: 38px; text-align: center; border-radius: 50px; box-shadow: 5px 5px 10px 0 rgba(11, 114, 181, 0.1); border: solid 1px #0b72b5; background-color: #ffffff; font-size: 13px; color: #0b72b5; margin-top: 21px; text-transform: uppercase; transition-duration: 0.4s; }

.whtbtn:hover { box-shadow: 12px 17px 40px 0 rgba(11, 114, 181, 0.2); }
.whtbtn:active { box-shadow: 12px 10px 15px 0 rgba(11, 114, 181, 0.12); transform: translateY(1px) translateX(1px); }


.email { width: 100%; height: auto; float: left; background-color: #f6f9ff; }
.mailer { width: 600px; height: auto; margin: 0 auto; display: table; padding: 72px 50px; }
.mailer .txtsmall { width: 100%; height: auto; float: left; font-size: 10px; line-height: 16px; letter-spacing: 0.15px; margin-bottom: 15px; text-align: center; color: #4b4b4d; }
.mailer .txtsmall a { text-decoration: underline; color: #4b4b4d; }
.mailerinner { width: 600px; padding: 30px; float: left; background: #fff; border-radius: 30px; }
.mailerlogowrap { width: 100%; float: left; padding-bottom: 19px; border-bottom: 1px solid #f0f0f0; }
.mailerlogo { width: 165px; float: left; position: relative; }
.mailerlogo img { float: left; }
.mailerlogotcaption { width: auto; position: absolute; left: 53px; float: none !important; bottom: 0; font-size: 10px; line-height: 13px; color: #084f7f; letter-spacing: -0.25px; }
.mailerbody { width: 570px; float: left; padding: 42px 15px 0px; }
.mailerbody h1 { width: 100%; float: left; color: #084f7f; font-size: 40px; line-height: 45px; letter-spacing: -1px; margin-bottom: 40px; }
.mailerbody h2 { width: 100%; float: left; color: #243f76; font-size: 33px; line-height: 35px; letter-spacing: -0.33px; margin-bottom: 30px; font-weight: bold; }
.mailerbody h4 { width: 100%; float: left; color: #858585; font-size: 13px; line-height: 16px; letter-spacing: 0.26px; margin-bottom: 15px; }
.mailerbody p { width: 100%; float: left; color: #4b4b4d; font-size: 16px; line-height: 22px; letter-spacing: 0.16px; margin-bottom: 30px; }
.mailerbody_btnwrap { width: 100%; float: left; text-align: center; margin-bottom: 42px; }
.mailerbody_btnwrap a { width: 260px; height: 40px; text-align: center; box-shadow: 12px 12px 20px 0 rgba(11, 114, 181, 0.16);
  background-image: linear-gradient(to right, #084f7f 30%, #176a9a 51%, #3aaadc 100%); color: #fff; font-size: 13px; line-height: 40px; text-transform: uppercase; letter-spacing: 0.2px; margin: 0 auto; display: table; border-radius: 50px; font-weight: 500; }
.mailerbody p a { color: #0b72b5; text-decoration: underline; }
.mailerfooter { width: 490px; float: left; padding: 10px; margin: 40px 40px 0px; text-align: center; border-top: 1px solid #f0f0f0; }
.mailerfooter p { width: 100%; float: left; font-size: 13px; line-height: 16px; color: #c6c7c8; margin-bottom: 20px; text-align: center; }
.copyright { color: #084f7f !important; }
.copyright a { color: #084f7f !important; text-decoration: none !important; }
.mailerbody_tablewrap { width: 100%; float: left; }
.mailerbody_tablewrap h3 { width: 100%; float: left; font-size: 20px; line-height: 25px; color: #0b72b5; margin-bottom: 15px; }
.mailerbody_tablewrap .row { width: 510px; float: left; border-radius: 10px; background: #f9f9fa; padding: 0 30px; margin-bottom: 10px; }
.mailerbody_tablewrap .row label { width: 150px; font-size: 13px; line-height: 40px; color: #243f76; letter-spacing: 0.13px; float: left; font-weight: 600; margin-right: 10px; }
.mailerbody_tablewrap span { width: 350px; float: left; font-size: 13px; line-height: 40px; color: #4b4b4d; }