<div class="pagewrapper bluegrdbg whitebg">
   <div class="mainbody">
      <div class="innerwrap main_inner_wrapper">
         <div class="full_header">
            <div class="logowrap static_logowrap">
               <div class="logo">
                  <a routerLink="/">
                  <img src="assets/images/logo.svg" alt=""></a>
               </div>
            </div>
            <div class="innerwrap-right width87">
               <ul id="tabs" class="static_tabs">
                  <li *ngIf="showmenu"><a id="tab1" routerLink="/dashboard" >Dashboard</a></li>
                  <li *ngIf="showmenu"><a id="tab2" routerLink="/compare" translate>compare</a></li>
                  <li *ngIf="showmenu" class="anmelden float-right"><a id="tab2" (click)="logout()" translate>logout</a></li>
                  <li *ngIf="!showmenu"><a id="tab1" routerLink="/" >Dashboard</a></li>
                  <li *ngIf="!showmenu"><a id="tab2" routerLink="/" translate>compare</a></li>
                  <li *ngIf="!showmenu" class="anmelden float-right"><a id="#" routerLink="/" translate class="text-right">LogIn</a></li>
               </ul>
            </div>
         </div>
         <div class="clearfix"></div>
         <div class="paragraph">
            <h3>§ DATENSCHUTZ</h3>
            <p>Wir informieren Sie nachfolgend gemäß den gesetzlichen Vorgaben des Datenschutzrechts (insb. gemäß BDSG n.F. und der europäischen Datenschutz-Grundverordnung ‚DS-GVO‘) über die Art, den Umfang und Zweck der Verarbeitung personenbezogener Daten durch unser Unternehmen. Diese Datenschutzerklärung gilt auch für unsere Websites und Sozial-Media-Profile. Bezüglich der Definition von Begriffen wie etwa „personenbezogene Daten“ oder „Verarbeitung“ verweisen wir auf Art. 4 DS-GVO.</p>
            <p><strong>Name und Kontaktdaten des / der Verantwortlichen</strong><br/> Unser/e Verantwortliche/r (nachfolgend „Verantwortlicher“) i.S.d. Art. 4 Zif. 7 DS-GVO ist:</p>
            <p>Slected UG<br/>
               Zimmerstrasse 9<br/>
               10969, Berlin, Deutschland<br/>
               Handelsregister/Nr.: HRB 193806 B<br/>
               Registergericht: Amtsgericht Charlottenburg - Berlin<br/>
               E-Mail-Adresse: info@slected.me
            </p>
            <p>
               <strong>Datenschutzbeauftragte/r</strong><br/>
               Herr Pirathipan Nanthakumar<br/>
               Zimmerstrasse 9<br/>
               10969, Berlin, Deutschland<br/>
               info@slected.me
            </p>
            <p><strong>Datenarten, Zwecke der Verarbeitung und Kategorien betroffener Personen</strong><br/>
               Nachfolgend informieren wir Sie über Art, Umfang und Zweck der Erhebung, Verarbeitung und Nutzung personenbezogener Daten.
            </p>
            <p><strong>1. Arten der Daten, die wir verarbeiten</strong><br/>
               Nutzungsdaten (Zugriffszeiten, besuchte Websites etc.), Bestandsdaten (Name, Adresse etc.), Kontaktdaten (Telefonnummer, E-Mail, Fax etc.), Vertragsdaten (Gegenstand des Vertrages, Laufzeit etc.), Inhaltsdaten (Texteingaben, Videos, Fotos etc.), Kommunikationsdaten (IP-Adresse etc.), Gehaltsdaten
            </p>
            <p><strong>2. Zwecke der Verarbeitung nach Art. 13 Abs. 1 c) DS-GVO</strong><br/>
               Abwicklung von Verträgen, Beweiszwecke / Beweissicherung, Website technisch und wirtschaftlich optimieren, Leichten Zugang zur Website ermöglichen, Erfüllung vertraglicher Verpflichtungen, Kontaktaufnahme bei juristischer Beanstandung durch Dritte, Erfüllung gesetzlicher Aufbewahrungspflichten, Optimierung und statistische Auswertung unserer Dienste, Kommerzielle Nutzung der Website unterstützen, Nutzererfahrung verbessern, Website benutzerfreundlich gestalten, Wirtschaftlicher Betrieb der Werbung und Website, Marketing / Vertrieb / Werbung, Erstellung von Statistiken,Vermeidung von SPAM und Missbrauch, Kundenservice und Kundenpflege, Kontaktanfragen abwickeln, Maßnahmen der Sicherheit, Unterbrechungsfreier,sicherer Betrieb unserer Website,
            </p>
            <p><strong>3. Kategorien der betroffenen Personen nach Art. 13 Abs. 1 e) DS-GVO</strong><br/>
               Besucher/Nutzer der Website, Kunden, Interessenten,
            </p>
            <p>Die betroffenen Personen werden zusammenfassend als „Nutzer“ bezeichnet.</p>
            <p><strong>Rechtsgrundlagen der Verarbeitung personenbezogener Daten</strong><br/>
               Nachfolgend Informieren wir Sie über die Rechtsgrundlagen der Verarbeitung personenbezogener Daten:
            </p>
            <ul>
               <li>Wenn wir Ihre Einwilligung für die Verarbeitung personenbezogenen Daten eingeholt haben, ist Art. 6 Abs. 1 S. 1 lit. a) DS-GVO Rechtsgrundlage.</li>
               <li>Ist die Verarbeitung zur Erfüllung eines Vertrags oder zur Durchführung vorvertraglicher Maßnahmen erforderlich, die auf Ihre Anfrage hin erfolgen, so ist Art. 6 Abs. 1 S. 1 lit. b) DS-GVO Rechtsgrundlage.</li>
               <li>Ist die Verarbeitung zur Erfüllung einer rechtlichen Verpflichtung erforderlich, der wir unterliegen (z.B. gesetzliche Aufbewahrungspflichten), so ist Art. 6 Abs. 1 S. 1 lit. c) DS-GVO Rechtsgrundlage.</li>
               <li>Ist die Verarbeitung erforderlich, um lebenswichtige Interessen der betroffenen Person oder einer anderen natürlichen Person zu schützen, so ist Art. 6 Abs. 1 S. 1 lit. d) DS-GVO Rechtsgrundlage.</li>
               <li>Ist die Verarbeitung zur Wahrung unserer oder der berechtigten Interessen eines Dritten erforderlich und überwiegen diesbezüglich Ihre Interessen oder Grundrechte und Grundfreiheiten nicht, so ist Art. 6 Abs. 1 S. 1 lit. f) DS-GVO Rechtsgrundlage.</li>
            </ul>
            <p><strong>Weitergabe personenbezogener Daten an Dritte und Auftragsverarbeiter</strong><br/>
               Ohne Ihre Einwilligung geben wir grundsätzlich keine Daten an Dritte weiter. Sollte dies doch der Fall sein, dann erfolgt die Weitergabe auf der Grundlage der zuvor genannten Rechtsgrundlagen z.B. bei der Weitergabe von Daten an Online-Paymentanbieter zur Vertragserfüllung oder aufgrund gerichtlicher Anordnung oder wegen einer gesetzlichen Verpflichtung zur Herausgabe der Daten zum Zwecke der Strafverfolgung, zur Gefahrenabwehr oder zur Durchsetzung der Rechte am geistigen Eigentum.<br/>
               Wir setzen zudem Auftragsverarbeiter (externe Dienstleister z.B. zum Webhosting unserer Websites und Datenbanken) zur Verarbeitung Ihrer Daten ein. Wenn im Rahmen einer Vereinbarung zur Auftragsverarbeitung an die Auftragsverarbeiter Daten weitergegeben werden, erfolgt dies immer nach Art. 28 DS-GVO. Wir wählen dabei unsere Auftragsverarbeiter sorgfältig aus, kontrollieren diese regelmäßig und haben uns ein Weisungsrecht hinsichtlich der Daten einräumen lassen. Zudem müssen die Auftragsverarbeiter geeignete technische und organisatorische Maßnahmen getroffen haben und die Datenschutzvorschriften gem. BDSG n.F. und DS-GVO einhalten
            </p>
            <p><strong>Datenübermittlung in Drittstaaten</strong><br/>
               Durch die Verabschiedung der europäischen Datenschutz-Grundverordnung (DS-GVO) wurde eine einheitliche Grundlage für den Datenschutz in Europa geschaffen. Ihre Daten werden daher vorwiegend durch Unternehmen verarbeitet, für die DS-GVO Anwendung findet. Sollte doch die Verarbeitung durch Dienste Dritter außerhalb der Europäischen Union oder des Europäischen Wirtschaftsraums stattfinden, so müssen diese die besonderen Voraussetzungen der Art. 44 ff. DS-GVO erfüllen. Das bedeutet, die Verarbeitung erfolgt aufgrund besonderer Garantien, wie etwa die von der EU-Kommission offiziell anerkannte Feststellung eines der EU entsprechenden Datenschutzniveaus oder der Beachtung offiziell anerkannter spezieller vertraglicher Verpflichtungen, der so genannten „Standardvertragsklauseln“. Bei US-Unternehmen erfüllt die Unterwerfung unter das sog. „Privacy-Shield“, dem Datenschutzabkommen zwischen der EU und den USA, diese Voraussetzungen.
            </p>
            <p><strong>Löschung von Daten und Speicherdauer</strong><br/>
               Sofern nicht in dieser Datenschutzerklärung ausdrücklich angegeben, werden Ihre personenbezogen Daten gelöscht oder gesperrt, sobald der Zweck für die Speicherung entfällt, es sei denn deren weitere Aufbewahrung ist zu Beweiszwecken erforderlich oder dem stehen gesetzliche Aufbewahrungspflichten entgegenstehen. Darunter fallen etwa handelsrechtliche Aufbewahrungspflichten von Geschäftsbriefen nach § 257 Abs. 1 HGB (6 Jahre) sowie steuerrechtliche Aufbewahrungspflichten nach § 147 Abs. 1 AO von Belegen (10 Jahre). Wenn die vorgeschriebene Aufbewahrungsfrist abläuft, erfolgt eine Sperrung oder Löschung Ihrer Daten, es sei denn die Speicherung ist weiterhin für einen Vertragsabschluss oder zur Vertragserfüllung erforderlich.
            </p>
            <p><strong>Bestehen einer automatisierten Entscheidungsfindung</strong><br/>
               Wir setzen keine automatische Entscheidungsfindung oder ein Profiling ein.
            </p>
            <p><strong>Bereitstellung unserer Website und Erstellung von Logfiles</strong></p>
            <ul>
               <li>Wenn Sie unsere Webseite lediglich informatorisch nutzen (also keine Registrierung und auch keine anderweitige Übermittlung von Informationen), erheben wir nur die personenbezogenen Daten, die Ihr Browser an unseren Server übermittelt. Wenn Sie unsere Website betrachten möchten, erheben wir die folgenden Daten:<br/>
                  • IP-Adresse;<br/>
                  • Internet-Service-Provider des Nutzers;<br/>
                  • Datum und Uhrzeit des Abrufs;<br/>
                  • Browsertyp;<br/>
                  • Sprache und Browser-Version;<br/>
                  • Inhalt des Abrufs;<br/>
                  • Zeitzone;<br/>
                  • Zugriffsstatus/HTTP-Statuscode;<br/>
                  • Datenmenge;<br/>
                  • Websites, von denen die Anforderung kommt;<br/>
                  • Betriebssystem.<br/>
                  Eine Speicherung dieser Daten zusammen mit anderen personenbezogenen Daten von Ihnen findet nicht statt.
               </li>
               <li>Diese Daten dienen dem Zweck der nutzerfreundlichen, funktionsfähigen und sicheren Auslieferung unserer Website an Sie mit Funktionen und Inhalten sowie deren Optimierung und statistischen Auswertung.</li>
               <li>Rechtsgrundlage hierfür ist unser in den obigen Zwecken auch liegendes berechtigtes Interesse an der Datenverarbeitung nach Art. 6 Abs. 1 S.1 lit. f) DS-GVO.</li>
               <li>Wir speichern aus Sicherheitsgründen diese Daten in Server-Logfiles für die Speicherdauer von Tagen. Nach Ablauf dieser Frist werden diese automatisch gelöscht, es sei denn wir benötigen deren Aufbewahrung zu Beweiszwecken bei Angriffen auf die Serverinfrastruktur oder anderen Rechtsverletzungen.</li>
            </ul>
            <p><strong>Cookies</strong></p>
            <ul>
               <li>Wir verwenden sog. Cookies bei Ihrem Besuch unserer Website. Cookies sind kleine Textdateien, die Ihr Internet-Browser auf Ihrem Rechner ablegt und speichert. Wenn Sie unsere Website erneut aufrufen, geben diese Cookies Informationen ab, um Sie automatisch wiederzuerkennen. Die so erlangten Informationen dienen dem Zweck, unsere Webangebote technisch und wirtschaftlich zu optimieren und Ihnen einen leichteren und sicheren Zugang auf unsere Website zu ermöglichen. Wir informieren Sie dazu beim Aufruf unserer Website mittels eines Hinweises auf unsere Datenschutzerklärung über die Verwendung von Cookies zu den zuvor genannten Zwecken und wie Sie dieser widersprechen bzw. deren Speicherung verhindern können („Opt-out“). Unsere Website nutzt Session-Cookies, persistente Cookies und Cookies von Drittanbietern:<br/><br/>
                  <strong>• Session-Cookies:</strong> Wir verwenden sog. Cookies zum Wiedererkennen mehrfacher Nutzung eines Angebots durch denselben Nutzer (z.B. wenn Sie sich eingeloggt haben zur Feststellung Ihres Login-Status). Wenn Sie unsere Seite erneut aufrufen, geben diese Cookies Informationen ab, um Sie automatisch wiederzuerkennen. Die so erlangten Informationen dienen dazu, unsere Angebote zu optimieren und Ihnen einen leichteren Zugang auf unsere Seite zu ermöglichen. Wenn Sie den Browser schließen oder Sie sich ausloggen, werden die Session-Cookies gelöscht.<br/><br/>
                  <strong>• Persistente Cookies:</strong> Diese werden automatisiert nach einer vorgegebenen Dauer gelöscht, die sich je nach Cookie unterscheiden kann. In den Sicherheitseinstellungen Ihres Browsers können Sie die Cookies jederzeit löschen.<br/><br/>
                  <strong>• Cookies von Drittanbietern (Third-Party-Cookies):</strong> Entsprechend Ihren Wünschen können Sie können Ihre Browser-Einstellung konfigurieren und z. B. Die Annahme von Third-Party-Cookies oder allen Cookies ablehnen. Wir weisen Sie jedoch an dieser Stelle darauf hin, dass Sie dann eventuell nicht alle Funktionen dieser Website nutzen können. Lesen Sie Näheres zu diesen Cookies bei den jeweiligen Datenschutzerklärungen zu den Drittanbietern.
               </li>
               <li>Rechtsgrundlage dieser Verarbeitung ist Art. 6 Abs. 1 S. lit. b) DS-GVO, wenn die Cookies zur Vertragsanbahnung z.B. bei Bestellungen gesetzt werden und ansonsten haben wir ein berechtigtes Interesse an der effektiven Funktionalität der Website, so dass in dem Falle Art. 6 Abs. 1 S. 1 lit. f) DS-GVO Rechtsgrundlage ist.</li>
               <li><strong>Widerspruch und „Opt-Out“:</strong> Das Speichern von Cookies auf Ihrer Festplatte können Sie allgemein verhindern, indem Sie in Ihren Browser-Einstellungen „keine Cookies akzeptieren“ wählen. Dies kann aber eine Funktionseinschränkung unserer Angebote zur Folge haben. Sie können dem Einsatz von Cookies von Drittanbietern zu Werbezwecken über ein sog. „Opt-out“ über diese amerikanische Website (<a href="http://optout.aboutads.info/?c=2&lang=EN" title="https://optout.aboutads.info" target="_blank">https://optout.aboutads.info</a>) oder diese europäische Website (<a href="http://www.youronlinechoices.com/de/praferenzmanagement/" title="http://www.youronlinechoices.com/de/praferenzmanagement/" target="_blank">http://www.youronlinechoices.com/de/praferenzmanagement/</a>) widersprechen.</li>
            </ul>
            <p><strong>Abwicklung von Verträgen</strong></p>
            <ul>
               <li>Wir verarbeiten Bestandsdaten (z.B. Unternehmen, Titel/akademischer Grad, Namen und Adressen sowie Kontaktdaten von Nutzern, E-Mail), Vertragsdaten (z.B. in Anspruch genommene Leistungen, Namen von Kontaktpersonen) und Zahlungsdaten (z.B. Bankverbindung, Zahlungshistorie) zwecks Erfüllung unserer vertraglichen Verpflichtungen (Kenntnis, wer Vertragspartner ist; Begründung, inhaltliche Ausgestaltung und Abwicklung des Vertrags; Überprüfung auf Plausibilität der Daten) und Serviceleistungen (z.B. Kontaktaufnahme des Kundenservice) gem. Art. 6 Abs. 1 S. 1 lit b) DS-GVO. Die in Onlineformularen als verpflichtend gekennzeichneten Eingaben, sind für den Vertragsschluss erforderlich.</li>
               <li>Eine Weitergabe dieser Daten an Dritte erfolgt grundsätzlich nicht, außer sie ist zur Verfolgung unserer Ansprüche (z.B. Übergabe an Rechtsanwalt zum Inkasso) oder zur Erfüllung des Vertrags (z.B. Übergabe der Daten an Zahlungsanbieter) erforderlich oder es besteht hierzu besteht eine gesetzliche Verpflichtung gem. Art. 6 Abs. 1 S. 1 lit. c) DS-GVO.</li>
               <li>Wir können die von Ihnen angegebenen Daten zudem verarbeiten, um Sie über weitere interessante Produkte aus unserem Portfolio zu informieren oder Ihnen E-Mails mit technischen Informationen zukommen lassen.</li>
               <li>Die Daten werden gelöscht, sobald sie für die Erreichung des Zweckes ihrer Erhebung nicht mehr erforderlich sind. Dies ist für die Bestands- und Vertragsdaten dann der Fall, wenn die Daten für die Durchführung des Vertrages nicht mehr erforderlich sind und keine Ansprüche mehr aus dem Vertrag geltend gemacht werden können, weil diese verjährt sind (Gewährleistung: zwei Jahre / Regelverjährung: drei Jahre). Wir sind aufgrund handels- und steuerrechtlicher Vorgaben verpflichtet, Ihre Adress-, Zahlungs- und Bestelldaten für die Dauer von zehn Jahren zu speichern. Allerdings nehmen wir bei Vertragsbeendigung nach drei Jahren eine Einschränkung der Verarbeitung vor, d. h. Ihre Daten werden nur zur Einhaltung der gesetzlichen Verpflichtungen eingesetzt. Angaben im Nutzerkonto verbleiben bis zu dessen Löschung.
               </li>
            </ul>
            <p><strong>Online Payment-Anbieter</strong></p>
            <ul>
               <li>Die Abrechnung erfolgt bei Bezahlung per „Paypal“ über PayPal (Europe) S.àr.l. et Cie, S.C.A., 22-24 Boulevard Royal, L-2449 Luxembourg, Web: <a href="https://www.paypal.de/" title="https://www.paypal.de/" target="_blank">paypal.de</a>, <a href="https://www.paypal.com/de/webapps/mpp/ua/privacy-full" title="https://www.paypal.com/de/webapps/mpp/ua/privacy-full" target="_blank">https://www.paypal.com/de/webapps/mpp/ua/privacy-full.</a><br/>
                  Die Abrechnung erfolgt bei Bezahlung über „Sofort.com“ über Klarna GmbH, Theresienhöhe 12, 80339 München, <a href="https://www.klarna.com/sofort/datenschutz/" title="https://www.klarna.com/sofort/datenschutz/" target="_blank">https://www.klarna.com/sofort/datenschutz/</a>.<br/>
                  Nachfolgend „Online-Abrechner“ genannt. Die Online-Abrechner erheben, speichern und verarbeiten die Nutzungs- und Abrechnungsdaten von Ihnen zur Ermittlung und zur Abrechnung der von Ihnen in Anspruch genommenen Leistung. Die bei den Online-Abrechnern eingegebenen Daten werden nur durch diese verarbeitet und bei diesen gespeichert. Sofern die Online-Abrechner die Nutzungsentgelte nicht oder nur teilweise einziehen können oder die Online-Abrechner dieses aufgrund einer Beanstandung von Ihnen unterlassen, werden die Nutzungsdaten von den Online-Abrechner an den Verantwortlichen weitergegeben und es erfolgt ggf. eine Sperrung durch den Verantwortlichen. Gleiches gilt auch, wenn z.B. eine Kreditkartengesellschaft eine Transaktion von Ihnen zu Lasten des Verantwortlichen rückabwickelt.
               </li>
               <li>Rechtsgrundlage ist Art. 6 Abs. S. 1 lit. b) DSGVO, da die Verarbeitung zur Erfüllung eines Vertrags durch den Verantwortlichen erforderlich ist. Zudem werden externe Online-Abrechner auf der Grundlage von Art. 6 Abs. 1 S. 1 lit. f) DSGVO aus berechtigten Interessen des Verantwortlichen eingesetzt, um Ihnen möglichst sichere, einfache und vielfältige Zahlungsmöglichkeiten anbieten zu können.</li>
               <li>Hinsichtlich der Speicherdauer, Widerrufs-, Auskunfts- und Betroffenenrechte verweisen wir auf die obigen Datenschutzerklärungen der Online-Abrechner.</li>
            </ul>
            <p><strong>Kontaktaufnahme per Kontaktformular / E-Mail / Fax / Post</strong></p>
            <ul>
               <li>Bei der Kontaktaufnahme mit uns per Kontaktformular, Fax, Post oder E-Mail werden Ihre Angaben zum Zwecke der Abwicklung der Kontaktanfrage verarbeitet.</li>
               <li>Rechtsgrundlage für die Verarbeitung der Daten ist bei Vorliegen einer Einwilligung von Ihnen Art. 6 Abs. 1 S. 1 lit. a) DS-GVO. Rechtsgrundlage für die Verarbeitung der Daten, die im Zuge einer Kontaktanfrage oder E-Mail, eines Briefes oder Faxes übermittelt werden, ist Art. 6 Abs. 1 S. 1 lit. f) DS-GVO. Der Verantwortliche hat ein berechtigtes Interesse an der Verarbeitung und Speicherung der Daten, um Anfragen der Nutzer beantworten zu können, zur Beweissicherung aus Haftungsgründen und um ggf. seiner gesetzlichen Aufbewahrungspflichten bei Geschäftsbriefen nachkommen zu können. Zielt der Kontakt auf den Abschluss eines Vertrages ab, so ist zusätzliche Rechtsgrundlage für die Verarbeitung Art. 6 Abs. 1 S. 1 lit. b) DS-GVO.</li>
               <li>Wir können Ihre Angaben und Kontaktanfrage in unserem Customer-Relationship-Management System ("CRM System") oder einem vergleichbaren System speichern.</li>
               <li>Die Daten werden gelöscht, sobald sie für die Erreichung des Zweckes ihrer Erhebung nicht mehr erforderlich sind. Für die personenbezogenen Daten aus der Eingabemaske des Kontaktformulars und diejenigen, die per E-Mail übersandt wurden, ist dies dann der Fall, wenn die jeweilige Konversation mit Ihnen beendet ist. Beendet ist die Konversation dann, wenn sich aus den Umständen entnehmen lässt, dass der betroffene Sachverhalt abschließend geklärt ist. Anfragen von Nutzern, die über einen Account bzw. Vertrag mit uns verfügen, speichern wir bis zum Ablauf von zwei Jahren nach Vertragsbeendigung. Im Fall von gesetzlichen Archivierungspflichten erfolgt die Löschung nach deren Ablauf: Ende handelsrechtlicher (6 Jahre) und steuerrechtlicher (10 Jahre) Aufbewahrungspflicht.</li>
               <li>Sie haben jederzeit die Möglichkeit, die Einwilligung nach Art. 6 Abs. 1 S. 1 lit. a) DS-GVO zur Verarbeitung der personenbezogenen Daten zu widerrufen. Nehmen Sie per E-Mail Kontakt mit uns auf, so können Sie der Speicherung der personenbezogenen Daten jederzeit widersprechen.</li>
            </ul>
            <p><strong>Kontaktaufnahme per Telefon</strong></p>
            <ul>
               <li>Bei der Kontaktaufnahme mit uns per Telefon wird Ihre Telefonnummer zur Bearbeitung der Kontaktanfrage und deren Abwicklung verarbeitet und temporär im RAM / Cache des Telefongerätes / Displays gespeichert bzw. angezeigt. Die Speicherung erfolgt aus Haftungs- und Sicherheitsgründen, um den Beweis des Anrufs führen zu können sowie aus wirtschaftlichen Gründen, um einen Rückruf zu ermöglichen. Im Falle von unberechtigten Werbeanrufen, sperren wir die Rufnummern.</li>
               <li>Rechtsgrundlage für die Verarbeitung der Telefonnummer ist Art. 6 Abs. 1 S. 1 lit. f) DS-GVO. Zielt der Kontakt auf den Abschluss eines Vertrages ab, so ist zusätzliche Rechtsgrundlage für die Verarbeitung Art. 6 Abs. 1 lit. b) DS-GVO.</li>
               <li>Der Gerätecache speichert die Anrufe Tage und überschreibt bzw. löscht sukzessiv alte Daten, bei Entsorgung des Gerätes werden alle Daten gelöscht und der Speicher ggf. zerstört. Gesperrte Telefonnummer werden jährlich auf die Notwendigkeit der Sperrung geprüft.</li>
               <li>Sie können die Anzeige der Telefonnummer verhindern, indem Sie mit unterdrückter Telefonnummer anrufen.</li>
            </ul>
            <p><strong>Newsletter</strong></p>
            <ul>
               <li>Unseren Newsletter können Sie mit Ihrer freiwilligen Einwilligung durch Eintragung Ihrer E-Mail-Adresse abonnieren. Nur diese ist Pflicht. Die Angabe weiterer Daten ist freiwillig und dient nur dem Zweck einer persönlichen Ansprache. Wir verwenden dabei zur Anmeldung das sog. „Double-Opt-in-Verfahren“. Nach Ihrer Anmeldung mit Ihrer E-Mail erhalten Sie von uns zur Bestätigung Ihrer Anmeldung eine E-Mail mit einem Link zur Bestätigung. Wenn Sie diesen Bestätigungslink klicken, wird Ihre E-Mail in den Newsletterverteiler aufgenommen und zum Zweck der Übersendung von E-Mails gespeichert. Sollten Sie den Klick auf den Bestätigungslink nicht innerhalb von Stunden durchführen, werden Ihre Anmeldedaten gesperrt und nach Tagen automatisch gelöscht.</li>
               <li>Zudem protokollieren wir Ihre bei der Anmeldung verwendete IP-Adresse sowie das Datum und die Uhrzeit des Double-Opt-ins (Anmeldung und Bestätigung). Zweck dieser Speicherung ist Erfüllung von rechtlichen Anforderungen hinsichtlich des Nachweises Ihrer Anmeldung sowie die Missbrauchsprävention hinsichtlich Ihrer E-Mail.</li>
               <li>Im Rahmen Ihrer Einwilligungserklärung werden die Inhalte (z.B. beworbene Produkte/Dienstleistungen, Angebote, Werbung und Themen) des Newsletters konkret beschrieben.</li>
               <li>Beim Versand des Newsletters werten wir Ihr Nutzerverhalten aus. Die Newsletter beinhalten dafür sogenannte „Web-Beacons“ bzw. „Tracking-Pixel“, die beim Öffnen des Newsletters aufgerufen werden. Für die Auswertungen verknüpfen wir die Web-Beacons mit Ihrer E-Mail-Adresse und einer individuellen ID. Auch im Newsletter erhaltene Links enthalten diese ID. Die Daten werden ausschließlich pseudonymisiert erhoben, die IDs werden also nicht mit Ihren weiteren persönlichen Daten verknüpft, eine direkte Personenbeziehbarkeit wird ausgeschlossen. Mit diesen Daten können wir feststellen, ob und wann Sie den Newsletter geöffnet haben und welche Links im Newsletter geklickt worden sind. Dies dient dem Zweck der Optimierung und statistischen Auswertung unseres Newsletters.</li>
               <li>Wir erstellen mit den obigen gewonnenen Daten ein Nutzerprofil, um die Lesegewohnheiten und Interessen unserer Nutzer zu identifizieren und den Newsletter damit zu individualisieren. Wenn Sie zudem auf unserer Website weitere Handlungen vorgenommen haben, verknüpfen wir diese Daten damit ebenfalls, um unsere Newsletterinhalte auf Ihre Interessen hin anzupassen.</li>
               <li>Rechtsgrundlage für den Newsletterversand, Erfolgsmessung und die Speicherung der E-Mail ist Ihre Einwilligung gem. Art. 6 Abs. 1 S. 1 lit. a) DS-GVO i.V.m § 7 Abs. 2 Nr. 3 UWG und für die Protokollierung der Einwilligung Art. 6 Abs. 1 S. 1 lit. f) DS-GVO, da diese unserem berechtigten Interesse der juristischen Beweisbarkeit dient.</li>
               <li>Dem Tracking können Sie jederzeit widersprechen, indem Sie den Abmeldelink am Ende des Newsletters klicken. In dem Falle würde allerdings auch der Newsletterempfang beendet. Wenn Sie in Ihrer E-Mail-Software die Anzeige von Bildern deaktivieren, ist ein Tracking ebenfalls nicht möglich. Dies kann allerdings Einschränkungen hinsichtlich der Funktionen des Newsletters haben und enthaltene Bilder werden dann nicht angezeigt.</li>
               <li>Sie können Ihre Einwilligung in die Übersendung des Newsletters jederzeit widerrufen. Sie können den Widerruf durch Betätigung des Abmeldelinks am Ende des Newsletters, eine E-Mail oder Mitteilung an unsere obigen Kontaktdaten ausüben. Wir speichern Ihre Daten, solange Sie den Newsletter abonniert haben. Nach der Abmeldung werden Ihre Daten nur noch anonym zu statistischen Zwecken gespeichert.</li>
            </ul>
            <p><strong>Google Adsense</strong></p>
            <ul>
               <li>Wir haben Werbeanzeigen des Google Dienstes „Adsense“ (Google Ireland Limited, Registernr.: 368047, Gordon House, Barrow Street, Dublin 4, Irland) auf unserer Webseite integriert. Die Werbeanzeigen sind über den (i)-Hinweis „Google-Anzeigen“ in jeder Anzeige gekennzeichnet. Wir haben dabei die personalisierten Anzeigen aktiviert, um Ihnen interessantere Werbung anzuzeigen, die die kommerzielle Nutzung unserer Website unterstützt, den Wert für uns steigert und für Sie die Nutzererfahrung verbessert. Mithilfe personalisierter Werbung können wir über Adsense Nutzer auf Grundlage ihrer Interessen und demografischen Merkmale (z.B. "Sportbegeisterte") erreichen.</li>
               <li>Zu diesen Zwecken erhält Google beim Besuch unserer Website die Information, dass Sie unsere Website aufgerufen haben. Dazu setzt Google einen Web-Beacon bzw. Cookie auf Ihren Computer. Der volle Umfang der Datenverarbeitung und die Speicherdauer ist uns nicht bekannt. Die Daten werden auch in die USA übertragen und dort analysiert. Wenn Sie mit einem Google-Account eingeloggt sind, können durch Adsense die Daten Ihrem Account zugeordnet werden. Wenn Sie dies nicht wünschen, müssen Sie sich vor dem Besuch unserer Website ausloggen.</li>
               <li>Aber auch andere Informationen können hierfür durch Google herangezogen werden:<br/>
                  • die Art der von Ihnen besuchten Websites sowie der auf Ihrem Gerät installierten mobilen Apps;<br/>
                  • Cookies in Ihrem Browser und Einstellungen in Ihrem Google-Konto;<br/>
                  • Websites und Apps, die Sie besucht haben;<br/>
                  • Ihre Aktivitäten auf anderen Geräten;<br/>
                  • vorherige Interaktionen mit Anzeigen oder Werbediensten von Google;<br/>
                  • Ihre Google-Kontoaktivitäten und -informationen.
               </li>
               <li>Bei einem Klick auf eine Adsense-Anzeige wird die IP der Nutzer durch Google verarbeitet (Nutzungsdaten), wobei die Verarbeitung pseudonymisiert (sog. „Werbe-ID“) erfolgt, indem die IP um die letzten beiden Stellen gekürzt wird.</li>
               <li>Google verknüpft bei personalisierter Werbung Kennungen aus Cookies oder ähnlichen Technologien nicht mit besonderen Kategorien personenbezogener Daten nach Art. 9 DS-GVO wie ethnischer Herkunft, Religion, sexueller Orientierung oder Gesundheit.</li>
               <li>Es ist nicht auszuschließen, dass die obigen Daten an Dritte, Behörden oder Google Partner weitergegeben werden. Diese Website hat auch Google AdSense-Anzeigen von Drittanbietern aktiviert. Die vorgenannten Daten können an diese Drittanbieter (benannt unter https://support.google.com/dfp_sb/answer/94149) übertragen werden.</li>
               <li>Rechtsgrundlage für die Verarbeitung Ihrer Daten ist Art. 6 Abs. 1 S. 1 lit. f) DS-GVO. Google ist nach dem EU-US Privacy Shield zertifiziert: https://www.privacyshield.gov/EU-US-Framework.</li>
               <li>Sie können der Installation von Cookies durch Google Adsense auf verschiedene Arten widersprechen bzw. diese verhindern:<br/>
                  • Sie können die Cookies in Ihrem Browser durch die Einstellung “keine Cookies akzeptieren” unterbinden, was auch die Cookies von Drittanbietern beinhaltet;<br/><br/>
                  • Sie können direkt bei Google über den Link https://adssettings.google.com die personenbezogenen Anzeigen bei Google deaktivieren, wobei diese Einstellung nur solange Bestand hat bis Sie Ihre Cookies löschen. Zur Deaktivierung der personalisierten Werbung auf Mobilgeräten finden Sie hier eine Anleitung: https://support.google.com/adsense/troubleshooter/1631343;<br/><br/>
                  • Sie können die personalisierten Anzeigen der Drittanbieter, die an der Werbeselbstregulierungsinitiaive “About Ads” teilnehmen über den Link https://optout.aboutads.info für US-Seiten oder für EU-Seiten unter http://www.youronlinechoices.com/de/praferenzmanagement/ deaktivieren, wobei diese Einstellung nur solange Bestand hat, bis Sie all Ihre Cookies löschen;<br/>
                  • Sie können durch ein Browser-Plug-in für Chrome, Firefox oder Internet-Explorer unter dem Link https://support.google.com/ads/answer/7395996 dauerhaft Cookies deaktivieren. Diese Deaktivierung kann zur Folge haben, dass Sie nicht alle Funktionen unserer Website mehr vollumfänglich nutzen können.
               </li>
               <li>In der Datenschutzerklärung für Werbung von Google unter https://policies.google.com/technologies/ads finden Sie weitere Informationen zur Verwendung von Google Cookies in Anzeigen und deren Werbetechnologien, Speicherdauer, Anonymisierung, Standortdaten, Funktionsweise und Ihre Rechte.</li>
            </ul>
            <p><strong>Google AdWords Remarketing / „Ähnliche Zielgruppen“</strong></p>
            <ul>
               <li>Wir nutzen die Anwendung Google AdWords Remarketing/ „Ähnliche Zielgruppen“ (Google Ireland Limited, Registernr.: 368047, Gordon House, Barrow Street, Dublin 4, Irland), um auf Websites Dritter und anderen Internetangeboten mittels Anzeige auf unsere Website aufmerksam zu machen. Mit der Remarketing oder "Ähnliche Zielgruppen" – Funktion in AdWords können wir Sie dort erreichen, wenn Sie unsere Website bereits besucht haben und Sie jeweils mit einer passenden Botschaft per Anzeige ansprechen. Mit Remarketing können wir unsere früheren Besucher erneut auf unsere Website per Klick holen. Wenn Sie bestimmte Seiten von uns besuchen, wird ein Cookie in Ihrem Browser gespeichert, welcher 30 Tage gültig ist. Wenn Sie danach andere Websites bzw. Internetangebote aufrufen, können wir und auch Google anhand des Cookies auswerten, ob Sie unsere Website bereits besucht hatten und Ihre auch dort unsere Werbung anzeigen. Hierüber erstellt Google eine Statistik. Der volle Umfang der Datenverarbeitung ist uns nicht bekannt. Die Daten werden auch in die USA übertragen und dort analysiert. Laut Google findet eine Zusammenführung der, durch das Remarketing erhobenen, Daten mit Ihren ggf. bei Google gespeicherten personenbezogenen Daten nicht statt, sondern diese werden per Pseudonym verarbeitet. Dieses Remarketing dient dem Zweck der Analyse, Optimierung und dem wirtschaftlichen Betrieb unserer Werbung und Website.</li>
               <li>Rechtsgrundlage für die Verarbeitung Ihrer Daten ist unser berechtigtes Interesse an der Analyse, Optimierung und dem wirtschaftlichen Betrieb unserer Werbung und Website gemäß Art. 6 Abs. 1 S. 1 lit. f) DS-GVO. Google ist nach dem EU-US Privacy Shield zertifiziert: https://www.privacyshield.gov/EU-US-Framework.</li>
               <li>Sie können der Installation von Cookies durch Google auf verschiedene Arten widersprechen bzw. diese verhindern:<br/><br/>
                  • Sie können die Cookies in Ihrem Browser durch die Einstellung “keine Cookies akzeptieren” unterbinden, was auch die Cookies von Drittanbietern beinhaltet;<br/><br/>
                  • Sie können direkt bei Google über den Link https://adssettings.google.com die personalisierten Anzeigen deaktivieren, wobei diese Einstellung nur solange Bestand hat bis Sie Ihre Cookies löschen.<br/><br/>
                  • Sie können die personalisierten Anzeigen der Drittanbieter, die an der Werbeselbstregulierungsinitiaive “About Ads” teilnehmen über den Link https://optout.aboutads.info für US-Seiten oder für EU-Seiten unter http://www.youronlinechoices.com/de/praferenzmanagement/ deaktivieren, wobei diese Einstellung nur solange Bestand hat bis Sie all Ihre Cookies löschen;<br/><br/>
                  • Sie können durch ein Browser-Plug-in für Chrome, Firefox oder Internet-Explorer unter dem Link https://support.google.com/ads/answer/7395996 dauerhaft Cookies deaktivieren. Diese Deaktivierung kann zur Folge haben, dass Sie nicht alle Funktionen unserer Website mehr vollumfänglich nutzen können.
               </li>
               <li>Weitere Informationen finden Sie in der Datenschutzerklärung von Google unter https://policies.google.com/privacy?hl=de&gl=de.</li>
            </ul>
            <p><strong>Google Analytics</strong></p>
            <ul>
               <li>Wir haben das Webseitenanalyse-Tool „Google Analytics“ (Google Ireland Limited, Registernr.: 368047, Gordon House, Barrow Street, Dublin 4, Irland) auf unserer Website integriert.</li>
               <li>Beim Besuch unserer Website setzt Google einen Cookie auf Ihren Computer, um die Benutzung unserer Website durch Sie analysieren zu können. Die gewonnenen Daten werden in die USA übertragen und dort gespeichert. Falls personenbezogen Daten in die USA übertragen werden sollten, bietet die Zertifizierung Googles gemäß Privacy-Shield-Abkommen (https://www.privacyshield.gov/EU-US-Framework) die Garantie dafür, dass das europäische Datenschutzrecht eingehalten wird.</li>
               <li>Wir haben die IP-Anonymisierung „anonymizeIP“ aktiviert, wodurch die IP-Adressen nur gekürzt weiterverarbeitet werden. Auf dieser Webseite wird Ihre IP-Adresse von Google daher innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum zuvor gekürzt. Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von Google in den USA übertragen und dort gekürzt. Im Auftrag des Betreibers dieser Webseite wird Google diese Informationen benutzen, um Ihre Nutzung der Webseite auszuwerten, um Reports über die Webseitenaktivitäten zusammenzustellen und um weitere, mit der Websitenutzung und der Internetnutzung verbundene, Dienstleistungen gegenüber dem Verantwortlichen zu erbringen. Wir haben darüber hinaus die geräteübergreifende Analyse von Website-Besuchern aktiviert, die über eine sog. User-ID durchgeführt wird. Die im Rahmen von Google Analytics von Ihrem Browser übermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt. Die Nutzung von Google Analytics dient dem Zweck der Analyse, Optimierung und Verbesserung unserer Website.</li>
               <li>Rechtsgrundlage hierfür ist unser in den obigen Zwecken auch liegendes berechtigtes Interesse an der Datenverarbeitung nach Art. 6 Abs. 1 S.1 lit. f) DS-GVO.</li>
               <li>Die von uns gesendeten und mit Cookies, Nutzerkennungen (z. B. User-ID) oder Werbe-IDs verknüpften Daten werden nach Monaten automatisch gelöscht. Die Löschung von Daten, deren Aufbewahrungsdauer erreicht ist, erfolgt automatisch einmal im Monat.</li>
               <li>Weitere Informationen zu Datennutzung bei Google Analytics finden Sie hier: https://www.google.com/analytics/terms/de.html (Nutzungsbedingungen von Analytics), https://support.google.com/analytics/answer/6004245?hl=de (Hinweise zum Datenschutz bei Analytics) und Googles Datenschutzerklärung https://policies.google.com/privacy.</li>
               <li>Widerspruch und „Opt-Out“: Das Speichern von Cookies auf Ihrer Festplatte können Sie allgemein verhindern, indem Sie in Ihren Browser-Einstellungen „keine Cookies akzeptieren“ wählen. Dies kann aber eine Funktionseinschränkung unserer Angebote zur Folge haben. Sie können darüber hinaus die Erfassung der, durch das Cookie erzeugten und auf Ihre Nutzung der Website bezogenen, Daten an Google sowie die Verarbeitung dieser Daten durch Google verhindern, indem sie das unter dem folgenden Link verfügbare Browser-Plugin herunterladen und installieren: http://tools.google.com/dlpage/gaoptout?hl=de</li>
               <li>Als Alternative zum obigen Browser-Plugin können Sie die Erfassung durch Google Analytics unterbinden, indem Sie [__hier bitte__den Analytics Opt-Out Link Ihrer Webseite einfügen] klicken. Durch den Klick wird ein „Opt-out“-Cookie gesetzt, das die Erfassung Ihrer Daten beim Besuch dieser Webseite zukünftig verhindert. Dieses Cookie gilt nur für unsere Webseite und Ihren aktuellen Browser und hat nur solange Bestand bis Sie Ihre Cookies löschen. In dem Falle müssten Sie das Cookie erneut setzen.</li>
               <li>Die geräteübergreifende Nutzeranalyse können Sie in Ihrem Google-Account unter „Meine Daten > persönliche Daten“ deaktivieren.</li>
            </ul>
            <p><strong>Präsenz in sozialen Medien</strong></p>
            <ul>
               <li>Wir unterhalten in sozialen Medien Profile bzw. Fanpages, um mit den dort angeschlossenen und registrierten Nutzern zu kommunizieren und um über unsere Produkte, Angebote und Dienstleistungen zu informieren. Die US-Anbieter sind nach dem sog. Privacy-Shield zertifiziert und damit verpflichtet europäischen Datenschutz einzuhalten. Bei der Nutzung und dem Aufruf unseres Profils im jeweiligen Netzwerk durch Sie gelten die jeweiligen Datenschutzhinweise und Nutzungsbedingungen des jeweiligen Netzwerks.</li>
               <li>Wir verarbeiten Ihre Daten, die Sie uns über diese Netzwerke senden, um mit Ihnen zu kommunizieren und um Ihre dortigen Nachrichten zu beantworten.</li>
               <li>Die Rechtsgrundlage für die Verarbeitung der personenbezogenen Daten ist unser berechtigtes Interesse an der Kommunikation mit den Nutzern und unsere Außendarstellung zwecks Werbung gemäß Art. 6 Abs. 1 S. 1 lit. f) DS-GVO. Soweit Sie dem Verantwortlichen des sozialen Netzwerks eine Einwilligung in die Verarbeitung Ihrer personenbezogenen Daten erteilt haben, ist Rechtsgrundlage Art. 6 Abs. 1 S. 1 lit. a) und Art. 7 DS-GVO.</li>
               <li>Die Datenschutzhinweise, Auskunftsmöglichkeiten und Widerspruchmöglichkeiten (Opt-Out) der jeweiligen Netzwerke finden Sie hier:<br/><br/>
                  <strong>• Facebook</strong> (Facebook Ireland Ltd., 4 Grand Canal Square, Grand Canal Harbour, Dublin 2, Irland) Datenschutzerklärung: <a href="https://www.facebook.com/about/privacy/" title="https://www.facebook.com/about/privacy/" target="_blank">https://www.facebook.com/about/privacy/</a>, Opt-Out: <a href="https://www.facebook.com/settings?tab=ads" title="https://www.facebook.com/settings?tab=ads" target="_blank">https://www.facebook.com/settings?tab=ads</a> und <a href="http://www.youronlinechoices.com" title="http://www.youronlinechoices.com" target="_blank">http://www.youronlinechoices.com</a>, Privacy Shield: <a href="https://www.privacyshield.gov/participant?id=a2zt0000000GnywAAC&status=Active" title="https://www.privacyshield.gov/participant?id=a2zt0000000GnywAAC&status=Active" target="_blank">https://www.privacyshield.gov/participant?id=a2zt0000000GnywAAC&status=Active</a>.<br/><br/>
                  <strong>• Instagram</strong> (Instagram Inc., 1601 Willow Road, Menlo Park, CA, 94025, USA) – Datenschutzerklärung/ Opt-Out: <a href="http://instagram.com/about/legal/privacy/" title="http://instagram.com/about/legal/privacy/" target="_blank">http://instagram.com/about/legal/privacy/</a>.<br/><br/>
                  <strong>• XING</strong> (XING AG, Dammtorstraße 29-32, 20354 Hamburg, Deutschland) - Datenschutzerklärung/ Opt-Out: <a href="https://privacy.xing.com/de/datenschutzerklaerung" title="https://privacy.xing.com/de/datenschutzerklaerung" target="_blank">https://privacy.xing.com/de/datenschutzerklaerung</a>.<br/><br/>
                  <strong>• LinkedIn</strong> (LinkedIn Ireland Unlimited Company, Wilton Place, Dublin 2, Irland) – Datenschutzerklärung: <a href="https://www.linkedin.com/legal/privacy-policy" title="https://www.linkedin.com/legal/privacy-policy" target="_blank">https://www.linkedin.com/legal/privacy-policy</a>, Cookie-Richtlinie und Opt-Out: <a href="https://www.linkedin.com/legal/cookie-policy" title="https://www.linkedin.com/legal/cookie-policy" target="__blank">https://www.linkedin.com/legal/cookie-policy</a>, Privacy Shield der US-Firma LinkedIn Inc.: <a href="https://www.privacyshield.gov/participant?id=a2zt0000000L0UZAA0&status=Active" title="https://www.privacyshield.gov/participant?id=a2zt0000000L0UZAA0&status=Active" target="__blank">https://www.privacyshield.gov/participant?id=a2zt0000000L0UZAA0&status=Active</a>.
               </li>
            </ul>
            <p><strong>Rechte der betroffenen Person</strong></p>
            <ul>
               <li><strong>Widerspruch oder Widerruf gegen die Verarbeitung Ihrer Daten</strong><br/><br/>
                  Soweit die Verarbeitung auf Ihrer Einwilligung gemäß Art. 6 Abs. 1 S. 1 lit. a), Art. 7 DS-GVO beruht, haben Sie das Recht, die Einwilligung jederzeit zu widerrufen. Die Rechtmäßigkeit der aufgrund der Einwilligung bis zum Widerruf erfolgten Verarbeitung wird dadurch nicht berührt.<br/><br/>
                  Soweit wir die Verarbeitung Ihrer personenbezogenen Daten auf die Interessenabwägung gemäß Art. 6 Abs. 1 S. 1 lit. f) DS-GVO stützen, können Sie Widerspruch gegen die Verarbeitung einlegen. Dies ist der Fall, wenn die Verarbeitung insbesondere nicht zur Erfüllung eines Vertrags mit Ihnen erforderlich ist, was von uns jeweils bei der nachfolgenden Beschreibung der Funktionen dargestellt wird. Bei Ausübung eines solchen Widerspruchs bitten wir um Darlegung der Gründe, weshalb wir Ihre personenbezogenen Daten nicht wie von uns durchgeführt verarbeiten sollten. Im Falle Ihres begründeten Widerspruchs prüfen wir die Sachlage und werden entweder die Datenverarbeitung einstellen bzw. anpassen oder Ihnen unsere zwingenden schutzwürdigen Gründe aufzeigen, aufgrund derer wir die Verarbeitung fortführen.<br/><br/>
                  Sie können der Verarbeitung Ihrer personenbezogenen Daten für Zwecke der Werbung und Datenanalyse jederzeit widersprechen. Das Widerspruchsrecht können Sie kostenfrei ausüben. Über Ihren Werbewiderspruch können Sie uns unter folgenden Kontaktdaten informieren:<br/><br/>
                  Slected UG<br/>
                  Zimmerstrasse 9<br/>
                  10969, Berlin, Deutschland<br/>
                  Handelsregister/Nr.: HRB 193806 B<br/>
                  Registergericht: Amtsgericht Charlottenburg - Berlin<br/>
                  E-Mail-Adresse: <a href="mailto:info@slected.me" title="info@slected.me">info@slected.me</a>
               </li>
               <li><strong>Recht auf Auskunft</strong><br/>
                  Sie haben ein Recht auf Auskunft über Ihre bei uns gespeicherten persönlichen Daten nach Art. 15 DS-GVO. Dies beinhaltet insbesondere die Auskunft über die Verarbeitungszwecke, die Kategorie der personenbezogenen Daten, die Kategorien von Empfängern, gegenüber denen Ihre Daten offengelegt wurden oder werden, die geplante Speicherdauer, die Herkunft ihrer Daten, sofern diese nicht direkt bei Ihnen erhoben wurden.
               </li>
               <li><strong>Recht auf Berichtigung</strong><br/>
                  Sie haben ein Recht auf Berichtigung unrichtiger oder auf Vervollständigung richtiger Daten nach Art. 16 DS-GVO.
               </li>
               <li><strong>Recht auf Löschung</strong><br/>
                  Sie haben ein Recht auf Löschung Ihrer bei uns gespeicherten Daten nach Art. 17 DS-GVO, es sei denn gesetzliche oder vertraglichen Aufbewahrungsfristen oder andere gesetzliche Pflichten bzw. Rechte zur weiteren Speicherung stehen dieser entgegen.
               </li>
               <li><strong>Recht auf Einschränkung</strong><br/>
                  Sie haben das Recht, eine Einschränkung bei der Verarbeitung Ihrer personenbezogenen Daten zu verlangen, wenn eine der Voraussetzungen in Art. 18 Abs. 1 lit. a) bis d) DS-GVO erfüllt ist:<br/>
                  • Wenn Sie die Richtigkeit der Sie betreffenden personenbezogenen für eine Dauer bestreiten, die es dem Verantwortlichen ermöglicht, die Richtigkeit der personenbezogenen Daten zu überprüfen;<br/><br/>
                  • die Verarbeitung unrechtmäßig ist und Sie die Löschung der personenbezogenen Daten ablehnen und stattdessen die Einschränkung der Nutzung der personenbezogenen Daten verlangen;<br/><br/>
                  • der Verantwortliche die personenbezogenen Daten für die Zwecke der Verarbeitung nicht länger benötigt, Sie diese jedoch zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen benötigen, oder<br/><br/>
                  • wenn Sie Widerspruch gegen die Verarbeitung gemäß Art. 21 Abs. 1 DS-GVO eingelegt haben und noch nicht feststeht, ob die berechtigten Gründe des Verantwortlichen gegenüber Ihren Gründen überwiegen.
               </li>
               <li><strong>Recht auf Datenübertragbarkeit</strong><br/>
                  Sie haben ein Recht auf Datenübertragbarkeit nach Art. 20 DS-GVO, was bedeutet, dass Sie die bei uns über Sie gespeicherten personenbezogenen Daten in einem strukturierten, gängigen und maschinenlesbaren Format erhalten können oder die Übermittlung an einen anderen Verantwortlichen verlangen können.
               </li>
               <li><strong>Recht auf Beschwerde</strong><br/>
                  Sie haben ein Recht auf Beschwerde bei einer Aufsichtsbehörde. In der Regel können Sie sich hierfür an die Aufsichtsbehörde insbesondere in dem Mitgliedstaat ihres Aufenthaltsorts, ihres Arbeitsplatzes oder des Orts des mutmaßlichen Verstoßes wenden.
               </li>
            </ul>
            <p><strong>Datensicherheit</strong><br/>
               Um alle personenbezogen Daten, die an uns übermittelt werden, zu schützen und um sicherzustellen, dass die Datenschutzvorschriften von uns, aber auch unseren externen Dienstleistern eingehalten werden, haben wir geeignete technische und organisatorische Sicherheitsmaßnahmen getroffen. Deshalb werden unter anderem alle Daten zwischen Ihrem Browser und unserem Server über eine sichere SSL-Verbindung verschlüsselt übertragen.
            </p>
            <p><strong>Stand: 22.09.2019</strong><br/>
               Quelle: <a href="https://www.juraforum.de/datenschutzerklaerung-muster/" title="https://www.juraforum.de/datenschutzerklaerung-muster/" target="_blank">Muster-Datenschutzerklärung von JuraForum.de</a>
            </p>
         </div>
         <!-- <div class="simple_data">
            <h2>Deine Hilfe</h2>
            <div class="hilfe_box">
               <p>Profil verwalten</p>
            </div>
            <div class="hilfe_box">
               <p>Profil verwalten</p>
            </div>
            <div class="hilfe_box">
               <p>Profil verwalten</p>
            </div>
            <div class="hilfe_box last_hilfe_box">
               <p>Profil verwalten</p>
            </div>
            <h2 class="coming_soon_titile">Coming Soon</h2>
            </div> -->
         <!-- <app-beforelogin-footer></app-beforelogin-footer> -->
      </div>
   </div>
</div>