<div class="desktop">
   <div class="innerpagefooter">
      <a href="#" title="share"><img src="assets/images/share.svg" alt=""></a>
      <a href="#" title="mail"><img src="assets/images/mail.svg" alt=""></a>
      <span><a (click)="switchLanguage('de')" title="DEUTSCH">DE</a> <a>|</a> <a (click)="switchLanguage('en')"  title="ENGLISH">EN</a></span>
      <span translate>copyrights</span>
      <a routerLink="help" translate>help</a>
      <a routerLink="/imprint" translate>Imprint</a>
      <a routerLink="/dataprotect" translate>data protection</a>
   </div>
</div>
<div class="mobile">
   <div class="leftouterwrap_bottom">
      <div class="leftfooter">
         <div class="signup_title_icon">
            <img src="assets/images/slectedLogoIcon.svg" alt="">
         </div>
         <div class="footercenterelement">
            <span><a href="#" title="share"><img src="assets/images/share.svg" alt=""></a>
            <a href="#" title="mail"><img src="assets/images/mail.svg" alt=""></a>
            <a (click)="switchLanguage('de')" title="DEUTSCH">DE</a> <a>&nbsp;|&nbsp;</a> <a (click)="switchLanguage('en')" title="ENGLISH">EN</a></span>
         </div>
         <div class="rightfooter">
            <a routerLink="/help" translate>help</a>
            <a routerLink="/imprint" translate>Imprint</a>
            <a routerLink="/dataprotect" translate>data protection</a>
         </div>
         <div translate class="copyright">copyrights</div>
      </div>
   </div>
</div>