<div class="container" id="tab1C">
   <div class="dashboardwrap">
      <div class="dashboardtitle">
         <h1 translate>profile data</h1>
      </div>
      <ul id="tabs2">
         <li><a id="tab3" translate>skill tab</a></li>
         <li><a id="tab4" translate>Job</a></li>
         <li><a id="tab5" translate>education</a></li>
      </ul>
   </div>
   <div class="dashboardboxouterwrap">
      <div class="rightlistbox container2" id="tab3C">
         <div class="settingboxwrap minheight">
            <h3><span class="fa-fw select-all fal"></span> <span class="left" translate>skill tab</span></h3>
            <div class="settingform2 nomrgnbtm nopaddbtm">
               <div class="row">
                  <label class="mrgnrgt29" translate>Add skills</label>
                  <div class="search">
                     <!-- <input type="text" name="" placeholder="{{'Enter your knowledge' | translate}}" [ngModel]="name" (ngModelChange)="searchSkills($event)"> -->
                     <input type="text" name="" placeholder="{{'Enter your knowledge' | translate}}" (ngModelChange)="searchSkills($event)">
                     <button class="fa-fw select-all fal"></button>
                  </div>
               </div>
            </div>
            <div class="tagform">
               <h6 translate>Recommended skills</h6>
               <div class="skillboxwrap">
                  <div  *ngFor="let skillData of skillList" class="skills">{{skillData.skill_name}}
                     <input id="checkbox-{{skillData.skill_id}}" (change)="selChk(skillData.skill_name)"  class="checkbox-custom2" name="checkbox-{{skillData.skill_name}}" type="checkbox" checked="checked">
                     <label for="checkbox-{{skillData.skill_id}}" class="checkbox-custom2-label"></label>
                  </div>
               </div>
            </div>
            <div class="tagwrap">
               <!-- <div class="tag">Skill 01
                  <input id="checkbox-11" class="checkbox-custom" name="checkbox-11" type="checkbox" checked="checked">
                  <label for="checkbox-11" class="checkbox-custom-label"></label>
                  </div>-->
               <div *ngFor="let ans of candidateSkills let i=index"  class="tag">{{ans.candidateSkill}}
                  <input id="checkboxR-{{i}}" class="checkbox-custom" name="checkbox-{{i}}" type="checkbox" (change)="RemoveChk(ans.candidateSkill)" checked="checked">
                  <label for="checkboxR-{{i}}" class="checkbox-custom-label"></label>
               </div>
            </div>
            <div class="row">
               <span class="success" *ngIf="skillmsg" translate>skill_successmsg</span>
               <span class="success" *ngIf="skill_errormsg" translate>skill_errorsmsg</span>
            </div>
            <input type="Submit" name="" class="settingform_btn" value="{{'save' | translate}}" (click)="SkillAdded()">
         </div>
      </div>
      <div class="rightlistbox container2" id="tab4C">
         <div class="settingboxwrap minheight">
            <h3><span class="fa-fw select-all fal"></span> <span class="left" translate>place of work</span></h3>
            <div class="settingform2">
               <div class="row">
                  <label class="mrgnrgt29" translate>Current work</label>
                  <input type="text" name="" [(ngModel)]="CurrentCompnay" placeholder="{{'Current work'|translate}}" readonly>
                  <div class="crossicon_default" (click)="remove_Company(CurrentCompnayId)" id="{{CurrentCompnayId}}"></div>
               </div>
               <div class="row">
                  <label class="mrgnrgt29" translate>Previous work</label>
                  <input type="text" name="" [(ngModel)]="PreviousCompnay" placeholder="{{'Previous work'|translate}}" readonly >
                  <div class="crossicon_default" (click)="remove_Company(PreviousCompnayId)" id="{{PreviousCompnayId}}"></div>
               </div>
            </div>
            <h3 class="noborder mrgnbtm10"><span class="fa-fw select-all fal">&nbsp;</span> <span class="left" translate>Add a new location</span></h3>
         <form [formGroup]="jobForm" (ngSubmit)="PostJobData(jobForm.value)">
            <div class="settingform3">
               <div class="row">
                  <label translate>Companies</label>
                  <input type="text" formControlName="job_company" name="" placeholder="{{'Firma' | translate}}">
                  <div *ngIf="jobForm.controls['job_company'].touched">
                     <span class="error" *ngIf="jobForm.controls['job_company'].hasError('required')" translate>Company mandatory field</span>
                  </div>
               </div>
               <div class="row">
                  <label translate>Position</label>
                  <input type="text" formControlName="job_position" name=""  placeholder="{{'Job Title' | translate}}">
                  <div *ngIf="jobForm.controls['job_position'].touched">
                     <span class="error" *ngIf="jobForm.controls['job_position'].hasError('required')" translate>Position required</span>
                  </div>
               </div>
               <div class="row">
                  <label translate>Period</label>
                  <!-- <ng-datepicker [(ngModel)]="TodaysDate" [options]="options"></ng-datepicker> -->
                  <input type="text" #sd name="startDate" id="startDate" formControlName="job_period_from" placeholder="{{TodaysDate}}" class="datepicker minwidth64" autocomplete="off">
                  <span translate>to</span>
                  <input type="text" #ed name="endDate" id="endDate" formControlName="job_period_to" placeholder="{{TodaysDate}}" class="datepicker minwidth64" autocomplete="off">
                  <div *ngIf="jobForm.controls['job_period_from'].touched">
                     <span class="error" *ngIf="jobForm.controls['job_period_from'].hasError('required')" translate>Zeitraum (Pflichtfeld</span>
                  </div>
               </div>
               <!-- <div class="row">
                  <label>Position</label>
                  <input type="text" name="" value="Stellenbezeichnung">
                  </div> -->
               <div class="row">
                  <label translate>Current job</label>
                  <!-- <input type="checkbox" formControlName="job_current"  id="toggle" class="checkbox" checked="checked" />  
                     <label for="toggle" class="switch" translate>ON</label> -->
                  <!-- <label class='toggle-label'>
                     <input type='checkbox' formControlName="job_current"  id="toggle" />
                      <div class='back'>
                       <div class='toggle'></div>
                       <div class='label on' translate>ON</div>
                       <div class='label off' translate>OFF</div>  
                     </div>
                     </label> -->
                  <!-- <input type="checkbox" #job_current  name="job_current" formControlName="job_current" value="true"/> -->
                  <ng-toggle
            name="job_current" 
            formControlName="job_current"
            [value]="true"
            [disabled]="false"
            [width]="46"
            [height]="20"
            [margin]="3"
            [fontSize]="10"
            [labels]="{
            unchecked: 'OFF',
            checked: 'ON'
          }"
            [color]="{
            unchecked: '#ffffff',
            checked: '#ffffff'
          }"
            [switchColor]="{
            checked: '#0b72b5',
            unchecked: '#0b72b5'
          }"
            [fontColor]="{
            checked: '#0b72b5',
            unchecked: '#0b72b5'
          }"
            class="customToogle"
          >
          </ng-toggle>
               </div>
            </div>
            
           


            <div class="row">
               <span class="success" *ngIf="msg" translate>job_successmsg</span>
               <span class="success" *ngIf="msgerror" translate>job_errormsg</span>
            </div>
            <input type="Submit" name=""  [disabled]="!jobForm.valid" class="settingform_btn" value="{{'save' | translate}}">
            </form>
         </div>
      </div>
      <div class="rightlistbox container2" id="tab5C">
         <div class="settingboxwrap minheight">
            <h3><span class="fa-fw select-all fal"></span> <span class="left" translate>education</span></h3>
            <form [formGroup]="educationForm" (ngSubmit)="PostEducationData(educationForm.value)">
            <div class="settingform2">
               <!-- <div class="row">
                  <label  class="mrgnrgt29">Hochschule</label>
                  <input formControlName="username"  type="text" name="" value="Name der Hochschule">
                  </div>
                  <input type="Submit" name="" class="settingform_btn" value="Speichern"> -->
               <div class="row">
                  <label class="mrgnrgt29" translate>University</label>
                  <input type="text" formControlName="university" name="" placeholder="{{'name of the college' | translate}}">
                  <div *ngIf="educationForm.controls['university'].touched">
                     <span class="error" *ngIf="educationForm.controls['university'].hasError('required')" translate>Name of the university Required field</span>
                  </div>
               </div>
               <div class="row">
                  <label class="mrgnrgt29" translate>subject</label>
                  <input type="text" formControlName="subject" name="" placeholder="{{'computer science' | translate}}">
                  <div *ngIf="educationForm.controls['subject'].touched">
                     <span class="error" *ngIf="educationForm.controls['subject'].hasError('required')" translate>Subject required</span>
                  </div>
               </div>
               <div class="row">
                  <label class="mrgnrgt29" translate>graduation</label>
                  <input type="text" formControlName="graduation" name="" placeholder="{{'Bachalor or Master' |translate }}">
                  <div *ngIf="educationForm.controls['graduation'].touched">
                     <span class="error" *ngIf="educationForm.controls['graduation'].hasError('required')" translate>Graduation required</span>
                  </div>
               </div>
               <div class="row">
                  <label class="mrgnrgt29" translate>senior year</label>
                  <div class="year">
                     
                     <select formControlName="year" class="decorated" placeholder="asf">
                        <option selected="selected">{{'senior year' |translate }}</option>
                        <option *ngFor="let year of year_range" value="{{year}}">{{year}}</option>
                        
                     </select>
                  </div>
                  <!-- <input type="text" formControlName="year" name="" placeholder="2019" class=""> -->
                  <div *ngIf="educationForm.controls['year'].touched">
                     <span class="error" *ngIf="educationForm.controls['year'].hasError('required') " translate>Passing year</span>
                  </div>
               </div>
            </div>
            <div class="row">
               <span class="success" *ngIf="Education_msg" translate>education_successmsg</span>
               <span class="success" *ngIf="Education_errormsg" translate>education_errormsg</span>
            </div>
            <input type="Submit" name=""  [disabled]="!educationForm.valid" class="settingform_btn" value="{{'save' | translate }}">
            </form> 
         </div>
      </div>
   </div>
</div>