:host >>>.ng-toggle-switch .ng-toggle-right{
  right: 5px !important;
}
  .tag:hover > label:before {
    width: 15px;
    height: 15px;
    background: #0b72b5 url(../../assets/images/cross.svg) no-repeat center center !important;
    border-radius: 50%;
    position: absolute;
    top: -7px;
    right: -8px;
}
 