<div *ngIf="hide">
   <router-outlet ></router-outlet>
</div>
<div *ngIf="!hide">
   <div class="pagewrapper bluegrdbg">
      <div class="mainbody">
         <div class="innerwrap">
            <app-sidebar></app-sidebar>
            <div class="innerwrap-right">
               <app-loginheader></app-loginheader>
               <router-outlet ></router-outlet>
               <app-loginfooter></app-loginfooter>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- 
   {{hide}}
   <div *ngIf="hide">
     <router-outlet ></router-outlet>
   </div>
   {{show}}
   <div *ngIf="show">
     <div class="pagewrapper bluegrdbg">
         <div class="mainbody">
           <div class="innerwrap">
             <app-sidebar></app-sidebar>
               <div class="innerwrap-right">
               <app-loginheader></app-loginheader>  
   
   
             <router-outlet ></router-outlet>
   
   
               <app-loginfooter></app-loginfooter>
           </div>
         </div>
       </div>
       </div>
   </div>
   -->