<div class="innerwrap-left">
   <div class="innerwrap-left-logo">
      <div class="innerwrap-left-logo-icon">
         <a routerLink="dashboard"><img src="assets/images/slectedLogoIcon.svg" alt=""></a>
      </div>
      <div class="innerwrap-left-logo-text">
         <a routerLink="dashboard"><img src="assets/images/logo.svg" alt=""></a>
      </div>
   </div>
   <div class="userprofilewrap">
      <div class="userprofile2">
         <div class="menuopenbox">
            <div class="usermenuclose">
               <img src="assets/images/close.svg" alt="">
            </div>
            <ul>
               <li class="animated slideInUp"><a routerLink="personaldata" translate>Personal data</a> <span><img src="assets/images/setting.svg" alt=""></span></li>
               <li class="animated slideInUp"><a routerLink="safety" translate>Safety and security</a> <span><img src="assets/images/account.svg" alt=""></span></li>
               <li class="animated slideInUp mrgntop30"><a (click)="logout()" translate>logout</a> <span><img src="assets/images/logout.svg" alt=""></span></li>
            </ul>
         </div>
         <div class="profile-top">
            <div class="profile_circle">
               <!-- <div class="profile-top-left"> -->
               <circle-progress
               [percent]="percentage"
               [radius]="43"
               [outerStrokeWidth]="3"
               [innerStrokeWidth]="0"
               [outerStrokeColor]="'#88b0c8'"
               [innerStrokeColor]="'#C7E596'"
               [animation]="true"
               [animationDuration]="300"
               >
               </circle-progress>
               <div class="profile_content">
                  <div class="plus-icon profileImg">+</div>
                  <div class="profile-photo">
                     <!-- {{basePath}} -->
                     <img src="{{basePath}}/{{profilePhoto}}" onerror="this.src='assets/images/avatar.png'" alt="">
                  </div>
               </div>
            </div>
            <!-- </div> -->
            <div class="status">{{percentage}}%<br/>Status</div>
            <div class="usermenu">
               <span class="fa-fw select-all fal"></span>
            </div>
            <div class="username">{{firstName}}<br/><span class="surname">{{lastName}}</span></div>
         </div>
         <div class="profile-bottom">
            <div class="signup_title_text">
               <span class="left" translate>your value / year</span>
               <h5>
                  {{ rating_avg}}
                  <p>€</p>
               </h5>
            </div>
            <div class="trendbox">
               <!-- <div class="trendboxwrap">
                  <div class="trend-icon">
                     <i class="fa fa-line-chart" aria-hidden="true"></i>
                  </div>
                  <div class="trend-number">
                     9.1 %
                  </div>
                  </div> -->
               <!-- <div class="trendboxwrap">
                  <div class="trend-icon">
                     <i class="fa fa-ban" aria-hidden="true"></i>
                  </div>
                  <div class="trend-number">
                     -11.4 %
                  </div>
                  </div> -->
            </div>
         </div>
      </div>
      <div class="userinfo-outerwrap">
         <div class="userinformation">
            <div class="userinformation-innerwrap mrgnbtm20 paddtop10">
               <div class="userinformation-listingwrap nomrgnbtm">
                  <div class="userinformation-listingwrap-icon">
                     <span class="fa-fw select-all fal"></span>
                  </div>
                  <div class="userinformation-listingwrap-textwrap">
                     <input [type]="salaryHide" value="{{salary}}" id="myInput"> 
                     <span class="fa-fw select-all fal" (click)="myFunction()" ></span>
                  </div>
               </div>
            </div>
            <div class="userinformation-innerwrap">
               <div class="userinformation-listingwrap">
                  <div class="userinformation-listingwrap-icon">
                     <span class="fa-fw select-all fal"></span>
                  </div>
                  <div class="userinformation-listingwrap-textwrap">
                     <h2>{{position}} </h2>
                  </div>
               </div>
               <div class="userinformation-listingwrap">
                  <div class="userinformation-listingwrap-icon">
                     <span class="fa-fw select-all fal"></span>
                  </div>
                  <div class="userinformation-listingwrap-textwrap">
                     <h2>{{Edu_subject}} {{Edu_degree}}</h2>
                  </div>
               </div>
               <div class="userinformation-listingwrap">
                  <div class="userinformation-listingwrap-icon">
                     <span class="fa-fw select-all fal"></span>
                  </div>
                  <div class="userinformation-listingwrap-textwrap">
                     <div class="rowwrap">
                        <p translate>Current work</p>
                        <h3>{{CurrentCompnay}} </h3>
                     </div>
                     <div class="rowwrap">
                        <p translate>Previous work</p>
                        <h3>{{PreviousCompnaynew}}</h3>
                        <div *ngFor="let ans of PreviousCompnay">
                           <h3>{{ans.job_company}} </h3>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="profilebuttonwrap">
               <div class="otherboxwrap">
                  <h6 translate>actual current salary</h6>
                  <input type="text" name="" #usersalary  value="{{salary}}" [(ngModel)]="salary">
                  <a class="btn" (click)="addSalary(usersalary.value)">OK</a>
               </div>
               <a class="profilebutton" translate>your salary</a>
            </div>
         </div>
         <div class="userprofile-bottompatch">
            <div class="userprofile-plusbtn">
               <div class="userprofile-plusicon"><a routerLink="skill">+</a></div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="xingpopup profilepopup">
   <div class="close">x</div>
   <div class="overlaywrap">
      <div class="apiboxwrap">
         <h1 translate>profile photo</h1>
         <div class="settingboxwrap minheight">
            <div class="settingform2 profilePhoto_popup">
               <!-- <div class="row">
                  <label>Profile Photo </label>
                  <input type="file" name="image" >
                  </div> -->
               <form (ngSubmit)="onSubmit()">
                  <div class="form-group">
                     <input  (change)="fileChange($event)"  accept='image/*'   type="file"  class="custom-file-input"  id="inputGroupFile01"  aria-describedby="inputGroupFileAddon01">
                  </div>
                  <div class="form-group">
                     <span  class="input-group-text settingform_btn upload"  (click)="upload()"  id="btnUpload" translate>Upload</span>
                  </div>
               </form>
            </div>
            
            <div class="row">
               <div class="success" *ngIf="successmsg" translate>Profile photo updated</div>
               <div class="success" *ngIf="errormsg" translate>Invalid file format</div>
               
            </div>
            <!-- <input type="submit" name="" class="settingform_btn" value="Speichern"> -->
         </div>
         <a class="btn"><img src="assets/images/pfad-905.svg" alt="">REGISTRATION SUCCESS</a>
      </div>
   </div>
</div>