<div class="mainbody">
   <div class="desktop">
      <div class="leftouterwrap">
         <div class="leftouterwrap_top">
            <div class="logowrap">
               <div class="logo">
                  <img src="assets/images/logo.svg" alt="">
               </div>
            </div>
            <div class="leftwrap">
               <h1 translate>Recognize<br/>your worth</h1>
               <h2 class="secondtxt" translate>Only three steps</h2>
               <p class="mrgntop20" translate>Compare the values in your industry</p>
               <!-- <a class="whtbtn" translate>Learn more</a> -->
            </div>
         </div>
         <app-beforelogin-footer></app-beforelogin-footer>
      </div>
      <div class="rightouterwrap">
         <div class="rightwrap">
            <div class="signup_title">
               <div class="signup_title_icon">
                  <img src="assets/images/slectedLogoIcon.svg" alt="">
               </div>
               <div class="signup_title_text">
                  <h6 translate>Password</h6>
                  <p translate>Forgotten</p>
               </div>
            </div>
            <div class="signupformwrap padd82">
               <form [formGroup]='signupForm' (ngSubmit)="PostData(signupForm.value)">
               <div class="formrow">
                  <input type="text" formControlName="Emailid" class="input-text"  placeholder="{{'Your email address' | translate}}">
                  <label class="label-helper" translate>Your email address</label>
                  <div *ngIf="signupForm.controls['Emailid'].touched && !signupForm.controls['Emailid'].valid">
                     <span *ngIf="signupForm.controls['Emailid'].hasError('required') ">E-Mail Adresse eingeben.</span>
                     <span *ngIf="signupForm.controls['Emailid'].hasError('email') ">Gültige Email Adresse angeben.</span>
                  </div>
               </div>
               <input type="submit" name="submit"[disabled]="!signupForm.valid"  value="{{'Go back' | translate }}" class="btn">
               </form>
               <div class="oder">
                  <div class="odertxt" translate>or</div>
               </div>
               <!-- <div class="xing_linkedin_outerwrap">
                  <a class="xing">
                  <img src="assets/images/xingSignUpButton.svg" alt="">
                  </a>
                  <a class="linkedin">
                  <img src="assets/images/linkedInSignUpButton.svg" alt="">
                  </a>
                  </div> -->
               <div class="loginwrap">
                  <a routerLink="/sign-up"><i class="fa fa-arrow-left" aria-hidden="true"></i> LOGIN</a>
               </div>
            </div>
         </div>
         <app-rightside-footer></app-rightside-footer>
      </div>
   </div>
   <div class="mobile mobbg">
      <div class="rightouterwrap">
         <div class="logowrap">
            <div class="logo">
               <img src="assets/images/logo.svg" alt="">
            </div>
         </div>
         <div class="rightwrap">
            <div class="signup_title">
               <div class="signup_title_icon">
                  <img src="assets/images/slectedLogoIcon.svg" alt="">
               </div>
               <div class="signup_title_text">
                  <h6 translate>Password</h6>
                  <p translate>Forgotten</p>
               </div>
            </div>
            <div class="signupformwrap padd82">
               <form [formGroup]='signupForm' (ngSubmit)="PostData(signupForm.value)">
               <div class="formrow">
                  <input type="text" formControlName="Emailid"  placeholder="{{'Your email address' | translate}}">
                  <div *ngIf="signupForm.controls['Emailid'].touched && !signupForm.controls['Emailid'].valid">
                     <span *ngIf="signupForm.controls['Emailid'].hasError('required') ">E-Mail Adresse eingeben.</span>
                     <span *ngIf="signupForm.controls['Emailid'].hasError('email') ">Gültige Email Adresse angeben.</span>
                  </div>
               </div>
               <input type="submit" name="submit"[disabled]="!signupForm.valid"  value="{{'Go back' | translate }}" class="btn">
               </form>
               <div class="oder">
                  <div class="odertxt" translate>or</div>
               </div>
               <!-- <div class="xing_linkedin_outerwrap">
                  <a class="xing">
                  <img src="assets/images/xingSignUpButton.svg" alt="">
                  </a>
                  <a class="linkedin">
                  <img src="assets/images/linkedInSignUpButton.svg" alt="">
                  </a>
                  </div> -->
               <div class="loginwrap">
                  <a routerLink="/sign-up"><i class="fa fa-arrow-left" aria-hidden="true"></i> LOGIN</a>
               </div>
            </div>
         </div>
         <!-- <app-rightside-footer></app-rightside-footer> -->
      </div>
      <div class="leftouterwrap">
         <div class="leftouterwrap_top">
            <div class="leftwrap">
               <h1 translate>Recognize<br/>your worth</h1>
               <h2 class="secondtxt" translate>Only three steps</h2>
               <p class="mrgntop20" translate>Compare the values in your industry</p>
            </div>
         </div>
         <app-beforelogin-footer></app-beforelogin-footer>
      </div>
   </div>
</div>