<div class="mainbody">
<div class="desktop">
   <div class="leftouterwrap">
      <div class="leftouterwrap_top">
         <div class="logowrap">
            <div class="logo">
               <img src="assets/images/logo.svg" alt="">
            </div>
         </div>
         <div class="leftwrap">
            <h1 translate>Recognize <br/>your worth</h1>
            <h2 class="secondtxt" translate>Only three steps</h2>
            <p class="mrgntop20" translate>Compare the values in your industry</p>
         </div>
      </div>
      <div class="leftouterwrap_bottom">
         <div class="leftfooter">
            <a href="#" title="share"><img src="assets/images/share.svg" alt=""></a>
            <a href="#" title="mail"><img src="assets/images/mail.svg" alt=""></a>
            <span><a (click)="switchLanguage('de')" title="DEUTSCH">DEUTSCH </a> | <a (click)="switchLanguage('en')"  title="ENGLISH">ENGLISH</a></span>
            <span translate>copyrights</span>
         </div>
      </div>
   </div>
   <div class="rightouterwrap">
      <div class="popup">
         <div class="signup_title">
            <div class="signup_title_icon">
               <img src="assets/images/slectedLogoIcon.svg" alt="">
            </div>
            <div class="signup_title_text">
               <span class="right" translate>YOUR VALUE</span>
               <h5>
                  {{rating  }} 
                  <p>€</p>
               </h5>
            </div>
         </div>
         <div class="signupformwrap">
            <form [formGroup]="ratingForm" (ngSubmit)="PostData(ratingForm.value)">
            <div class="formrow ui-widget">
               <div class="ng-autocomplete">
                  <ng-autocomplete
                  [data]="profession"
                  [searchKeyword]="keyword"
                  [placeHolder]="'Profession'|translate"
                  (selected)='selectedprofession($event)'
                  [itemTemplate]="professionTemplate"
                  [notFoundTemplate]="professionnotFoundTemplate">
                  </ng-autocomplete>
                  <ng-template #professionTemplate let-item>
                     <a [innerHTML]="item.name"></a>
                  </ng-template>
                  <ng-template #professionnotFoundTemplate let-notFound>
                     <div [innerHTML]="notFound"></div>
                  </ng-template>
                  <span *ngIf="ProfshowError">Select your profession</span>
               </div>
            </div>
            <div class="formrow ui-widget">
               <div class="ng-autocomplete">
                  <ng-autocomplete
                  [data]="qualification"
                  [searchKeyword]="keyword"
                  [placeHolder]="'qualification'|translate"
                  (selected)='selectedQualification($event)'
                  [itemTemplate]="qualificationTemplate"
                  [notFoundTemplate]="qualificationnotFoundTemplate">
                  </ng-autocomplete>
                  <ng-template #qualificationTemplate let-item>
                     <a [innerHTML]="item.name"></a>
                  </ng-template>
                  <ng-template #qualificationnotFoundTemplate let-notFound>
                     <div [innerHTML]="notFound"></div>
                  </ng-template>
                  <span *ngIf="QualishowError">Select your qualification</span>
               </div>
            </div>
            <div class="formrow ui-widget">
               <div class="ng-autocomplete">
                  <ng-autocomplete
                  [data]="experience"
                  [searchKeyword]="keyword"
                  [placeHolder]="'experience'|translate"
                  (selected)='selectedExp($event)'
                  [itemTemplate]="expTemplate"
                  [notFoundTemplate]="expnotFoundTemplate">
                  </ng-autocomplete>
                  <ng-template #expTemplate let-item>
                     <a [innerHTML]="item.name"></a>
                  </ng-template>
                  <ng-template #expnotFoundTemplate let-notFound>
                     <div [innerHTML]="notFound"></div>
                  </ng-template>
                  <span *ngIf="expshowError">Select your experience</span>
               </div>
            </div>
            <div class="formrow ui-widget">
               <div class="ng-autocomplete">
                  <ng-autocomplete
                  [data]="location"
                  [searchKeyword]="keyword"
                  [placeHolder]="'location'|translate"
                  (selected)='selectedLocation($event)'
                  [itemTemplate]="itemTemplate"
                  [notFoundTemplate]="notFoundTemplate">
                  </ng-autocomplete>
                  <ng-template #itemTemplate let-item>
                     <a [innerHTML]="item.name"></a>
                  </ng-template>
                  <ng-template #notFoundTemplate let-notFound>
                     <div [innerHTML]="notFound"></div>
                  </ng-template>
                  <span *ngIf="locshowError">Select your location</span>
               </div>
            </div>
            <input type="submit" name="submit" value="{{'Almost finished' | translate}}" class="btn">
            </form>
            <div class="oder">
               <div class="odertxt">
               </div>
            </div>
         </div>
      </div>
      <div class="rightfooter">
         <a routerLink="/help" translate>help</a>
         <a routerLink="/imprint" translate>Imprint</a>
         <a href="#">Datenschutz</a>
      </div>
   </div>
</div>
<div class="mobile mobbg">
   <div class="rightouterwrap">
      <div class="logowrap">
         <div class="logo">
            <img src="assets/images/logo.svg" alt="">
         </div>
      </div>
      <div class="popup">
         <div class="signup_title">
            <div class="signup_title_icon">
               <img src="assets/images/slectedLogoIcon.svg" alt="">
            </div>
            <div class="signup_title_text">
               <span class="right" translate>YOUR VALUE</span>
               <h5>
                  {{rating  }} 
                  <p>€</p>
               </h5>
            </div>
         </div>
         <div class="signupformwrap">
            <form [formGroup]="ratingForm" (ngSubmit)="PostData(ratingForm.value)">
            <div class="formrow ui-widget">
               <div class="ng-autocomplete">
                  <ng-autocomplete
                  [data]="profession"
                  [searchKeyword]="keyword"
                  [placeHolder]="'Profession'|translate"
                  (selected)='selectedprofession($event)'
                  [itemTemplate]="professionTemplate"
                  [notFoundTemplate]="professionnotFoundTemplate">
                  </ng-autocomplete>
                  <ng-template #professionTemplate let-item>
                     <a [innerHTML]="item.name"></a>
                  </ng-template>
                  <ng-template #professionnotFoundTemplate let-notFound>
                     <div [innerHTML]="notFound"></div>
                  </ng-template>
                  <span *ngIf="ProfshowError">Select your profession</span>
               </div>
            </div>
            <div class="formrow ui-widget">
               <div class="ng-autocomplete">
                  <ng-autocomplete
                  [data]="qualification"
                  [searchKeyword]="keyword"
                  [placeHolder]="'qualification'|translate"
                  (selected)='selectedQualification($event)'
                  [itemTemplate]="qualificationTemplate"
                  [notFoundTemplate]="qualificationnotFoundTemplate">
                  </ng-autocomplete>
                  <ng-template #qualificationTemplate let-item>
                     <a [innerHTML]="item.name"></a>
                  </ng-template>
                  <ng-template #qualificationnotFoundTemplate let-notFound>
                     <div [innerHTML]="notFound"></div>
                  </ng-template>
                  <span *ngIf="QualishowError">Select your qualification</span>
               </div>
            </div>
            <div class="formrow ui-widget">
               <div class="ng-autocomplete">
                  <ng-autocomplete
                  [data]="experience"
                  [searchKeyword]="keyword"
                  [placeHolder]="'experience'|translate"
                  (selected)='selectedExp($event)'
                  [itemTemplate]="expTemplate"
                  [notFoundTemplate]="expnotFoundTemplate">
                  </ng-autocomplete>
                  <ng-template #expTemplate let-item>
                     <a [innerHTML]="item.name"></a>
                  </ng-template>
                  <ng-template #expnotFoundTemplate let-notFound>
                     <div [innerHTML]="notFound"></div>
                  </ng-template>
                  <span *ngIf="expshowError">Select your experience</span>
               </div>
            </div>
            <div class="formrow ui-widget">
               <div class="ng-autocomplete">
                  <ng-autocomplete
                  [data]="location"
                  [searchKeyword]="keyword"
                  [placeHolder]="'location'|translate"
                  (selected)='selectedLocation($event)'
                  [itemTemplate]="itemTemplate"
                  [notFoundTemplate]="notFoundTemplate">
                  </ng-autocomplete>
                  <ng-template #itemTemplate let-item>
                     <a [innerHTML]="item.name"></a>
                  </ng-template>
                  <ng-template #notFoundTemplate let-notFound>
                     <div [innerHTML]="notFound"></div>
                  </ng-template>
                  <span *ngIf="locshowError">Select your location</span>
               </div>
            </div>
            <input type="submit" name="submit" value="{{'Almost finished' | translate}}" class="btn">
            </form>
            <div class="oder">
               <div class="odertxt">
               </div>
            </div>
         </div>
      </div>
      <!-- <div class="rightfooter">
         <a routerLink="/help" translate>help</a>
         
         <a routerLink="/imprint" translate>Imprint</a>
         
         <a href="#">Datenschutz</a>
         
         </div> -->
   </div>
   <div class="leftouterwrap">
      <div class="leftouterwrap_top">
         <div class="leftwrap">
            <h1>Recognize <br />Sie Ihren Wert.</h1>
            <h2 class="secondtxt">In nur drei Schritten<br />zu Ihrem Erfolg!</h2>
         </div>
      </div>

      <!-- <h1 translate>Recognize <br/>your worth</h1>
      <h2 class="secondtxt" translate>Only three steps</h2>
      <p class="mrgntop20" translate>Compare the values in your industry</p> -->

      <!-- <div class="leftouterwrap_bottom">
         <div class="leftfooter">
         
             <a href="#" title="share"><img src="assets/images/share.svg" alt=""></a>
         
             <a href="#" title="mail"><img src="assets/images/mail.svg" alt=""></a>
         
             <span><a (click)="switchLanguage('de')" title="DEUTSCH">DEUTSCH </a> | <a (click)="switchLanguage('en')" title="ENGLISH">ENGLISH</a></span>
         
             <span translate>copyrights</span>
         
         </div>
         
         </div> -->
      <app-beforelogin-footer></app-beforelogin-footer>
   </div>
</div>
<!-- <script src="assets/js/jquery.js"></script>
<link rel="stylesheet" href="assets/css/jquery-ui.css">
<script src="assets/js/jquery-ui.js"></script>
<script src="assets/js/jquery.js"></script>
<link rel="stylesheet" href="assets/css/jquery-ui.css">
<script src="assets/js/jquery-ui.js"></script> -->