:host >>>.ng-autocomplete {width: 100% !important;}

:host >>>.autocomplete-container {
    /* box-shadow: 0 0px 0px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12); */
    box-shadow: none;
    position: relative;
    overflow: visible;
    /*height: 40px;*/
}
:host >>>.ng-autocomplete .autocomplete-container .input-container input {
    width: 100%;
    float: left;
    font-size: 14px;
    color: #084f7f;
    border: 1px solid #0d76bd;
    line-height: 20px;
    border-radius: 50px;
    background: #fff;
    padding: 5px;
    text-indent: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(http://infinitechlabs.in/slected/frontend/assets/images/backarrow.svg) no-repeat 90% center;
    height: auto !important;
}
:host >>>.ng-autocomplete .autocomplete-container .suggestions-container {
    position: absolute;
    width: 100%;
    background: #fff;
    height: auto;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    box-sizing: border-box;
    margin-top: 40px;
    height: auto !important;
}
:host >>>.ng-autocomplete .autocomplete-container .suggestions-container {
    position: absolute;
    width: 100%;
    background: #fff;
    height: auto !important;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    box-sizing: border-box;
    margin: 25px 1px 19px 1px;
    padding: 21px 10px 5px 1px;
    border: 1px solid blue;
    border-top: none;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: -1;
}

:host >>>.autocomplete-container {
    height: auto !important;
}

:host >>>.autocomplete-container.active .suggestions-container {
    z-index: 1;
    width: 100%;
    box-shadow: none;
    left: -1px;
}

:host >>>.autocomplete-container.active .input-container input {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

:host >>>.autocomplete-container .not-found div {
    padding: 0px 16px;
    font-size: 11px;
     line-height: normal; 
     border-bottom: none; 
}

:host >>>.autocomplete-container .not-found {
    padding: 0;
    border: none;
    background: none; 
    position: relative;
    z-index: 9;
}
