<div class="pagewrapper bluegrdbg whitebg">
<div class="mainbody">
<div class="innerwrap main_inner_wrapper">
<div class="full_header">
   <div class="logowrap static_logowrap">
      <div class="logo">
         <a routerLink="/">
         <img src="assets/images/logo.svg" alt="">
         </a>
      </div>
   </div>
   <div class="innerwrap-right width87">
      <ul id="tabs" class="static_tabs">
         <li *ngIf="showmenu"><a id="tab1" routerLink="/dashboard" >Dashboard</a></li>
         <li *ngIf="showmenu"><a id="tab2" routerLink="/compare" translate>compare</a></li>
         <li *ngIf="showmenu" class="anmelden float-right"><a id="tab2" (click)="logout()" translate>logout</a></li>
         <li *ngIf="!showmenu"><a id="tab1" routerLink="/" >Dashboard</a></li>
         <li *ngIf="!showmenu"><a id="tab2" routerLink="/" translate>compare</a></li>
         <li *ngIf="!showmenu" class="anmelden float-right"><a id="#" routerLink="/" translate class="text-right">LogIn</a></li>
      </ul>
   </div>
</div>
<div class="clearfix"></div>
<div class="static_page_container">
   <h2>Impressum</h2>
   <div class="left_container">
      <h3>VERANTWORTLICH</h3>
      <img src="assets/images/static_3.svg">
      <img src="assets/images/logo.svg" class="content_logo">
      <p>Slected UG
         Zimmerstrasse 9
         10969 Berlin
      </p>
      <p>Telefon +49 (0)176 257 79 159
         E-Mail <a href="#">info@slected.me</a>
      </p>
      <p>Handelsregister:
         HRB 193806 B
         Amtsgericht Charlottenburg (Berlin)
      </p>
      <p>Steuer-Nr.: 37/536/50309</p>
      <h3>DESIGN/LAYOUT</h3>
      <img src="assets/images/static_sign.svg">
      <p>
         esaya.de
         Mühlenstraße 85
         45473 Mülheim an der Ruhr
      </p>
      <p>Telefon +49 (0)176 777 6363 0
         E-Mail <a href="#">info@esaya.de </a>
      </p>
   </div>
   <div class="right_container">
      <h3>HAFTUNGSHINWEISE</h3>
      <h4>LINKS</h4>
      <p>Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei bekannt werden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.</p>
      <h4>INHALTE</h4>
      <p>Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen. Als Diensteanbieter sind wir gemäß § 6 Abs.1 MDStV und § 8 Abs.1 TDG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Diensteanbieter sind jedoch nicht verpflichtet, die von ihnen übermittelten oder gespeicherten fremden Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei bekannt werden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.</p>
      <h4>URHEBER</h4>
      <p>Die Betreiber der Seiten sind bemüht, stets die Urheberrechte anderer zu beachten bzw. auf selbst erstellte sowie lizenzfreie Werke zurückzugreifen. Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Beiträge Dritter sind als solche gekennzeichnet. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet.</p>
   </div>
</div>
<div class="desktop">
   <div class="innerpagefooter">
      <a href="#" title="share"><img src="assets/images/share.svg" alt=""></a>
      <a href="#" title="mail"><img src="assets/images/mail.svg" alt=""></a>
      <span><a (click)="switchLanguage('de')" title="DEUTSCH">DE</a> <a>|</a> <a (click)="switchLanguage('en')" title="ENGLISH">EN</a></span>
      <span translate>copyrights</span>
      <span class="right_static_footer">
      <a routerLink="/help" translate>help</a>
      <a routerLink="/imprint" translate>Imprint</a>
      <a routerLink="/dataprotect" translate>data protection</a>
      </span>
   </div>
</div>
<div class="mobile">
   <div class="leftouterwrap_bottom">
      <div class="leftfooter">
         <div class="signup_title_icon">
            <img src="assets/images/slectedLogoIcon.svg" alt="">
         </div>
         <div class="footercenterelement">
            <span><a href="#" title="share"><img src="assets/images/share.svg" alt=""></a>
            <a href="#" title="mail"><img src="assets/images/mail.svg" alt=""></a>
            <a (click)="switchLanguage('de')" title="DEUTSCH">DE</a> <a>&nbsp;|&nbsp;</a> <a (click)="switchLanguage('en')" title="ENGLISH">EN</a></span>
         </div>
         <div class="rightfooter">
            <a routerLink="/help" translate>help</a>
            <a routerLink="/imprint" translate>Imprint</a>
            <a routerLink="/dataprotect" translate>data_protection</a>
         </div>
         <div translate class="copyright">copyrights</div>
      </div>
   </div>
</div>