<div class="container" id="tab1C">
   <div class="dashboardwrap">
      <div class="dashboardtitle">
         <h1>Dashboard</h1>
      </div>
   </div>
   <div class="dashboardboxouterwrap">
      <div class="statusbox">
         <h3><span class="left" translate>status</span> <span class="txtsmall" translate>you</span></h3>
         <div class="dashboard_statusbox">
            <div class="dashboard_photo">
               <img src="{{basePath}}/{{imgPath}}" onerror="this.src='assets/images/avatar.png'" alt="">
            </div>
            <div class="dashboard_txtbox">
               <h4 translate>Values</h4>
               <h5> {{rating_avg}} €</h5>
            </div>
            <div class="dashboard_title_subtitle">
               <h1 translate>experience 1</h1>
               <h2>
                  {{profession}} - {{experience }} <!--Monate-->
               </h2>
            </div>
            <div class="skillsbox">
               <h1 translate>skills</h1>
            </div>
            <div class="tagwrap">
               <div *ngFor="let item of newArray" class="tag">
                  <!-- <input type="checkbox"  class="checkbox-custom"> -->
                  <input id="checkbox-{{item.userskill_id}}" [checked]="item.checked" class="checkbox-custom" name="checkbox-{{item.userskill_id}}" type="checkbox" >
                  <label for="checkbox-{{item.userskill_id}}" class="checkbox-custom-label" ></label>  {{item.userskill_skillid}}
               </div>
               <!-- <div class="tag" *ngFor="let ans of CandidateSkillsDashboard let i=index;"> {{ans.userskill_skillid}} -->
               <!-- <span *ngFor="let compaire_candidate of comparision_skill">
                  <span *ngIf="ans.userskill_skillid !== compaire_candidate.userskill_skillid;">
                      
                      <input id="checkbox-{{ans.userskill_id}}"  class="checkbox-custom" name="checkbox-{{ans.userskill_id}}" type="checkbox" >
                      <label for="checkbox-{{ans.userskill_id}}" class="checkbox-custom-label" ></label>
                   </span>
                   <span *ngIf="ans.userskill_skillid == compaire_candidate.userskill_skillid;">
                       
                      <input id="checkbox-{{ans.userskill_id}}"  class="checkbox-custom" name="checkbox-{{ans.userskill_id}}" type="checkbox" checked>
                      <label for="checkbox-{{ans.userskill_id}}" class="checkbox-custom-label" ></label>
                   </span>
                  </span> -->
               <!-- </div> -->
            </div>
            <!-- <div class="dashboard_title_subtitle">
               <h1>IN Ihrer Branche</h1>
               <h2><strong>90%</strong> verdienen mehr<br/>
                  <strong>10%</strong> verdienen weniger<br/><br/>
                  In <strong>München</strong> haben Sie die
                  beste Verdienstmöglichkeiten.
               </h2>
               </div> -->
         </div>
      </div>
      <a class="fa fa-angle-right" aria-hidden="true"></a>
      <div class="statusbox">
         <h3><span class="left" translate>goal</span> <span class="txtsmall" translate>referral</span></h3>
         <div class="dashboard_statusbox">
            <div class="dashboard_photo">
               <img src="{{basePath}}/{{comparisionimgPath}}" onerror="this.src='assets/images/avatar.png'" alt="">
            </div>
            <div class="dashboard_txtbox">
               <h4> {{comparision_name}} </h4>
               <h5>{{comparision_avg}} €</h5>
            </div>
            <div class="dashboard_title_subtitle">
               <h1 translate>experience</h1>
               <h2>{{comparision_profession}} - {{comparision_experience}}</h2>
            </div>
            <div class="skillsbox">
               <h1 translate>skills</h1>
            </div>
            <div class="tagwrap">
               <div class="tag" *ngFor="let ans of comparision_skill" >{{ans.userskill_skillid}}
                  <input id="checkbox-{{ans.userskill_id}}" class="checkbox-custom" name="checkbox--{{ans.userskill_id}}" type="checkbox" checked="checked"> 
                  <label for="checkbox-{{ans.userskill_id}}" class="checkbox-custom-label"></label>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>