<div class="container" id="tab1C">
   <div class="dashboardwrap">
      <div class="dashboardtitle">
         <h1 translate>setttings</h1>
      </div>
   </div>
   <div class="dashboardboxouterwrap">
      <div class="rightlistbox">
         <div class="settingboxwrap minheight">
            <h3><img src="assets/images/lock.svg" alt=""> <span class="left" translate>Safety and security</span></h3>
            <form [formGroup]="saftyForm" (ngSubmit)="SubmitData(saftyForm.value)">
            <div class="settingform safety">
               <div class="row">
                  <label translate>Password current</label>
                  <input type="password" formControlName="oldPass" name="" placeholder="********">
                  <div *ngIf="saftyForm.controls['oldPass'].touched">
                     <span *ngIf="saftyForm.controls['oldPass'].hasError('required')" translate>Current password mandatory field</span>
                  </div>
               </div>
               <div class="row">
                  <label translate>password new</label>
                  <input type="password" formControlName="newPass" name="" placeholder="********" [(ngModel)]="account.password" >
                  <div *ngIf="saftyForm.controls['newPass'].touched">
                     <span  class="error" *ngIf="saftyForm.controls['newPass'].hasError('required')" translate>New Password Mandatory</span>
                  </div>
               </div>
               <div class="row">
                  <label translate>Repeat password</label>
                  <input type="password" formControlName="confirmPass" name="" placeholder="********">
                  <div *ngIf="saftyForm.controls['confirmPass'].touched">
                     <span  class="error" *ngIf="saftyForm.controls['confirmPass'].hasError('required') " translate>Repeat password Mandatory</span>
                  </div>
               </div>
            </div>
            <div class="row">
               <app-password-strength-bar [passwordToCheck]="account.password" [barLabel]="barLabel"></app-password-strength-bar>  
               
            </div>
            <div class="row">
               <span class="success" *ngIf="successmsg" translate>safty_successmsg</span>
               <span class="success" *ngIf="errmsg" translate>safty_errormsg</span>
               <span class="success" *ngIf="oldpassword_mismatch" translate>oldpassword mismatch</span>
            </div>
            <input type="Submit" name="" [disabled]="!saftyForm.valid" class="settingform_btn" value="{{'change' | translate}}">
            </form>
         </div>
      </div>
   </div>
</div>