<div class="mainbody">
  <div class="desktop">
     <div class="leftouterwrap">
        <div class="leftouterwrap_top">
           <div class="logowrap">
              <div class="logo">
                 <img src="assets/images/logo.svg" alt="">
              </div>
           </div>
           
        </div>
       
     </div>
     <div class="rightouterwrap">
        <div class="rightwrap">
           <div class="signup_title">
              <div class="signup_title_icon">
                 <img src="assets/images/slectedLogoIcon.svg" alt="">
              </div>
              <div class="signup_title_text">
                 <h6 >Admin Login</h6>
                 
              </div>
           </div>
           <div class="signupformwrap">
            <form [formGroup]='passwordForm' (ngSubmit)="PostData(passwordForm.value)" novalidate autocomplete="off">
              <div class="formrow">
                 <input type="text" name="email" formControlName="email" class="input-text" placeholder="Email">
                 <label class="label-helper">Email</label>
              </div>
              
              <div class="formrow">
                 <input type="password" name="password" formControlName="password" placeholder="Password" class="input-text input-1" required>
                 <label class="label-helper">Password</label>
              </div>
              
              <!-- <div class="progress-bar_text">Password is blank</div> -->
              <!-- <span *ngIf="signUpForm.controls['password'].hasError('required')" class="progress-bar_text">Enter valid password.</span> -->
             
              <input type="submit" name="submit" value="GO" class="btn2">
              </form>
              <div class="row">
               <span class="success" *ngIf="errmsg" translate>Login Fail Please try again.</span>
               
            </div>
            
           </div>
        </div>
        
     </div>
  </div>
 
</div>