.mainbody {
    width: 100%;
    margin: 0 auto;
    display: table;
}
.maincontainer {
    /* width: 98%; */
    float: left;
    background: transparent linear-gradient(137deg, #FFFFFF 0%, #E4E9F5 100%) 0% 0% no-repeat;
    box-shadow: 12px 20px 40px #084F7F29;
    border-radius: 20px;
    margin-bottom: 47px;
    overflow: hidden;
  }
  .innerwrap-right {
    width: 100%; 
    /* height: auto; */
    /* float: left;*/
}
.dashboardboxouterwrap {
    width: 95%;
    padding: 20px 30px 50px 30px;
    float: left;
    background: transparent linear-gradient(137deg, #FFFFFF 0%, #E4E9F5 100%) 0% 0% no-repeat;
    /* box-shadow: 12px 20px 40px #084F7F29; */
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.dashboardwrap {
    width: 1280px;
    padding: 23px 30px 23px 30px;
    float: left;
    background-color: rgba(198, 199, 200, 0.1);
}
  .statusbox {
    width: 93%;
    min-height: 503px;
    border-left: 10px solid #e6eaf5;
    padding: 16px 30px 0px 22px;
    border-radius: 10px;
    box-shadow: 12px 12px 15px 0 rgba(8, 79, 127, 0.06);
    background-color: #ffffff;
    /* float: left; */
}
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #243f8761;
    color: white;
  }