<div class="pagewrapper bluegrdbg">
  <div class="mainbody">
    <div class="innerwrap">
        
      <div class="innerwrap-right">
        <ul id="tabs">
          <li><a routerLink="/admin/dashboard" routerLinkActive="tabactive">Dashboard</a></li>
          <li><a (click)="logout()">Logout</a></li>
       </ul>
<div class="maincontainer" id="tab1C">
  <div class="dashboardwrap">
     <div class="dashboardtitle">
        <h1>Dashboard</h1>
     </div>
  </div>
  <div class="dashboardboxouterwrap">
     <div class="statusbox">
        <h3><span class="left" translate>Registered User ({{ngOfusers}})</span></h3>
        <div class="dashboard_statusbox">
          <table width="100%" id="customers">
          <tr>
            <th>Sr. No</th>
             <th>Name</th>
             <th>Email</th>
             <th>DOB</th>
             <th>Salary</th>
          </tr>
          <tr *ngFor="let ans of listofUsers; let i = index">
             <td>{{i+1}}</td>
             <td>{{ans.user_name}}</td>
             <td>{{ans.user_email}}</td>
             <td>{{ans.user_bob | date}}</td>
             <td>{{ans.user_salary}}</td>

          </tr>

          </table>
        </div>
     </div>
     
    
  </div>
</div>
</div>
</div>
</div>
</div>
