<div class="mainbody">
   <div class="desktop">
      <div class="leftouterwrap">
         <div class="leftouterwrap_top">
            <div class="logowrap">
               <div class="logo">
                  <img src="assets/images/logo.svg" alt="">
               </div>
            </div>
            <div class="leftwrap">
               <h1 translate>Recognize<br/>your worth</h1>
               <h2 class="secondtxt" translate>Only three steps</h2>
               <p class="mrgntop20" translate>Compare the values in your industry</p>
            </div>
         </div>
         <app-beforelogin-footer></app-beforelogin-footer>
      </div>
      <div class="rightouterwrap">
         <div class="rightwrap">
            <div class="signup_title">
               <div class="signup_title_icon">
                  <img src="assets/images/slectedLogoIcon.svg" alt="">
               </div>
               <div class="signup_title_text">
                  <h6 translate>New Account</h6>
                  <p translate>Create</p>
               </div>
            </div>
            <div class="signupformwrap">
               <form [formGroup]="signUpForm" (ngSubmit)="PostData(signUpForm.value)" novalidate autocomplete="off" class="form-1">
               <div class="formrow">
                  <input type="text" name="userName" class="input-text" placeholder="{{'fullname' | translate}}" formControlName="userName" >
                  <label class="label-helper">{{'fullname' | translate}}</label>
               </div>
               <div *ngIf="signUpForm.controls['userName'].touched && signUpForm.controls['userName'].invalid" class="validerror">
                  <span *ngIf="signUpForm.controls['userName'].hasError('required') " translate>Give first name and surname.</span>
               </div>
               <div *ngIf="signUpForm.controls['userName'].touched && signUpForm.controls['userName'].invalid" class="validerror">
                  <span *ngIf="signUpForm.controls['userName'].hasError('pattern') " translate>Invalid Name</span>
               </div>
               <div class="formrow">
                  <input type="password" name="password" placeholder="Password" class="input-text input-1" formControlName="password"
                  [(ngModel)]="account.password" required>
                  <label class="label-helper">Password</label>
               </div>
               <div *ngIf="signUpForm.controls['password'].touched && signUpForm.controls['password'].invalid" class="validerror">
                  <span *ngIf="signUpForm.controls['password'].hasError('required')" translate>Enter a valid password</span>
               </div>
               <!-- <div class="progress-bar_text">Password is blank</div> -->
               <!-- <span *ngIf="signUpForm.controls['password'].hasError('required')" class="progress-bar_text">Enter valid password.</span> -->
               <app-password-strength-bar [passwordToCheck]="account.password" [barLabel]="barLabel"></app-password-strength-bar>  
               <div class="formrow">
                  <div style="position: relative; float: left;">
                     <input type="checkbox" name="privacyPolicy" placeholder="Password" value="accepts" formControlName="privacyPolicy" class="styled-checkbox">
                     <label></label>
                  </div>
                  <div style="float: left;">
                     <label translate onclick="location.href='/dataprotect'">policy Acceptance</label>
                     <label class="colorgray" translate>Accept the explanation</label>
                  </div>
                  <div *ngIf="signUpForm.controls['privacyPolicy'].touched && signUpForm.controls['privacyPolicy'].invalid">
                     <span *ngIf="signUpForm.controls['privacyPolicy'].hasError('required') " translate>
                     <a href="/dataprotect" translate>Accept our privacy policy</a></span>
                  </div>
                  <span>{{msg}} </span>
               </div>
               <input type="submit" name="submit" [disabled]="!signUpForm.valid" value="{{'MORE' | translate}}" class="btn">
               </form>
               <div class="oder">
                  <div class="odertxt" translate>or</div>
               </div>
               <!-- <div class="xing_linkedin_outerwrap">
                  <a class="xing">
                  <img src="assets/images/xingSignUpButton.svg" alt="">
                  </a>
                  <a class="linkedin">
                  <img src="assets/images/linkedInSignUpButton.svg" alt="">
                  </a>
                  </div> -->
               <div class="loginwrap">
                  <a routerLink="/sign-up"><i class="fa fa-arrow-left" aria-hidden="true"></i> LOGIN</a>
               </div>
            </div>
         </div>
         <app-rightside-footer></app-rightside-footer>
      </div>
   </div>
   <div class="mobile mobbg">
      <div class="rightouterwrap">
         <div class="logowrap">
            <div class="logo">
               <img src="assets/images/logo.svg" alt="">
            </div>
         </div>
         <div class="rightwrap">
            <div class="signup_title">
               <div class="signup_title_icon">
                  <img src="assets/images/slectedLogoIcon.svg" alt="">
               </div>
               <div class="signup_title_text">
                  <h6 translate>New Account</h6>
                  <p translate>Create</p>
               </div>
            </div>
            <div class="signupformwrap">
               <form [formGroup]="signUpForm" (ngSubmit)="PostData(signUpForm.value)" novalidate autocomplete="off" class="form-1">
               <div class="formrow">
                  <input type="text" name="userName" class="input-text" placeholder="{{'fullname' | translate}}" formControlName="userName" >
                  <label class="label-helper">{{'fullname' | translate}}</label>
               </div>
               <div *ngIf="signUpForm.controls['userName'].touched && signUpForm.controls['userName'].invalid" class="validerror">
                  <span *ngIf="signUpForm.controls['userName'].hasError('required') " translate>Give first name and surname.</span>
               </div>
               <div *ngIf="signUpForm.controls['userName'].touched && signUpForm.controls['userName'].invalid" class="validerror">
                  <span *ngIf="signUpForm.controls['userName'].hasError('pattern') " translate>Invalid Name</span>
               </div>
               <div class="formrow">
                  <input type="password" name="password" placeholder="Password" class="input-text input-1" formControlName="password"
                  [(ngModel)]="account.password" required>
                  <label class="label-helper">Password</label>
               </div>
               <div *ngIf="signUpForm.controls['password'].touched && signUpForm.controls['password'].invalid" class="validerror">
                  <span *ngIf="signUpForm.controls['password'].hasError('required')" translate>Enter a valid password</span>
               </div>
               <!-- <div class="progress-bar_text">Password is blank</div> -->
               <!-- <span *ngIf="signUpForm.controls['password'].hasError('required')" class="progress-bar_text">Enter valid password.</span> -->
               <app-password-strength-bar [passwordToCheck]="account.password" [barLabel]="barLabel"></app-password-strength-bar>  
               <div class="formrow">
                  <div style="position: relative; float: left;">
                     <input type="checkbox" name="privacyPolicy" placeholder="Password" value="accepts" formControlName="privacyPolicy" class="styled-checkbox">
                     <label></label>
                  </div>
                  <div style="float: left;">
                     <label translate onclick="location.href='/dataprotect'">policy Acceptance</label>
                     <label class="colorgray" translate>Accept the explanation</label>
                  </div>
                  <div *ngIf="signUpForm.controls['privacyPolicy'].touched && signUpForm.controls['privacyPolicy'].invalid">
                     <span *ngIf="signUpForm.controls['privacyPolicy'].hasError('required') " translate>
                     <a href="/dataprotect" translate>Accept our privacy policy</a></span>
                  </div>
                  <span>{{msg}} </span>
               </div>
               <input type="submit" name="submit" [disabled]="!signUpForm.valid" value="{{'MORE' | translate}}" class="btn">
               </form>
               <div class="oder">
                  <div class="odertxt" translate>or</div>
               </div>
               <!-- <div class="xing_linkedin_outerwrap">
                  <a class="xing">
                  <img src="assets/images/xingSignUpButton.svg" alt="">
                  </a>
                  <a class="linkedin">
                  <img src="assets/images/linkedInSignUpButton.svg" alt="">
                  </a>
                  </div> -->
               <div class="loginwrap">
                  <a routerLink="/sign-up"><i class="fa fa-arrow-left" aria-hidden="true"></i> LOGIN</a>
               </div>
            </div>
         </div>
      </div>
      <div class="leftouterwrap">
         <div class="leftouterwrap_top">
            <div class="leftwrap">
               <h1 translate>Recognize<br/>your worth</h1>
               <h2 class="secondtxt" translate>Only three steps</h2>
               <p class="mrgntop20" translate>Compare the values in your industry</p>
            </div>
         </div>
         <app-beforelogin-footer></app-beforelogin-footer>
      </div>
   </div>
</div>