<div class="mainbody">
   <div class="desktop">
      <div class="leftouterwrap">
         <div class="leftouterwrap_top">
            <div class="logowrap">
               <div class="logo">
                  <img src="assets/images/logo.svg" alt="">
               </div>
            </div>
            <div class="leftwrap">
               <h1>Erkennen <br/>Deinen Wert</h1>
               <h2 class="firsttxt">Steigern<br/>Deine Chancen!</h2>
               <div class="visibility">
                  <span class="txtsmall">Slected hat eine Lösung Entwickelt</span>
                  <p translate>singup content</p>
                  <a class="whtbtn" href="/yourvalue" translate>Learn more</a>
               </div>
            </div>
         </div>
         <app-beforelogin-footer></app-beforelogin-footer>
      </div>
      <div class="rightouterwrap">
         <div class="rightwrap">
            <div class="signup_title">
               <div class="signup_title_icon">
                  <img src="assets/images/slectedLogoIcon.svg" alt="">
               </div>
               <div class="signup_title_text">
                  <h6 translate>Welcome</h6>
                  <p>LOGIN</p>
               </div>
               <div class="userprofile"><span translate>Hello</span>, {{userFullName}}</div>
            </div>
            <div class="signupformwrap padd82">
               <form [formGroup]='passwordForm' (ngSubmit)="PostData(passwordForm.value)" novalidate autocomplete="off">
               <div class="formrow">
                  <input type="password" formControlName="password" class="input-text" name="password" placeholder="password">
                  <label class="label-helper">Password</label>
                  <div *ngIf="passwordForm.controls['password'].touched">
                     <span *ngIf="passwordForm.controls['password'].hasError('required') " translate>Enter a valid password</span>
                  </div>
                  
                     <span class="success" *ngIf="errmsg" translate>invalid_login</span>
                  
               </div>
               <div class="afterloginbtngrp">
                  <div class="otherloginwrap">
                     <a routerLink="/sign-up" translate><i class="fa fa-arrow-left" aria-hidden="true" ></i>back</a>
                  </div>
                  <input type="submit" name="submit" [disabled]="!passwordForm.valid" value="GO" class="btn2">
               </div>
               </form>
               <!-- <div class="oder">
                  <div class="odertxt" translate>or</div>
                  </div>
                  <div class="xing_linkedin_outerwrap">
                  <a class="xing">
                  <img src="assets/images/xingSignUpButton.svg" alt="">
                  </a>
                  <a class="linkedin">
                  <img src="assets/images/linkedInSignUpButton.svg" alt="">
                  </a>
                  </div> -->
               <div class="loginwrap">
                  <!-- <span class="txtgray">Password Vergessen</span> -->
                  <a routerLink="/forgotpassword" translate><i class="fa fa-arrow-left" aria-hidden="true"></i>Password Forgotten</a>
               </div>
            </div>
         </div>
         <app-rightside-footer></app-rightside-footer>
      </div>
   </div>
   <div class="mobile mobbg">
      <div class="rightouterwrap">
         <div class="logowrap">
            <div class="logo">
               <img src="assets/images/logo.svg" alt="">
            </div>
         </div>
         <div class="rightwrap">
            <div class="signup_title">
               <div class="signup_title_icon">
                  <img src="assets/images/slectedLogoIcon.svg" alt="">
               </div>
               <div class="signup_title_text">
                  <h6 translate>Welcome</h6>
                  <p>LOGIN</p>
               </div>
               <div class="userprofile"><span translate>Hello</span>, {{userFullName}}</div>
            </div>
            <div class="signupformwrap padd82">
               <form [formGroup]='passwordForm' (ngSubmit)="PostData(passwordForm.value)" novalidate autocomplete="off">
               <div class="formrow">
                  <input type="password" formControlName="password" class="input-text" name="password" placeholder="password">
                  <label class="label-helper">Password</label>
                  <div *ngIf="passwordForm.controls['password'].touched">
                     <span *ngIf="passwordForm.controls['password'].hasError('required') " translate>Enter a valid password</span>
                  </div>
                  <span>{{msg}}</span>
               </div>
               <div class="afterloginbtngrp">
                  <div class="otherloginwrap">
                     <a routerLink="/sign-up" translate><i class="fa fa-arrow-left" aria-hidden="true" ></i>back</a>
                  </div>
                  <input type="submit" name="submit" [disabled]="!passwordForm.valid" value="GO" class="btn2">
               </div>
               </form>
               <!-- <div class="oder">
                  <div class="odertxt" translate>or</div>
                  </div>
                  <div class="xing_linkedin_outerwrap">
                  <a class="xing">
                  <img src="assets/images/xingSignUpButton.svg" alt="">
                  </a>
                  <a class="linkedin">
                  <img src="assets/images/linkedInSignUpButton.svg" alt="">
                  </a>
                  </div> -->
               <div class="loginwrap">
                  <!-- <span class="txtgray">Password Vergessen</span> -->
                  <a routerLink="/forgotpassword" translate><i class="fa fa-arrow-left" aria-hidden="true"></i>Password Forgotten</a>
               </div>
            </div>
         </div>
         <!-- <app-rightside-footer></app-rightside-footer> -->
      </div>
      <div class="leftouterwrap">
         <div class="leftouterwrap_top">
            <div class="leftwrap">
               <h1>Erkennen <br/>Sie Ihren Wert.</h1>
               <h2 class="secondtxt">Steigere<br/>Deine Chancen!</h2>
               <p class="mrgntop20">Anhand Ihres Lebenslaufs ermitteln wir Ihren Wert. Unsere Anwendung nimmt Ihnen den Stress und gibt Ihnen die Sicherheit auf den Arbeitsmarkt.</p>
               <a class="whtbtn" translate>Learn more</a>
            </div>
         </div>
         <app-beforelogin-footer></app-beforelogin-footer>
      </div>
   </div>
</div>