.maincontainer {
    width: 658px;
    float: left;
    background: transparent linear-gradient(137deg, #FFFFFF 0%, #E4E9F5 100%) 0% 0% no-repeat;
    box-shadow: 12px 20px 40px #084F7F29;
    border-radius: 20px;
    margin-bottom: 47px;
    overflow: hidden;
  }