<div class="maincontainer" id="tab1C">
   <div class="dashboardwrap">
      <div class="dashboardtitle">
         <h1>Dashboard</h1>
      </div>
   </div>
   <div class="dashboardboxouterwrap">
      <div class="statusbox">
         <h3><span class="left" translate>Status</span> <span class="txtsmall" translate>you</span></h3>
         <div class="dashboard_statusbox">
            <div class="dashboard_photo">
               <!-- <img src="http://localhost:3000/{{imgPath}}" onerror="this.src='assets/images/avatar.png'" alt=""> -->
               <img src="{{basePath}}/{{imgPath}}" onerror="this.src='assets/images/avatar.png'" alt="">
            </div>
            <div class="dashboard_txtbox">
               <h4 translate>Values</h4>
               <h5> {{rating_avg}} €</h5>
            </div>
            <div class="dashboard_title_subtitle">
               <h1 translate>experience</h1>
               <h2>
                  {{profession}} - {{experience }} <!--Monate-->
               </h2>
            </div>
            <div class="skillsbox">
               <h1 translate>skills</h1>
            </div>
            <div class="tagwrap">
               <div class="tag" *ngFor="let ans of CandidateSkillsDashboard"> {{ans.userskill_skillid}}
                  <input id="checkbox-{{ans.userskill_id}}" class="checkbox-custom" name="checkbox-{{ans.userskill_id}}" type="checkbox" checked="checked">
                  <label for="checkbox-{{ans.userskill_id}}" class="checkbox-custom-label"></label>
               </div>
            </div>
            <!-- <div class="dashboard_title_subtitle">
               <h1>IN Ihrer Branche</h1>
               <h2><strong>90%</strong> verdienen mehr<br/>
                  <strong>10%</strong> verdienen weniger<br/><br/>
                  In <strong>München</strong> haben Sie die
                  beste Verdienstmöglichkeiten.
               </h2>
               </div> -->
         </div>
      </div>
      <a class="fa fa-angle-right" aria-hidden="true"></a>
      <!-- <div class="statusbox">
         <h3><span class="left">Ziel</span> <span class="txtsmall">Empfehlung</span></h3>
         <div class="dashboard_statusbox">
            <div class="dashboard_photo">
               <img src="assets/images/pp.jpg" alt="">
            </div>
            <div class="dashboard_txtbox">
               <h4>Jane Doe</h4>
               <h5>88.888 €</h5>
            </div>
            <div class="dashboard_title_subtitle">
               <h1>Erfahrung</h1>
               <h2>Experte - 10 Jahre</h2>
            </div>
            <div class="skillsbox">
               <h1>Skills</h1>
            </div>
            <div class="tagwrap">
               <div class="tag">Skill 01
                  <input id="checkbox-5" class="checkbox-custom" name="checkbox-5" type="checkbox">
                  <label for="checkbox-5" class="checkbox-custom-label"></label>
               </div>
               <div class="tag">Skill 02
                  <input id="checkbox-6" class="checkbox-custom" name="checkbox-6" type="checkbox">
                  <label for="checkbox-6" class="checkbox-custom-label"></label>
               </div>
               <div class="tag"><span class="tagtxt">Skill n-01</span>
                  <input id="checkbox-7" class="checkbox-custom" name="checkbox-7" type="checkbox">
                  <label for="checkbox-7" class="checkbox-custom-label"></label>
               </div>
               <div class="tag">Skill n-02
                  <input id="checkbox-8" class="checkbox-custom" name="checkbox-8" type="checkbox">
                  <label for="checkbox-8" class="checkbox-custom-label"></label>
               </div>
               <div class="tag">Skill n
                  <input id="checkbox-9" class="checkbox-custom" name="checkbox-9" type="checkbox">
                  <label for="checkbox-9" class="checkbox-custom-label"></label>
               </div>
            </div>
         </div>
         </div> -->
   </div>
</div>