<div class="mainbody">
   <div class="desktop">
      <div class="leftouterwrap">
         <div class="leftouterwrap_top">
            <div class="logowrap">
               <div class="logo">
                  <img src="assets/images/logo.svg" alt="">
               </div>
            </div>
            <div class="leftwrap">
               <h1 translate>Recognize<br/>your worth</h1>
               <h2 class="secondtxt" translate>Only three steps</h2>
            </div>
         </div>
         <app-beforelogin-footer></app-beforelogin-footer>
      </div>
      <div class="rightouterwrap">
         <div class="rightwrap">
            <div class="signup_title">
               <div class="signup_title_icon">
                  <img src="assets/images/slectedLogoIcon.svg" alt="">
               </div>
               <div class="signup_title_text">
                  <h6 translate>New Password</h6>
                  <p translate>sent</p>
               </div>
               <div class="userprofile" translate>reset password msg</div>
            </div>
            <div class="signupformwrap padd82">
               <a class="btn" routerLink="/sign-up"><i class="fa fa-arrow-left" aria-hidden="true"></i> LOGIN</a>
               <div class="oder">
                  <div class="odertxt" translate>
                     or
                  </div>
               </div>
               <!-- <div class="xing_linkedin_outerwrap">
                  <a class="xing">
                  <img src="assets/images/xingSignUpButton.svg" alt="">
                  </a>
                  <a class="linkedin">
                  <img src="assets/images/linkedInSignUpButton.svg" alt="">
                  </a>
                  </div> -->
               <div class="loginwrap">
                  <span class="txtgray" translate>Password Forgotten</span>
                  <!-- <a routerLink="/sign-up"><i class="fa fa-arrow-left" aria-hidden="true"></i> LOGIN</a> -->
               </div>
            </div>
         </div>
         <app-rightside-footer></app-rightside-footer>
      </div>
   </div>
   <div class="mobile mobbg">
      <div class="rightouterwrap">
         <div class="logowrap">
            <div class="logo">
               <img src="assets/images/logo.svg" alt="">
            </div>
         </div>
         <div class="rightwrap">
            <div class="signup_title">
               <div class="signup_title_icon">
                  <img src="assets/images/slectedLogoIcon.svg" alt="">
               </div>
               <div class="signup_title_text">
                  <h6 translate>New Password</h6>
                  <p translate>sent</p>
               </div>
               <div class="userprofile" translate>reset password msg</div>
            </div>
            <div class="signupformwrap padd82">
               <a class="btn" routerLink="/sign-up"><i class="fa fa-arrow-left" aria-hidden="true"></i> LOGIN</a>
               <div class="oder">
                  <div class="odertxt" translate>or</div>
               </div>
               <!-- <div class="xing_linkedin_outerwrap">
                  <a class="xing">
                  <img src="assets/images/xingSignUpButton.svg" alt="">
                  </a>
                  <a class="linkedin">
                  <img src="assets/images/linkedInSignUpButton.svg" alt="">
                  </a>
                  </div> -->
               <div class="loginwrap">
                  <span class="txtgray" translate>Password Forgotten</span>
                  <!-- <a routerLink="/sign-up"><i class="fa fa-arrow-left" aria-hidden="true"></i> LOGIN</a> -->
               </div>
            </div>
         </div>
         <!-- <app-rightside-footer></app-rightside-footer> -->
      </div>
      <div class="leftouterwrap">
         <div class="leftouterwrap_top">
            <div class="leftwrap">
               <h1 translate>Recognize<br/>your worth</h1>
               <h2 class="secondtxt" translate>Only three steps</h2>
            </div>
         </div>
         <app-beforelogin-footer></app-beforelogin-footer>
      </div>
   </div>
</div>