
.ng5-slider {
    display: inline-block;
    position: relative;
    height: 4px;
    width: 43.9091%;
    margin: 10px 0 0px;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: pan-y;
  }
  
  .ng5-slider.with-legend {
    margin-bottom: 40px;
  }
  
  .ng5-slider[disabled] {
    cursor: not-allowed;
  }
  
  .ng5-slider[disabled] .ng5-slider-pointer {
    cursor: not-allowed;
    background-color: #d8e0f3;
  }
  
  .ng5-slider[disabled] .ng5-slider-draggable {
    cursor: not-allowed;
  }
  
  .ng5-slider[disabled] .ng5-slider-selection {
    background: #8b91a2;
  }
  
  .ng5-slider[disabled] .ng5-slider-tick {
    cursor: not-allowed;
  }
  
  .ng5-slider[disabled] .ng5-slider-tick.ng5-slider-selected {
    background: #8b91a2;
  }
  
  .ng5-slider .ng5-slider-span {
    white-space: nowrap;
    position: absolute;
    display: inline-block;
  }
  .ng5-slider-model-value, .ng5-slider-model-high{ visibility: hidden !important;}
  
  .ng5-slider .ng5-slider-base {
    width: 100%;
    height: 100%;
    padding: 0;
  }
  
  .ng5-slider .ng5-slider-bar-wrapper {
    left: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: -16px;
    padding-top: 16px;
    width: 100%;
    height: 32px;
    z-index: 1;
  }
  
  .ng5-slider .ng5-slider-draggable {
    cursor: move;
  }
  
  .ng5-slider .ng5-slider-bar {
    left: 0;
    width: 100%;
    height: 4px;
    z-index: 1;
    background: #d8e0f3;
    border-radius: 2px;
  }
  
  .ng5-slider .ng5-slider-bar-wrapper.ng5-slider-transparent .ng5-slider-bar {
    background: 0 0;
  }
  
  .ng5-slider .ng5-slider-bar-wrapper.ng5-slider-left-out-selection .ng5-slider-bar {
    background: #df002d;
  }
  
  .ng5-slider .ng5-slider-bar-wrapper.ng5-slider-right-out-selection .ng5-slider-bar {
    background: #03a688;
  }
  
  .ng5-slider .ng5-slider-selection {
    z-index: 2;
    background: red;
    border-radius: 2px;
  }
  
  .ng5-slider .ng5-slider-pointer {
    cursor: pointer;
    width: 5px !important;
    height: 20px !important;
    top: -8px !important;
    background-color: #084F7F !important;
    z-index: 3;
  }
  
  .ng5-slider .ng5-slider-pointer:after {
    content: "";
    width: 5px !important;
    height: 20px !important;
    position: absolute;
    top: 0px !important;
    left: 0px !important;
    background: transparent !important;
  }
  
  .ng5-slider .ng5-slider-pointer:hover:after {
    background-color: transparent !important;
  }
  
  .ng5-slider .ng5-slider-pointer.ng5-slider-active {
    z-index: 4;
  }
  
  .ng5-slider .ng5-slider-pointer.ng5-slider-active:after {
    background-color: #df002d;
  }
  
  .ng5-slider .ng5-slider-bubble {
    cursor: default;
    bottom: 16px;
    padding: 1px 3px;
    color: #55637d;
    font-size: 16px;
  }
  
  .ng5-slider .ng5-slider-bubble.ng5-slider-limit {
    color: #55637d;
  }
  
  .ng5-slider .ng5-slider-ticks {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 0;
    position: absolute;
    left: 0;
    top: -3px;
    margin: 0;
    z-index: 1;
    list-style: none;
  }
  
  .ng5-slider .ng5-slider-ticks-values-under .ng5-slider-tick-value {
    top: auto;
    bottom: -36px;
  }
  
  .ng5-slider .ng5-slider-tick {
    text-align: center;
    cursor: pointer;
    width: 10px;
    height: 10px;
    background: #d8e0f3;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 11px;
  }
  
  .ng5-slider .ng5-slider-tick.ng5-slider-selected {
    background: #0db9f0;
  }
  
  .ng5-slider .ng5-slider-tick-value {
    position: absolute;
    top: -34px;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  
  .ng5-slider .ng5-slider-tick-legend {
    position: absolute;
    top: 24px;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    max-width: 50px;
    white-space: normal;
  }
  
  .ng5-slider.vertical {
    position: relative;
    width: 4px;
    height: 100%;
    margin: 0 20px;
    padding: 0;
    vertical-align: baseline;
    -ms-touch-action: pan-x;
    touch-action: pan-x;
  }
  
  .ng5-slider.vertical .ng5-slider-base {
    width: 100%;
    height: 100%;
    padding: 0;
  }
  
  .ng5-slider.vertical .ng5-slider-bar-wrapper {
    top: auto;
    left: 0;
    margin: 0 0 0 -16px;
    padding: 0 0 0 16px;
    height: 100%;
    width: 32px;
  }
  
  .ng5-slider.vertical .ng5-slider-bar {
    bottom: 0;
    left: auto;
    width: 4px;
    height: 100%;
  }
  
  .ng5-slider.vertical .ng5-slider-pointer {
    left: -14px !important;
    top: auto;
    bottom: 0;
  }
  
  .ng5-slider.vertical .ng5-slider-bubble {
    left: 16px !important;
    bottom: 0;
  }
  
  .ng5-slider.vertical .ng5-slider-ticks {
    height: 100%;
    width: 0;
    left: -3px;
    top: 0;
    z-index: 1;
  }
  
  .ng5-slider.vertical .ng5-slider-tick {
    vertical-align: middle;
    margin-left: auto;
    margin-top: 11px;
  }
  
  .ng5-slider.vertical .ng5-slider-tick-value {
    left: 24px;
    top: auto;
    -webkit-transform: translate(0, -28%);
    transform: translate(0, -28%);
  }
  
  .ng5-slider.vertical .ng5-slider-tick-legend {
    top: auto;
    right: 24px;
    -webkit-transform: translate(0, -28%);
    transform: translate(0, -28%);
    max-width: none;
    white-space: nowrap;
  }
  
  .ng5-slider.vertical .ng5-slider-ticks-values-under .ng5-slider-tick-value {
    bottom: auto;
    left: auto;
    right: 24px;
  }
  
  .ng5-slider * {
    -webkit-transition: none;
    transition: none;
  }
  
  .ng5-slider.animate .ng5-slider-bar-wrapper {
    -webkit-transition: all linear 0.3s;
    transition: all linear 0.3s;
  }
  
  .ng5-slider.animate .ng5-slider-selection {
    -webkit-transition: background-color linear 0.3s;
    transition: background-color linear 0.3s;
  }
  
  .ng5-slider.animate .ng5-slider-pointer {
    -webkit-transition: all linear 0.3s;
    transition: all linear 0.3s;
  }
  
  .ng5-slider.animate .ng5-slider-bubble {
    -webkit-transition: all linear 0.3s;
    transition: all linear 0.3s;
  }
  
  .ng5-slider.animate .ng5-slider-bubble.ng5-slider-limit {
    -webkit-transition: opacity linear 0.3s;
    transition: opacity linear 0.3s;
  }
  
  .ng5-slider.animate .ng5-slider-bubble.ng5-slider-combined {
    -webkit-transition: opacity linear 0.3s;
    transition: opacity linear 0.3s;
  }
  
  .ng5-slider.animate .ng5-slider-tick {
    -webkit-transition: background-color linear 0.3s;
    transition: background-color linear 0.3s;
  }
  .ng5-slider-combined,.ng5-slider-ceil,.ng5-slider-floor {display:none !important;}
  /* .ng-autocomplete {
    width: 546px !important;
}
.autocomplete-container .input-container input {
  font-size: 14px;
  box-sizing: border-box;
  border: none;
  box-shadow: none;
  outline: 0;
  background-color: #fff;
  color: rgba(0,0,0,.87);
  width: 30% !important;
  padding: 0 15px;
  line-height: 40px;
  height: 32px !important;
}
.autocomplete-container .suggestions-container.is-visible {
visibility: visible;
margin-top: 30px !important;
border-radius: 10% !important;
border-top-left-radius: 0px !important ; 
border-top-right-radius: 0px !important;
}
.autocomplete-container .suggestions-container{width: 30% !important; left:8px !important; top:0px !important; box-shadow: 0 !important; background: #f2f9fc !important;}
.autocomplete-container {
box-shadow: 0 !important;
position: relative !important;
overflow: visible !important;
height: 0px !important;
}
.searchbox input:focus {
border-radius: 20px;
border-bottom-right-radius: 0;
border-bottom-left-radius: 0;
}*/
.autocomplete-container .suggestions-container ul li a
{
font-family: 'Montserrat', sans-serif !important;
font-size: 13px !important;
padding: 5px 15px !important;
}  
.settingform3 .error{
  font-size: 9px !important;
  line-height: 16px !important;
  color: #4b4b4d !important;
  float: right !important;
  width: 188px !important;
  margin-right: 90px !important;
  font-weight: 600 !important;
}
.settingform2 .error{
  font-size: 9px !important;
  line-height: 16px !important;
  color: #4b4b4d !important;
  float: right !important;
  width: 210px !important;
  margin-right: 90px !important;
  font-weight: 600 !important;
}
/* .settingform .error{
  font-size: 9px !important;
  line-height: 16px !important;
  color: #4b4b4d !important;
  float: right !important;
  width: 210px !important;
  margin-right: 65px !important;
  font-weight: 600 !important;
} */
.success
{
  font-size: 12px !important;
  float: left !important;
  color: #243f76  !important;
  font-weight: bold;
}
input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label{
  top: 8px;
  bottom: 10px;
  left: 20px;
  font-size: 11px;
  opacity: 1;
}

.inputText {
  font-size: 14px;
  width: 200px;
  height: 35px;
}

.floating-label {
  position: absolute;
  pointer-events: none;
  left: 20px;
  top: 18px;
  transition: 0.2s ease all;
}
.customToogle{
  border: 1px solid #0b72b5;
  border-radius: 20px;
  height: 20px;
  float: left;
  width: 46px;
}
.ng-toggle-switch-label .ng-toggle-right{
  right: 4px !important;
} 
.customToogle label { width: auto !important;}
.customToogle input { margin: 0 !important;}
.customToogle span { margin: 0 !important; }