<div class="pagewrapper bluegrdbg whitebg">
<div class="mainbody">
   <div class="innerwrap main_inner_wrapper">
      <!--  <div class="mobile">
         <ul>
           <li *ngIf="!showmenu" class="anmelden float-right"><a id="#" routerLink="/" translate class="text-right"><strong>LogIn</strong></a></li>
         </ul>
         </div> -->
      <div class="full_header">
         <div class="logowrap static_logowrap">
            <div class="logo">
               <a routerLink="/">
               <img src="assets/images/logo.svg" alt=""></a>
            </div>
         </div>
         <div class="innerwrap-right width87">
            <ul id="tabs" class="static_tabs">
               <li *ngIf="showmenu"><a id="tab1" routerLink="/dashboard" >Dashboard</a></li>
               <li *ngIf="showmenu"><a id="tab2" routerLink="/compare" translate>compare</a></li>
               <li *ngIf="showmenu" class="anmelden float-right"><a id="tab2" (click)="logout()" translate>logout</a></li>
               <li *ngIf="!showmenu"><a id="tab1" routerLink="/" >Dashboard</a></li>
               <li *ngIf="!showmenu"><a id="tab2" routerLink="/" translate>compare</a></li>
               <li *ngIf="!showmenu" class="anmelden float-right"><a id="#" routerLink="/" translate class="text-right">LogIn</a></li>
            </ul>
         </div>
      </div>
      <div class="clearfix"></div>
      <div class="content_wrapper">
         <div class="left_content">
            <h2>Erkenne Deinen Wert.</h2>
            <h3>Steigere Deine Chancen!</h3>
            <small>Slected hat eine Lösung Entwickelt</small>
            <p>Anhand deines Lebenslaufs ermitteln wir deinen Wert. Unsere Anwendung nimmt dir den Stress und gibt dir die Sicherheit auf dem Arbeitsmarkt.</p>
         </div>
         <div class="right_content">
            <img src="https://dummyimage.com/462x384/d3d5eb/101226.jpg">
         </div>
      </div>
      <div class="content_wrapper second_content_wrapper second_content_wrapper_margin">
         <div class="left_content">
            <h2>Erkenne Deinen Wert.</h2>
            <h3>Steigere Deine Chancen!</h3>
            <small>Slected hat eine Lösung Entwickelt</small>
            <p>Anhand deines Lebenslaufs ermitteln wir deinen Wert. Unsere Anwendung nimmt dir den Stress und gibt dir die Sicherheit auf dem Arbeitsmarkt.</p>
            <button type="button" class="content_btn">Erfahre Mehr</button>
         </div>
         <div class="right_content">
            <img src="https://dummyimage.com/462x384/d3d5eb/101226.jpg">
         </div>
      </div>
   </div>
</div>
<div class="blue_gradiant_wrapper">
   <div class="innerwrap main_inner_wrapper">
      <h2>Erkenne Deinen Wert.</h2>
      <h3>Steigere Deine Chancen!</h3>
      <small>Slected hat eine Lösung Entwickelt</small>
      <p>Anhand deines Lebenslaufs ermitteln wir deinen Wert. Unsere Anwendung nimmt dir den Stress und gibt dir die Sicherheit auf dem Arbeitsmarkt.</p>
      <button type="button" class="content_btn">Erfahre Mehr</button>
   </div>
</div>
<div class="innerwrap main_inner_wrapper">
<div class="content_wrapper second_content_wrapper footer_content_wrapper">
   <div class="left_content">
      <h2>Erkenne Deinen Wert.</h2>
      <h3>Steigere Deine Chancen!</h3>
      <small>Slected hat eine Lösung Entwickelt</small>
      <p>Anhand deines Lebenslaufs ermitteln wir deinen Wert. Unsere Anwendung nimmt dir den Stress und gibt dir die Sicherheit auf dem Arbeitsmarkt.</p>
      <button type="button" class="content_btn">Erfahre Mehr</button>
   </div>
   <div class="right_content">
      <img src="https://dummyimage.com/462x384/d3d5eb/101226.jpg">
   </div>
</div>
<div class="desktop">
   <div class="innerpagefooter">
      <a href="#" title="share"><img src="images/share.svg" alt=""></a>
      <a href="#" title="mail"><img src="images/mail.svg" alt=""></a>
      <span><a (click)="switchLanguage('de')" title="DEUTSCH">DE</a> <a>|</a> <a (click)="switchLanguage('en')" title="ENGLISH">EN</a></span>
      <span translate>copyrights</span>
      <span class="right_static_footer">
      <a routerLink="/help" translate>help</a>
      <a routerLink="/imprint" translate>Imprint</a>
      <a routerLink="/dataprotect" translate>data protection</a>
      </span>
   </div>
</div>
<div class="mobile">
   <div class="leftouterwrap_bottom">
      <div class="leftfooter">
         <div class="signup_title_icon">
            <img src="assets/images/slectedLogoIcon.svg" alt="">
         </div>
         <div class="footercenterelement">
            <span><a href="#" title="share"><img src="assets/images/share.svg" alt=""></a>
            <a href="#" title="mail"><img src="assets/images/mail.svg" alt=""></a>
            <a (click)="switchLanguage('de')" title="DEUTSCH">DE</a> <a>&nbsp;|&nbsp;</a> <a (click)="switchLanguage('en')" title="ENGLISH">EN</a></span>
         </div>
         <div class="rightfooter">
            <a routerLink="/help" translate>help</a>
            <a routerLink="/imprint" translate>Imprint</a>
            <a routerLink="/dataprotect" translate>data protection</a>
         </div>
         <div translate class="copyright">copyrights</div>
      </div>
   </div>
</div>